[2020-09-04 15:11] liamie commented on #198
Doesn't matter what option chosen in the Irish section modal keeps reappearing
when you set the language to Irish
![image](https://user-images.githubusercontent.com/55874862/92254442-d0130a00-eec8-11ea-9d9e-c8daf90356b1.png)

using Build Import on a dual language file all of the options just return back to the same modal
![image](https://user-images.githubusercontent.com/55874862/92254295-95a96d00

[2020-09-04 15:29] liamie commented on #187
Work in progress seems fine,
Pending live has the url present

[2020-09-07 09:47] damienderoistecso opened #206 "[ENHANCEMENT] Update - handle invalid data csv with an error"
*Describe the solution you'd like**
If you try and update a px file with a data csv file that has no valid records, display an error modal instead of the report modal.

This will make it more obvious to people if they have an invalid data csv file

[2020-09-07 09:52] damienderoistecso commented on #206
@liamie ready for test

[2020-09-07 10:30] liamie commented on #194
Regular import of new px file correct
Import of already work in progress correct
Import of px file without a time val correct for single en language. Problem with dual/ga language as in #198

[2020-09-07 12:00] liamie commented on #206
This is inconsistent..
A file with just headings and no data so therefore no valid  seems to pass correctly to produce an updated px file report

A file with a line containing all "1" for data produced the error message about invalid data
![image](https://user-images.githubusercontent.com/55874862/92384264-aeec2c80-f107-11ea-9e40-60fe652661eb.png)

However after this if you do a reset in the data

[2020-09-07 12:31] neilfromcork commented on #198
Fixed in DEV - ready for test. Not committed to release 2.5

[2020-09-07 13:09] liamie commented on #198
This seems to be correct now tested with E1071

[2020-09-07 13:18] liamie opened #207 "[BUG] Last updated tables inconsistent"
In the Irish the table seems to be listed twice
![image](https://user-images.githubusercontent.com/55874862/92391406-8b7bae80-f114-11ea-878a-acadc55a9b87.png)

In the English only once in the list
![image](https://user-images.githubusercontent.com/55874862/92391652-f927da80-f114-11ea-8fc9-285c2903b8d4.png)

[2020-09-07 14:39] damienderoistecso commented on #206
@liamie ready for re-test

[2020-09-07 15:22] liamie commented on #206
This seems to be correct now.
File with just correct headers produced error
File with correct headers and lines of data but all incorrect produced error
File with correct header data and some lines correct and incorrect produced report
And all seemed to be acting independently with data resets.

[2020-09-08 15:26] neilfromcork opened #208 "[BUG] Wrong data shown in updated px file in Build"
If a dataset is undergoing build and the associated csv data is invalid, the build proceeds anyway but with wrong data.

[2020-09-09 11:10] CHanamy57 commented on #188
@liamie Cache front end entity at system/cache ready for testing.

[2020-09-09 11:41] neilfromcork commented on #208
Ready for test

[2020-09-09 13:26] damienderoistecso commented on #188
@liamie Can you hold off on this please. I have some changes to talk to @CHanamy57 about

[2020-09-09 13:28] liamie commented on #188
Okay. But note I have already cleared cache with button to test.

[2020-09-09 13:43] damienderoistecso commented on #188
No problem. It's just visual changes.

[2020-09-09 14:35] liamie commented on #208
first used of update data with new data resulted in an error which didn't appear when update pressed a second time with same data

[2020-09-09 14:44] neilfromcork commented on #207
Fixed - data issue. Ready for test

[2020-09-09 15:04] liamie commented on #207
This appears correct now

[2020-09-09 15:32] neilfromcork commented on #207
Change also done on sp

[2020-09-09 15:40] neilfromcork commented on #187
Pending live should be ok now too.

[2020-09-09 15:45] CHanamy57 commented on #188
@liamie Changes finished, ready for testing

[2020-09-10 10:57] liamie commented on #187
This seems to be correct now.

[2020-09-10 13:47] liamie commented on #188
This seems to be correct and reflects the data in the API

[2020-09-11 11:00] neilfromcork commented on #208
Issue temporarily fixed by replacing multithreaded function with serial versions

[2020-09-13 11:17] lorenzobruni commented on #200
Change implemented by using the standard Bootstrap functional colors:
* bg-warning (for highlight purpose)
* bg-danger (for highlight purpose)
* bg-primary (to reflect branding colors)
* bg-secondary (to reflect branding colors)
* bg-tertiary (to reflect branding colors)

[2020-09-13 11:17] lorenzobruni commented on #200
Test passed

[2020-09-13 13:42] lorenzobruni opened #209 "[ENHANCEMENT] Upgrade Cookie Consent"
Upgrade the **Cookie Consent** plugin to Accept/Reject explicit cookies.
When Cookies are rejected, the application must be forced to be reloaded in order to reset cookies implemented with a different Cookie Domain.

[2020-09-13 14:10] lorenzobruni commented on #209
Implemented and Tested.
Privacy Policy reviewed as well.

[2020-09-14 09:13] lorenzobruni commented on #209
N.B. ShareThis refactored to work with the updated Cookie Consent as well.

[2020-09-14 10:15] Chriz-ONeill opened #210 "Moderator Sign off"
Option to allow moderators with approval status to be able to sign off a publication rather than only power users and admin, so all 3. The ability for moderators to be able to assign the navigation and to be able to use the toggles (Analytical/Dependency).

[2020-09-14 10:31] damienderoistecso opened #211 "[BUG] Chart type still visible when viewing map"
**Describe the bug**
If you generate a chart from data and then search for another table. If you go to this table and view the map tab, the chart type dropdown is still visible

[2020-09-14 10:32] damienderoistecso commented on #211
Fixed: When you click on the map tab, all other tab contents are set to be not shown and not active

[2020-09-14 15:29] damienderoistecso commented on #186
Fixed issue with analytics not displaying from dashboard

[2020-09-14 22:17] lorenzobruni opened #212 "[BUG] Username link not working in Workflow History"
All links to pop up the username details is not working in the Workflow History - Details modal.
![image](https://user-images.githubusercontent.com/53212047/93143768-7d172f00-f6e0-11ea-9410-e9028afa78ed.png)

[2020-09-14 22:18] lorenzobruni commented on #212
Fixed & Test passed

[2020-09-14 22:32] lorenzobruni commented on #210
Hi @Chriz-ONeill,
Regarding the first query, this is already possible :-)
Please see all details under this post https://github.com/CSOIreland/PxStat/issues/122

To put it simple, this feature is called "fast-track" and it allows you to configure any type of 1, 2 or 3 step workflow agaisnt each role... a lot of combinations!

You can choose the settings under the `/Resources/Config/config.blobal.j

[2020-09-14 22:37] lorenzobruni commented on #210
Regarding the Analytics/Dependency flag, we may discuss their actual need to exist... because apparently they aren't used as originally intended...
I leave this topic opened and get back to you as soon as possible.

Cheers

[2020-09-14 23:30] lorenzobruni opened #213 "[ENHANCEMENT] Speed-up loading of a Release"
Change the loading of a Release by using parallel Ajax calls where possible.

[2020-09-14 23:31] lorenzobruni commented on #213
`app.release.load()` method implemented to run in parallel the main Ajax calls responsible to load the data of a release.

[2020-09-14 23:32] lorenzobruni commented on #213
Fixed and Tested.

[2020-09-14 23:40] lorenzobruni opened #214 "[ENHANCEMENT] Skip Back-Button check where page reload is required"
Do not check for back-button related activity when page reload is required
[code]
![image](https://user-images.githubusercontent.com/53212047/93148553-054f0180-f6ec-11ea-97b7-d463feb8098c.png)

[2020-09-15 11:45] lorenzobruni commented on #214
Fixed and tested

[2020-09-15 11:47] lorenzobruni commented on #208
@neilfromcork
can you please confirm if the parallel multi-threaded process has been re-instated by using a struct/object rather than a Dictionary based implementation?
Thanks

[2020-09-15 11:47] lorenzobruni commented on #208
@neilfromcork
can I mark it tested?

[2020-09-15 13:57] #186 closed

[2020-09-15 13:57] #187 closed

[2020-09-15 13:57] #188 closed

[2020-09-15 13:57] #189 closed

[2020-09-15 13:57] #190 closed

[2020-09-15 13:57] #191 closed

[2020-09-15 13:57] #192 closed

[2020-09-15 13:57] #193 closed

[2020-09-15 13:57] #194 closed

[2020-09-15 13:57] #195 closed

[2020-09-15 13:57] #196 closed

[2020-09-15 13:57] #197 closed

[2020-09-15 13:57] #198 closed

[2020-09-15 13:57] #200 closed

[2020-09-15 13:57] #201 closed

[2020-09-15 13:57] #202 closed

[2020-09-15 13:57] #203 closed

[2020-09-15 13:57] #206 closed

[2020-09-15 13:57] #207 closed

[2020-09-15 13:57] #208 closed

[2020-09-15 13:57] #209 closed

[2020-09-15 13:57] #211 closed

[2020-09-15 13:57] #212 closed

[2020-09-15 13:57] #213 closed

[2020-09-15 13:57] #214 closed

[2020-09-15 13:58] #112 closed

[2020-09-15 13:58] #170 closed

[2020-09-15 13:58] #175 closed

[2020-09-15 13:58] #176 closed

[2020-09-15 13:58] #177 closed

[2020-09-15 13:58] #178 closed

[2020-09-15 13:58] #179 closed

[2020-09-15 13:58] #180 closed

[2020-09-15 13:58] #181 closed

[2020-09-15 13:58] #182 closed

[2020-09-15 13:58] #183 closed

[2020-09-15 13:58] #184 closed

[2020-09-16 08:28] liamie opened #215 "[BUG] [uploaded by] label not correct in comparison report modal"
**Describe the bug**
[uploaded by] label not correct in source section of comparison report modal

Go to a release with a live to compare to
Click Compare Release Button

![image](https://user-images.githubusercontent.com/55874862/93312222-dd9c8e00-f7fe-11ea-858a-80cacb1a1e5f.png)

[2020-09-16 09:50] damienderoistecso commented on #215
Fixed in Dev

@liamie ready for test

[2020-09-16 10:06] damienderoistecso opened #216 "[ENHANCEMENT] Release page enhancements"
**Describe the solution you'd like**
Some layout changes to make some tasks easier/more intuitive

- Create a second comparison button in the workflow card to increase visibility and encourage it's use

- Create a more visible "Download Source" button as this is a widely used and frequent task in the updating of tables

[2020-09-16 11:14] neilfromcork opened #217 "[ENHANCEMENT] Implement PxAPIv1 as a RESTful API"
Implement PxAPIv1 as a RESTful API similar to https://www.scb.se/en/services/oppna-data/api-for-the-statistical-database/ on the front end

[2020-09-16 11:19] neilfromcork commented on #217
Backend completed and tested e.g. https://dev-ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.PxAPIv1/en/SBJ01/PRD01/HPM01

[2020-09-16 13:36] neilfromcork commented on #204
Server side complete - PxStat.Build.Build_API.ReadDataset

[2020-09-17 08:07] liamie commented on #215
This is correct now.

[2020-09-21 08:31] damienderoistecso commented on #217
Refactored client side config to separate jsonrpc and restful api url's

[2020-09-21 09:20] damienderoistecso commented on #216
Not practical due to dual language feature. Download source and comparison must have the option to toggle language

[2020-09-21 09:21] #216 closed

[2020-09-21 09:30] damienderoistecso commented on #217
Implemented on client

@liamie @JohnPCarroll ready for test

[2020-09-21 09:45] damienderoistecso commented on #217
![image](https://user-images.githubusercontent.com/53211688/93753150-985dcf00-fbf7-11ea-89d9-35313888ed5c.png)

[2020-09-21 14:54] Chriz-ONeill opened #218 "Invalid column name 'NLT_LNG_ISO_CODE' while updating to 2.5.0"
While trying to update to version 2.5.0 of the table builder there seems to be what could be a bug with the database side code.
This appears to be being caused by a new column name “NLT_LNG_ISO_CODE” in db\StoredProcedures\Security\Security_Analytic_ReadEnvironmentLanguage.sql which is being reported as ‘invalid’ and is throwing up the following error:

ERROR C:\Users\oneillchra\Desktop\db\StoredP

[2020-09-22 08:30] damienderoistecso commented on #217
Added feature to disable json-stat 1.1 format if in pxapi v1 tab as this format is not supported in the API

[2020-09-22 12:10] neilfromcork opened #219 "[BUG] id, role and size fields need to exist at a dimension collection level on JSON-stat1.1"
id, role and size fields need to exist all together at a dimension collection level on JSON-stat1.1 and must not be shown at an individual dimension level

[2020-09-24 08:22] damienderoistecso opened #220 "Browse menu toggle on search"
**Describe the bug**
When you search for something the browse menu hides by a toggle. When you perform a second search, the menu re-opens because we use a toggle instead of hide

**Expected behavior**
Menu should always hide when display search results

[2020-09-24 09:08] damienderoistecso opened #221 "Product Listing Results - Define logic to order"
**Describe the solution you'd like**
Define a logic to order the results from a product search results

[2020-09-24 09:40] damienderoistecso opened #222 "[ENHANCEMENT]Review cookie consent banner for share this feature"
**Describe the solution you'd like**
Find a better way to show the share this feature based on accept/reject non-essential cookies

[2020-09-24 15:55] CHanamy57 commented on #204
@neilfromcork Bug when you call with "labels, false" - removes header row instead of removing label column.

[2020-09-25 09:48] damienderoistecso commented on #220
Fixed in Dev

@liamie @JohnPCarroll ready for test

[2020-09-25 10:19] #218 closed

[2020-09-25 10:21] damienderoistecso commented on #221
@neilfromcork Currently when you return data from "PxStat.System.Navigation.Navigation_API.Search" based on a product search, each item has a score of 0. Once we agree a logical score of products, the score should reflect this.

[2020-09-25 13:16] damienderoistecso commented on #221
@neilfromcork  Order the results with the following logic

- First rank by non-archived and then archived
- Next by date last updated (newest first)
- Next by alphabetical (a-z)

[2020-09-28 09:35] neilfromcork commented on #204
Fixed in DEV - ready for test

[2020-09-28 13:04] JohnPCarroll opened #223 "[BUG] Filter search not working for products for prodcom sales tables"
**Describe the bug**
The filter search fails when searching on the product. No results returned. Tables affected PCA18, PCA17 and PCA16

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Table PCA18
2. on Product enter "ores"
3. Nothing returned

**Expected behavior**
Product listing containing ores should be returned.

[2020-09-28 16:06] neilfromcork opened #224 "[ENHANCEMENT] Speed up search by keying on sorted search terms and storing formatted output"
Speed up search by keying on sorted search terms and storing formatted output

Currently the raw output from the database read is the cached value. This should be changed to the formatted output in order to reduce the amount of work to be done at each read.

[2020-09-28 16:09] neilfromcork opened #225 "[ENHANCEMENT] Get the global and server configuration from the files but use the cache to speed access"
Config stored on a static object is unreliable due to IIS setup. Change this to be file based but use the cache to improve access. Use an API to return two separate caches rather than one merged cache.

[2020-09-29 07:16] damienderoistecso commented on #221
Following review of product listing the following was decided.

- For both search and product navigation, add an alpha sorting option based on table code

- For search, set the default sorting to relevance

- For product search, disable/remove relevance sorting option

- Set default sorting for product navigation to Newest first

- Reverse order of Table Title and Table ID on both search results p

[2020-09-29 07:18] damienderoistecso opened #226 "[ENHANCEMENT] Re-order LHS of data view page"
**Describe the solution you'd like**
In the data view page order the LHS as follows

- Note

- Reasons

- Download

- Share

- Contact

[2020-09-29 07:20] damienderoistecso opened #227 "[ENHANCEMENT] Remove dependency flag"
**Describe the solution you'd like**
Remove dependency flag from entire project. Redundant feature

[2020-09-29 07:21] damienderoistecso opened #228 "[ENHANCEMENT] Config - Use API to get config"
**Describe the solution you'd like**
Use new API to read config rather than directly from file

[2020-09-29 09:01] neilfromcork commented on #224
Fixed in DEV - ready for test.

[2020-09-29 11:08] neilfromcork commented on #227
Completed on server side. - Requires extensive regression testing

[2020-09-29 16:19] lorenzobruni commented on #222
Cookie Notice implemented according to ePD and new coming ePR.

[2020-09-29 16:19] lorenzobruni commented on #222
@damienderoistecso please test? Thanks

[2020-09-29 20:24] lorenzobruni commented on #210
@Chriz-ONeill the `Dependency Flag` has been removed in this Issue #227
We are going to keep the Analytics for longer to see how it works out.
Cheers

[2020-09-29 20:24] #210 closed

[2020-09-29 20:26] lorenzobruni commented on #107
@liamie
We have recently reviewed the whole Cookie consent affecting the ShareThis plugin too.
The specific Warning was coming because of Cross-sire resources from ShareThis that apparently have bene fixed?

Can you Please confirm if this does not happen anylonger? Thanks

[2020-09-29 20:27] lorenzobruni commented on #107
This was under the Issue #222

[2020-09-29 20:57] lorenzobruni commented on #100
@liamie
This Warning is generated by an unusual Bootstrap CSS property.
As part of this Issue, Bootstrap has been upgraded to v4.5.2
The warning persist despite the upgrade.

Can you please run an overall check to verify the upgraded version of Bootstrap is not causing issues.

Thanks

[2020-09-29 20:58] lorenzobruni commented on #100
@damienderoistecso and @CHanamy57
FYI, we are now targeting **Bootstrap 4.5.2**

[2020-09-29 21:06] lorenzobruni commented on #141
@damienderoistecso
Can we address this one together with fixing the breadcrumb for Products.

[2020-09-29 21:07] lorenzobruni commented on #109
@damienderoistecso
FYI, this is the known & missing feature for having the breadcrumb for Products.

[2020-09-29 21:10] lorenzobruni commented on #111
@liamie
This should be fixed.
The Copy URL should stretch longer and the icon should adapt both ways...

[2020-09-29 21:32] lorenzobruni commented on #116
@liamie
The fix to this issue has been already posted into the original GitHub project.
I have asked to commit and issue a new release for this fix... let's see.
https://github.com/minhur/bootstrap-toggle/issues/125

If not committed shortly we will have to fork the project ourself.
We stay tuned.
Cheers

[2020-09-29 21:52] lorenzobruni commented on #135
Fixed
@JohnPCarroll can you please test, thanks

[2020-09-29 21:55] lorenzobruni commented on #134
@liamie
I looked into it but I couldn't find a solution.. .there are simply too many rows to paginate... I'm afraid I must close this as "wont fix".. .GULP!

[2020-09-29 21:55] #134 closed

[2020-09-29 21:57] lorenzobruni commented on #174
Thanks @JohnPCarroll
Both should be fixed.

![image](https://user-images.githubusercontent.com/53212047/94620825-28121600-02a7-11eb-8071-466824c0f77c.png)

[2020-09-30 08:37] neilfromcork commented on #225
Enhancement complete - this ideally requires full regression testing

[2020-09-30 08:49] liamie opened #229 "[BUG] Cookie Consent Bar disappears after clicking manage cookies link"
**Describe the bug**
The cookie consent bar disappears and does not reappear when you click on the Manage Cookies link no matter what actions are taken on the policy screen even just close.

This means that cookie consent bar is removed even without providing consent by clicking on the allow button.

![image](https://user-images.githubusercontent.com/55874862/94663529-ac918280-0301-11eb-8bbd-666d0

[2020-09-30 09:39] liamie opened #230 "[ENHANCEMENT] Inform Internet Explorer users/other browsers unsupported"
Some information message for unsupported browsers users of how to get or what supported browsers rather than blank screen.

![image](https://user-images.githubusercontent.com/55874862/94668761-5411b380-0308-11eb-89c0-e6d68bc8344a.png)

[2020-09-30 09:42] damienderoistecso commented on #228
@CHanamy57

New api is "PxStat.Security.Configuration_API.Read"

This return two objects. One for global config, another for server config. In our "app.configuration.ajax.getFiles" function replace the two "api.ajax.config" functions for getting global and server configs with one api.ajax.jsonrpc.request where the call back populates our server and global config objects. The rest of the code shoul

[2020-09-30 10:12] liamie commented on #111
Buttons appearing and disappearing correctly in chrome

[2020-09-30 10:39] CHanamy57 commented on #204
Fixed in Dev, ready for test @JohnPCarroll @liamie

[2020-09-30 15:08] lorenzobruni commented on #229
Fixed... please note the following.

When you click on **Manage Cookies**, then the **Privacy** statement scrolls down to the **Cookie** section where the user can simply acknowledge the fact that non essential cookies are by default disallowed and the banner closes... otherwise there wont be an action triggered to close the banner.

Feel free to give me a call to discuss if still an issue.

P.S.

[2020-10-01 07:17] neilfromcork opened #231 "[BUG] Build update fails to add new data"
For a dataset where the number of added periods greatly exceeds the number of existing periods, PxStat is refusing to update some of those entries

[2020-10-01 07:21] neilfromcork commented on #231
Fixed - ready for test. Example files attached. Files are suffixed with ".txt" to enable insertion into github
[TSM02_5_2_20200929T170933 (1) - Copy.px.txt](https://github.com/CSOIreland/PxStat/files/5310078/TSM02_5_2_20200929T170933.1.-.Copy.px.txt)
[tsm02_tsm23_1970_2020_v2 - Copy.csv.txt](https://github.com/CSOIreland/PxStat/files/5310086/tsm02_tsm23_1970_2020_v2.-.Copy.csv.txt)
[dates_from_199

[2020-10-01 08:13] damienderoistecso commented on #228
@neilfromcork Can you create a private RESTful version of "PxStat.Security.Configuration_API.Read" so we can read it from the client and merge with our client config

[2020-10-01 09:01] damienderoistecso commented on #226
fixed in dev

@JohnPCarroll @liamie ready for test

[2020-10-01 10:18] damienderoistecso commented on #226
fixed in dev

@JohnPCarroll @liamie ready for test

[2020-10-01 10:20] lorenzobruni opened #232 "[BUG] HREF swapped in ReadCollection API result"
**Describe the bug**
The href in the ReadCollection output points to Json-stat 1.1 instead of 2.0
This is swapped with the alternate link.

![image](https://user-images.githubusercontent.com/53212047/94797449-082e3f80-03d8-11eb-94ad-c4fe61f90657.png)

[2020-10-01 10:49] liamie commented on #226
They now appear in that order.
Browse appears above those listed. Note and Reasons only appear if value present.

[2020-10-01 11:24] liamie opened #233 "[BUG] Live public comment not updated if deleted only"
On a live table a public comment will not update if only deleted in the release page, the old comment remains in data view.
![image](https://user-images.githubusercontent.com/55874862/94803280-f8672900-03e0-11eb-8c46-3258bfef7a7b.png)

A public comment updates to the correct information in data view if a new comment or updated comment is added in the release.

If a live public comment is deleted i

[2020-10-01 13:40] liamie commented on #227
Option no longer available on reasons screens any stage

[2020-10-01 13:42] neilfromcork commented on #228
RESTful version available for test - https://dev-ws.cso.ie/private/api.restful/PxStat.Security.Configuration_API.Read

[2020-10-01 14:52] JohnPCarroll commented on #231
Test passed. Used test files supplied

[2020-10-01 15:13] neilfromcork commented on #232
Fixed in DEV. Ready for test. Note - watch out for cached data.

[2020-10-02 08:08] liamie commented on #204
![image](https://user-images.githubusercontent.com/55874862/94901468-9b29b100-048e-11eb-91eb-463e24f208b5.png)

If new periods are added they appear in the Modal but are not included in the csv download even if selected or all periods are chosen.

[2020-10-02 09:12] damienderoistecso commented on #204
@neilfromcork Can you look at this on the server side. It look like we are sending the new periods but they are not included in the csv

@CHanamy57 Can you close the modal after a successful ajax call.  $('#build-update-download-csv-file').modal("hide") in the ajax call back should do the trick;

[2020-10-02 09:16] damienderoistecso opened #234 "[ENHANCEMENT] Update: Check threshold as you add new periods rather than at the end"
**Describe the solution you'd like**
Currently we only check that we have not exceeded the threshold when we attempt to create the px file. We should do this every time the user adds new periods instead. It will tell the user sooner if they have a problem with the size of the file.

[2020-10-02 09:49] damienderoistecso commented on #221
Fixed in client

@liamie @JohnPCarroll ready for testing

[2020-10-02 11:21] CHanamy57 commented on #228
Configuration entity now displays global & server config from API rather than from File.

[2020-10-05 08:50] lorenzobruni commented on #233
@damienderoistecso this is not a front-end issue bit rather related to a non-cleared CAS-Cache entry for a Table/Matrix.
The CAS-Cache gets correctly deleted when the Public comment is updated, but not when deleted.

I have reassigned this bug to both @liamie and @neilfromcork

@neilfromcork can you please guide @liamie though the CAS-Cache management, so that he can work on it?

Thanks

[2020-10-05 09:38] damienderoistecso commented on #234
Not practical due to multi-language files. Will leave as it is

[2020-10-05 09:38] #234 closed

[2020-10-05 10:52] JohnPCarroll commented on #135
Test passed

[2020-10-05 13:15] JohnPCarroll commented on #221
Test Passed

[2020-10-05 13:27] JohnPCarroll opened #235 "[BUG] In development environment new tables added not appearing in relevant product listings etc"
**Describe the bug**
Tables added not shown and counts incorrect bar initial menu
**To Reproduce**
Steps to reproduce the behavior:
1. Added 2 tables and released live
2. Tables are on Last Updated tables.
3. Counted in Listing
4. Do not appear in table listing or included in other counts

**Expected behavior**
When the tables go live they should appear on relevant pages and be included in all cou

[2020-10-05 13:53] damienderoistecso commented on #223
Fixed in dev

@JohnPCarroll ready for test

[2020-10-05 14:08] JohnPCarroll commented on #223
Test Passed

[2020-10-05 14:36] liamie commented on #221
![image](https://user-images.githubusercontent.com/55874862/95093090-47ce9180-0720-11eb-9379-777115c3d0d7.png)

PCA18 not appearing in a search by table name seems to be ok for other tables maybe related to #223 either

[2020-10-05 14:38] damienderoistecso commented on #235
@neilfromcork appears to be an issue with "PxStat.System.Navigation.Navigation_API.Search". New tables appearing in ReadCollection but not through the search

[2020-10-05 14:47] damienderoistecso commented on #204
@neilfromcork Small issue with "PxStat.Build.Build_API.ReadDataset"

Result is sending back null for MtrCode

![image](https://user-images.githubusercontent.com/53211688/95094651-0939d680-0722-11eb-9aa3-c45c675a75de.png)

[2020-10-05 15:27] neilfromcork commented on #235
Fixed in DEV - ready for test

[2020-10-05 15:56] neilfromcork commented on #204
@damienderoistecso - should be ok now

[2020-10-05 16:02] damienderoistecso commented on #235
@JohnPCarroll @liamie ready for test

[2020-10-06 07:37] neilfromcork opened #236 "[BUG] Newline character in the middle of VALUES in a px file causes validate problems"
If VALUES fields in a px file are long, and contain a newline character, the newline is carried into the process and validation fails

Example file:
[NQQ46.20201005T131012.px.txt](https://github.com/CSOIreland/PxStat/files/5332066/NQQ46.20201005T131012.px.txt)

[2020-10-06 07:39] neilfromcork commented on #236
Fixed in DEV, ready for test

[2020-10-06 07:42] damienderoistecso commented on #204
@neilfromcork This is working now and also the updated px file includes any new periods added

[2020-10-06 07:45] damienderoistecso commented on #228
@CHanamy57 Following a benchmarking review, we have decided to revert to always reading config directly from files, both on server and client. This means we will have to revert any changes to the client side config entity to before we implemented the change to use the API to get the global and server config. Also the Reload config feature is now redundant and can be removed after we revert the cha

[2020-10-06 07:49] JohnPCarroll commented on #235
test passed

[2020-10-06 08:29] JohnPCarroll commented on #236
Test passed. Used file NQQ34 for testing
[NQQ34.px.txt](https://github.com/CSOIreland/PxStat/files/5332338/NQQ34.px.txt)

[2020-10-06 09:16] damienderoistecso commented on #228
@CHanamy57 as per our discussion, I can confirm that we cannot revert to a revision from a previous branch. Can you go ahead and revert the code manually, remove the reload functionality and commit under this enhancement

[2020-10-06 12:04] liamie opened #237 "[BUG] Inconsistent approach to Historical Releases"
On the release page public comments section of an historical page

![image](https://user-images.githubusercontent.com/55874862/95198425-24185380-07d3-11eb-9454-820e954a22a4.png)
The update button is greyed out but the delete button can still be used to delete the comment

Neither option should be available on an historical release

On the server the api currently allows for update and delete of pu

[2020-10-06 12:14] JohnPCarroll opened #238 "[BUG] Charts not correctly displayed for some tables eg HS119"
**Describe the bug**
Incorrect details displayed. Two series requested but only one is shown for column and bar charts. Charts created for most other tables appear to be correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Select Year
2. For Series 1 select "All social groups" and for series 2 select "2" along with the one statistic
3. All series not shown and chart contains duplicate va

[2020-10-06 13:02] damienderoistecso commented on #238
@JohnPCarroll There is no bug here. The reason you cant see Series 2 is that the value of series 2 is 50.7. The y-axis start at 50.0 so you can't see the bar with the naked eye. If you expand options and set Auto-scale to false, you can then see both series. Unfortunately we can't know whether to set auto-scale to true or false on a chart by chart basis. It probably works better overall if auto-sc

[2020-10-06 13:02] #238 closed

[2020-10-06 13:19] damienderoistecso commented on #237
Client fixed

[2020-10-06 13:53] JohnPCarroll commented on #227
I have added, deleted, made historical and updated tables as well as the properties of tables and all appears to be correct. I turned off and on the various flags and everything passed. All appears to be correct no matter what page I view.

[2020-10-06 15:06] JohnPCarroll commented on #204
When I added a new time period and selected the download CSV data for that period only, it downloaded with values assigned to other time periods. It should contain no values

[2020-10-06 15:35] liamie commented on #232
JSON-stat/2.0 is now primary link
order of alternatives
CSV/1.0
JSON-stat/1.1
PX/2013
XLSX/2007

test passed

[2020-10-06 15:54] liamie commented on #204
I agree when I add time periods now the CSV Metadata columns include the new time periods grouped with existing periods by classification but all the values for the new periods appear at the end of the Value column.

[2020-10-07 09:18] liamie commented on #233
Solution: Modified CAS refresh in Release DeleteComment

[2020-10-07 10:15] neilfromcork commented on #237
Looks ok to me

[2020-10-07 11:39] damienderoistecso commented on #204
@neilfromcork if labels are false, can you remove unit column also

@CHanamy57 Can you rename "Labels" toggle on "Labels and Unit" in modal

[2020-10-07 12:27] liamie commented on #237
Fixed now to not update, create or delete on historical releases.
Assigned to @JohnPCarroll to test for any impact on public comments elsewhere

[2020-10-07 13:38] JohnPCarroll commented on #237
Update and delete are unavailable for historical release.
Issue with live Release. If you decide to update a public comment and then select the cancel button. The new comment remains if you go back in. The old one should appear.
![image](https://user-images.githubusercontent.com/44975474/95338244-a6277b80-08aa-11eb-9502-346e1bb2547b.png)

[2020-10-07 13:56] damienderoistecso commented on #237
Fixed in dev

@JohnPCarroll ready for test

[2020-10-07 14:30] JohnPCarroll commented on #237
Issue with comment amended in update modal not resolved. The same happens if you Add a public comment. The comment entered is not removed if you select the add or update buttons

[2020-10-07 14:52] liamie commented on #221
Issue with PCA18 seems to resolved now. Test passed

[2020-10-07 15:07] damienderoistecso commented on #237
@JohnPCarroll Fixed now in dev ready for test

[2020-10-08 07:45] JohnPCarroll commented on #237
Issue with comments not resetting to initial value in modal add and update comments resolved.
Test past in relation to historical buttons not active

[2020-10-08 09:11] JohnPCarroll commented on #233
Test passed. If a public comment is deleted it is gone from all views

[2020-10-08 13:33] liamie commented on #107
This warning appears to have been cleared

[2020-10-09 12:36] lorenzobruni commented on #116
I have forked the https://github.com/CSOIreland/bootstrap-toggle repository to implement this fix.

The tootles are now working with tab-keys and they can also be toggles with space/enter keys.
Can you please retest?

Thanks

[2020-10-09 12:36] lorenzobruni commented on #116
FYI @liamie

[2020-10-09 13:50] liamie commented on #116
This issue is mostly fixed now.
Tabbing can pick up the toggle option and space can change the toggle value.
Printing displays the option chosen.
However currently Analytical choice produces a success Modal which disrupts the focus. Can the focus be returned to the toggle on close of the success modal?
Also can there be a distinctive highlight around the toggle when selected it's currently hard to

[2020-10-09 15:18] CHanamy57 opened #239 "[ENHANCEMENT] Accessibility Compliance for Color Coding"
Previous Stylesheet did not meet Accessibility Requirements when tested with Color Contrast Analyzer.
Color Contrast Analyzer Chrome ext:
https://chrome.google.com/webstore/detail/color-contrast-analyzer/dagdlcijhfbmgkjokkjicnnfimlebcll

Stylesheet has been updated to meet Accessibility Requirements with colors from CSO Brand Guidelines & Templates.
Other visual aspects such as muted texts, placeh

[2020-10-12 10:19] liamie commented on #174
Seems to be correct on live for both share link and chart link now

[2020-10-12 13:30] lorenzobruni commented on #116
This is there already... but the button is surrounded by the toggle frame, hence is not very visible... an example below.
![image](https://user-images.githubusercontent.com/53212047/95751792-0184af80-0c97-11eb-8e1b-c4aa624e97fd.png)
![image](https://user-images.githubusercontent.com/53212047/95751844-119c8f00-0c97-11eb-9e9c-f73b887c4850.png)

Sorry I didn't get this one... can you attach a screens

[2020-10-12 13:33] lorenzobruni opened #240 "[ENHANCEMENT] Update Page Title and Language dynamically"
The Page Title in the browser and the Language setting in the HTML code should update automatically when changing page or setting a different language.

[2020-10-12 13:35] lorenzobruni commented on #240
Page Title changes when navigating and Language get set on change.
![image](https://user-images.githubusercontent.com/53212047/95752526-085ff200-0c98-11eb-97f4-0f75bc80dcd3.png)
![image](https://user-images.githubusercontent.com/53212047/95752599-27f71a80-0c98-11eb-9903-222ee8053a37.png)

[2020-10-12 14:14] liamie commented on #116
Ok if the toggle cant be made more distinctive, like group below in the images, because of nesting in the frame can the text of the toggle be emphasised or something similar to provide a visual cue.
This is group selected not toggle
![image](https://user-images.githubusercontent.com/55874862/95754647-401c6900-0c9b-11eb-9329-d52f03c51123.png)
This is toggle selected
![image](https://user-images.git

[2020-10-12 14:43] liamie commented on #204
Added two periods to a file in upload, downloaded csv for all periods some of new periods contained figure data from existing periods and some of the existing periods contained default data fields where they had figures before.

Also when downloaded csv with just the new periods they contained data figures.

[2020-10-12 15:37] liamie commented on #224
Search on Dev does appear to be quicker than live especially on previously searched terms but I am unsure if this is just a volume difference

[2020-10-13 07:20] lorenzobruni commented on #116
@liamie , thanks!
I agree we should address how the focus look because is almost imperceptible.
I will look into the return of the focus...

@damienderoistecso,
can you please inspect the CSS have have a look to how we can improve the visual effect of a focused toggle?
Thanks

[2020-10-13 09:51] liamie commented on #217
Format is listed in dropdown on pxapi v1tap but is disabled for selection as required

[2020-10-13 14:48] damienderoistecso opened #241 "[ENHANCEMENT] Render map with ChartJs library and enable widget"
**Describe the solution you'd like**
Use chartJs to render maps and enable maps to be used as widgets.

[2020-10-13 16:18] damienderoistecso commented on #241
@liamie to test this you will also do an update of your widget dev folder. Then you will have to update lines 18 and 19 of your contstant.js file to point to your local widget code

const C_APP_URL_PXWIDGET_ISOGRAM = "https://dev-data.cso.ie/millarl/2.6.0/widget/js/isogram.js";
const C_APP_URL_PXWIDGET_SNIPPET = "https://dev-data.cso.ie/millarl/2.6.0/widget/snippet.html";

Then do a hard re-load t

[2020-10-13 16:21] damienderoistecso commented on #116
@lorenzobruni possible issue with forked library. When we toggle now, error in console

![image](https://user-images.githubusercontent.com/53211688/95888053-84ca0200-0d78-11eb-9c68-744f8264928d.png)

[2020-10-13 22:34] lorenzobruni commented on #116
I have issued a new release of the bootstrap-toggle with both the console error fixed and the focus/blur enhanced.
The slider changes color then on focus/blur.
![image](https://user-images.githubusercontent.com/53212047/95922355-0470c480-0dab-11eb-811c-b7fcfb34b29c.png)
![image](https://user-images.githubusercontent.com/53212047/95922376-0dfa2c80-0dab-11eb-96b7-d2da7dd7b40a.png)

Unfortunately the

[2020-10-14 09:18] neilfromcork opened #242 "[BUG] Update fails when a duplicate record is found"
Update fails when a duplicate record is found

[2020-10-14 09:19] neilfromcork commented on #242
Fixed in DEV

[2020-10-14 09:20] neilfromcork opened #243 "[BUG] Wrong data on Build csv when a subset of all periods is selected"
Wrong data on Build csv when a subset of all periods is selected - ok when all periods are selected

[2020-10-14 09:21] neilfromcork commented on #243
Fixed in DEV- ready for test

[2020-10-14 11:11] damienderoistecso commented on #241
@liamie I have fixed a bug in the widget code so you will need to do an update of this. Please only use Chrome for now as we have a known bug for Firefox. Also test using DR123 or DR123T only as these tables have the correct map files attached to them.

[2020-10-14 11:42] damienderoistecso commented on #222
Works. Only consideration would be that if you are viewing a table and have not given consent, share this is not displayed which is correct. If you then give consent while still viewing the table, the share this feature remains disabled. Should we run the share this render function if you give consent as you are viewing a table @lorenzobruni What do you think?

[2020-10-14 11:44] damienderoistecso commented on #109
Fixed in Dev

@liamie can you test

[2020-10-14 15:05] liamie commented on #241
Initially I was getting an unexpected error when going to release but that seems to have cleared.

Now visually fine going to a release but in console an error appears (may or may not be related but only occurred since changed widget stuff)
in console
![image](https://user-images.githubusercontent.com/55874862/96007462-675b6d80-0e36-11eb-8c82-99e568956836.png)

Still no map appears when click on m

[2020-10-14 15:19] liamie commented on #109
The clicking on breadcrumb seems to have been resolved and does not return to home.
Some of the breadcrumbs still inconsistent with  their menu locations as per issue #141

[2020-10-15 08:02] damienderoistecso commented on #230
@CHanamy57 Can you do some research on this. Maybe some javascript/jQuery to detect browser type and a switch statement to handle messages depending on browser type/version. You can use a simple HTML page outside of pxStat for the purposes of research.

[2020-10-15 08:43] liamie commented on #141
Breadcrumbs and menus matching.
Separate from the menus
Only things slightly out and a little confusing is the product breadcrumb being used for both individual tables and the product group page.
Since its the path to rather than the path of I'll still mark as tested as bit of a choice thing.
Should we have the individual table names as part of the breadcrumb.

[2020-10-15 08:45] damienderoistecso commented on #241
@liamie Can you do an update on your client. Should work across all browsers now.

[2020-10-15 09:46] damienderoistecso opened #244 "[ENHANCEMENT] Update colours of cards in build/update report modal"
*Describe the solution you'd like**
Change colours to better highlight valid and invalid reports so help user differentiate between both reports

[2020-10-15 09:47] liamie commented on #241
Map and widget renders correctly for the sample set provided. Tested with chrome, firefox, edge and opera.

[2020-10-15 09:48] damienderoistecso commented on #244
@CHanamy57 Can you make sure that this change passes accessibility. Go to build/update, update a px file with some csv data to generate the report modal

[2020-10-15 09:52] damienderoistecso commented on #222
If you toggle cookie consent to allow and you have a table open in the background, the share this feature gets drawn

@liamie ready for test

[2020-10-15 10:48] CHanamy57 commented on #244
Preview report modal passes Accessibility requirement

[2020-10-15 11:04] liamie commented on #243
Tested with multiple files seems to be correct

[2020-10-15 11:40] neilfromcork commented on #204
Fixed in DEV- ready for test @JohnPCarroll

[2020-10-15 14:29] JohnPCarroll commented on #204
Test passed. Used monthly, Quarterly and yearly tables. Added new time periods.  inserted data for new time periods and updated old data for current periods

[2020-10-15 14:43] damienderoistecso commented on #222
@liamie updated to also handle a users accepting cookies through the cookie banner accept button. If you accept cookies through the banner while viewing a table, the share this icons get drawn.

[2020-10-15 15:20] liamie commented on #242
Duplicate records are now ignored and no data altered/updated on rows that exist and defaults are used if value doesn't already exist.

[2020-10-15 15:36] liamie commented on #222
Works as intended when toggled to on.

Note: if consent is removed it boots back to the home page doesn't just undraw/redraw share this, but passed as that may be design choice.

[2020-10-15 15:38] damienderoistecso commented on #222
Yes, if consent is withdrawn, we reload the application to run again with non-essential cookies fully removed

[2020-10-16 12:11] colmanflynn opened #245 "[BUG] Reference period shown on Last Updated Tables on the Beta & Test is incorrect"
As the title says, go to the Last Updated Tables on the Data page. The reference periods for each table do not match with what you see when you click on the table.
![Incorrectly displayed reference periods](https://user-images.githubusercontent.com/59689411/96256674-ff7d6200-0fb0-11eb-802e-8ab1c6a6b539.PNG)

[2020-10-16 12:59] damienderoistecso commented on #245
@neilfromcork order of time variables in "PxStat.Data.Cube_API.ReadCollection" is different from "PxStat.Data.Cube_API.ReadMetadata" and "PxStat.System.Navigation.Navigation_API.Search"

[2020-10-16 13:13] damienderoistecso commented on #245
might be linked to #185

[2020-10-16 20:24] lorenzobruni commented on #240
The issue getting back to the Home has been fixed.
About the Irish language, you are right, simply because the ga.json is not existing yet, so neither the Irish language should be an option in production.... soo we should get the translation :-)

[2020-10-16 20:30] lorenzobruni commented on #245
@neilfromcork
I'm going ahead with the release 2.6.0 Beta anyway, but can you fix this one in Trunk once I complete the release?
So we can make an emergency release 2.6.1 with only this Issue fixed considering the importance.

Thanks

[2020-10-16 21:31] lorenzobruni opened #246 "[BUG] Issues building Release 2.6.0"
## List of pre-release issues:

### [ENHANCEMENT] Change Emergency Release to Exceptional Release #97
The default constraints was not dropped:
- Script 2.6.0 fixed
- Datamodel SQL, PNG, XML fixed

### [ENHANCEMENT] Remove dependency flag #227
Script committed against wrong version 2.5.0 instead of 2.6.0
- Script 2.5.0 reverted
- Script 2.6.0 fixed
- Datamodel SQL, PNG, XML fixed

### Invalid colum

[2020-10-16 21:31] lorenzobruni commented on #97
[BUG] Issues building Release 2.6.0 #246

[2020-10-16 23:43] #217 closed

[2020-10-16 23:43] #219 closed

[2020-10-16 23:43] #221 closed

[2020-10-16 23:43] #222 closed

[2020-10-16 23:43] #223 closed

[2020-10-16 23:43] #224 closed

[2020-10-16 23:43] #225 closed

[2020-10-16 23:43] #226 closed

[2020-10-16 23:43] #227 closed

[2020-10-16 23:43] #228 closed

[2020-10-16 23:43] #229 closed

[2020-10-16 23:43] #231 closed

[2020-10-16 23:43] #232 closed

[2020-10-16 23:43] #233 closed

[2020-10-16 23:43] #235 closed

[2020-10-16 23:43] #236 closed

[2020-10-16 23:43] #237 closed

[2020-10-16 23:43] #239 closed

[2020-10-16 23:43] #240 closed

[2020-10-16 23:43] #241 closed

[2020-10-16 23:43] #242 closed

[2020-10-16 23:43] #243 closed

[2020-10-16 23:43] #244 closed

[2020-10-16 23:43] #246 closed

[2020-10-16 23:43] #100 closed

[2020-10-16 23:43] #107 closed

[2020-10-16 23:43] #109 closed

[2020-10-16 23:43] #111 closed

[2020-10-16 23:43] #116 closed

[2020-10-16 23:43] #135 closed

[2020-10-16 23:43] #141 closed

[2020-10-16 23:43] #174 closed

[2020-10-16 23:43] #204 closed

[2020-10-16 23:43] #215 closed

[2020-10-16 23:48] lorenzobruni commented on #246
@CSOIreland/dissemination
We nee to think of a better way not to forget about DB Scripts and synching the Datamodel... let's share some ideas :-)

[2020-10-19 06:19] likp opened #247 "[BUG] Can not fetch table metadata"
**Describe the bug**
I get HTTP 500 internal server error when trying to fetch the table metadata when using Postman or from C# code. Pasting it in e.g. Chrome works fine.

**To Reproduce**
Use postman to do a HTTP GET on the following url
https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.PxAPIv1/en/30/GEI/TSA05

**Expected behavior**
I JSON result with the metadata for that table. See cha

[2020-10-19 08:55] damienderoistecso opened #248 "[ENHANCEMENT] Show users duplicate data in update CSV file"
**Describe the solution you'd like**
If a user has duplicate row in their data CSV  for update, display this clearly for the user in the update report

[2020-10-19 09:46] neilfromcork commented on #245
@damienderoistecso  - needs to be tested asap

[2020-10-19 09:50] neilfromcork commented on #185
tested but not committed

[2020-10-19 09:55] lorenzobruni commented on #247
@likp
Thanks for that, can you please provide the GET URL you tried?
Because I think the wrong one got pasted into the issue above.

Thanks!

[2020-10-19 10:10] damienderoistecso commented on #245
Time variables order is correct in Dev 2.6.0 in Last Updated Tables

[2020-10-19 10:58] likp commented on #247
Just updated the issue, while doing so I discovered that the problem occurred in Postman and worked fine i Chrome. Maybe I missing some headers?

[2020-10-19 11:36] neilfromcork commented on #247
No special headers are required. If you're doing a GET request for a RESTFUL service in Postman, you just paste the url into the bar.

[2020-10-19 11:51] lorenzobruni commented on #185
Ready to redeploy.

[2020-10-19 11:54] #185 closed

[2020-10-19 11:54] #245 closed

[2020-10-19 13:44] damienderoistecso opened #249 "[BUG] Dimension and time pills missing from table details in view data from release and keywords"
**Describe the bug**
Dimension and time pills missing from table details in view data from release and keywords

![image](https://user-images.githubusercontent.com/53211688/96459155-afed9f00-1219-11eb-8f4e-5ae087c5078b.png)

[2020-10-19 16:13] damienderoistecso commented on #220
Re-opened as menus is still expanded when you click from a search result to the table selection page

[2020-10-19 19:09] neilfromcork commented on #247
@likp we've managed to reproduce the problem - we will get back to you on this.

[2020-10-19 21:25] lorenzobruni commented on #247
@likp
Just for clarity. The issue we have identified is happening when making a Data Query via POST.
Requesting Metadata only looks good to us, see below.

Please find below a screenshot of Postman, where you can see the GET or POST method, the URL, the empty BODY (for the POST) and the list of default Headers.

**N.B.** Please note these are the default Postman headers... are they any different t

[2020-10-19 21:32] lorenzobruni opened #250 "[ENHANCEMENT] Extend PxAPIv1 to support both JSON-stat 1.x and JSON-stat 2.x"
Extend the API `format` parameter to allow the `json-stat2` value when requesting an output in **JSON-stat 2.x**
The existing `json-stat` value should return instead an output in **JSON-stat 1.x**

[2020-10-19 21:55] lorenzobruni commented on #250
Query to update the official PxAPI documentation logged with Statistics Sweden.
FYI https://github.com/statisticssweden/PxWeb/issues/54

[2020-10-20 08:01] damienderoistecso opened #251 "[ENHANCEMENT] Remove placeholder from HTML inputs in Analytics and tracing"
**Describe the solution you'd like**
Placeholder makes it look like the input field is pre-populated. Would be clearer without placeholder

![image](https://user-images.githubusercontent.com/53211688/96557797-ae23ea00-12b2-11eb-8075-96be7ac2b5cb.png)
![image](https://user-images.githubusercontent.com/53211688/96557855-c562d780-12b2-11eb-9439-285bde319356.png)

[2020-10-20 08:20] damienderoistecso commented on #220
Fixed in dev

@liamie ready for test

[2020-10-20 08:41] neilfromcork commented on #250
@lorenzobruni - a problem with the httpPOST member. If you change the body (for example change the format) of the PxApiV1 POST request, the change is not picked up unless you restart the application

[2020-10-20 08:41] damienderoistecso commented on #249
Fixed in Dev

@liamie ready for test

[2020-10-20 08:52] neilfromcork opened #252 "[ENHANCEMENT] Enable data to be downloaded already pivoted by any single dimension"
The server should be able to deliver data pivoted by a choice of dimensions. Therefore the user should be able to choose a single pivot dimension and the data should be delivered pivoted by that dimension.

[2020-10-20 09:04] CHanamy57 commented on #251
Placeholders removed.

[2020-10-20 10:11] lorenzobruni commented on #250
Fixed at the Server API Library under version 4.2.0

[2020-10-20 10:21] liamie commented on #220
Hides now/ Remains hidden when selecting a table also.

[2020-10-20 10:21] damienderoistecso commented on #250
Client updated to allow JSON-stat 2.0 and JSON-stat 1.1

[2020-10-20 10:33] liamie commented on #249
Dimension and Time pills now appearing on the view data for release and keyword(release)

[2020-10-20 10:34] likp commented on #247
My bad, if found the problem. I had some rubbish i the body that caused the 500 message.

[2020-10-20 10:34] #247 closed

[2020-10-20 10:39] likp opened #253 "[BUG] Missing the value texts in metadata response for a table"
**Describe the bug**
The valueTexts element is missing in the response for a table metadata

**To Reproduce**
Use postman to do a HTTP GET on the following url
https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.PxAPIv1/en/30/GEI/TSA05

**Expected behavior**
For each variable to have a valueTexts property containing all value texts. See example  in chapter 4.3 in https://www.scb.se/contentas

[2020-10-20 10:44] neilfromcork commented on #250
Server updated

[2020-10-20 10:44] damienderoistecso commented on #248
@neilfromcork In the API "PxStat.Build.Build_API.Update", in the report array, for each item can you include a property called "duplicate" which would be true or false

[2020-10-20 10:46] damienderoistecso commented on #248
@CHanamy57 On the client side we will have to amment the datatable for "Invalid records to be ignored" to highlight any duplicate records

[2020-10-20 10:51] damienderoistecso opened #254 "[ENHANCEMENT] Create new entity and API for monitoring server performance"
**Describe the solution you'd like**
Create new API to read server performance.

Display details on client in new entity called "Server" under the System tab

[2020-10-20 10:56] damienderoistecso opened #255 "[ENHANCEMENT] Enforce hard and soft thresholds in build create and update"
**Describe the solution you'd like**
Create hard and soft thresholds for the build.

Use in both creation of data csv files and px files across create and update.

Soft threshold will be 1000000

Hard threshold will be 10000000

[2020-10-20 11:01] damienderoistecso opened #256 "[ENHANCEMENT] Better displaying of search/product results"
**Describe the solution you'd like**
Re-factor search and product page to enhance user experience.

[2020-10-20 11:33] damienderoistecso commented on #250
Tested in browser for both JSON-stat 2.0 and JSON-stat 1.1

Correct results are returned

[2020-10-20 11:58] lorenzobruni commented on #253
@likp
Hi, can you please attach the document in English? :-)
Is it the same version of this one perhaps? https://www.scb.se/contentassets/79c32c72783a4f67b202ad3189f921b9/api-description.pdf

Thanks

[2020-10-20 12:03] lorenzobruni commented on #253
@likp
the one in red, correct?
![image](https://user-images.githubusercontent.com/53212047/96583260-56967600-12d4-11eb-89c4-c3097010c200.png)

@neilfromcork
can you please look after this ASAP?
I think we missed to list the variable names.

[2020-10-20 12:33] likp commented on #253
Yes, it is sorry about the link to the Swedish version. It should be updated now.

[2020-10-20 12:59] damienderoistecso opened #257 "[BUG] Handle user verification when connection to active Directory fails"
**Describe the bug**
When connection to active directory fails, do not cache this result. Only cache the result on a successful call to AD

![image](https://user-images.githubusercontent.com/53211688/96589103-58fcce00-12dc-11eb-93a1-047b8118bf54.png)

[2020-10-20 13:23] neilfromcork commented on #253
Issue fixed in DEV - ready for test

[2020-10-20 14:39] CHanamy57 commented on #251
@liamie  @JohnPCarroll  Fixed in Dev -  ready for testing

[2020-10-20 15:31] damienderoistecso commented on #256
@neilfromcork for "PxStat.System.Navigation.Navigation_API.Search", if it's called with a "PrcCode", can the results be default sorted alphabetically  and if it's called with "Search" can the results be default sorted by "Score"

[2020-10-20 16:34] lorenzobruni commented on #257
Fixed under the Server API Library, Release 4.1.3 https://github.com/CSOIreland/Server-API-Library/releases/tag/4.1.3

[2020-10-20 21:28] lorenzobruni commented on #253
@likp
I think it's now fixed, see screenshot from our Dev environment.
Thanks a mill for helping us with your valuable testing 👍 👍 👍

I did an emergency release in https://data.cso.ie so you and @statgreen can check it out.
Please reopen the issue if something is still wrong.

It will be available in GitHub under the next **Milestone 2.7.0**

Cheers
![image](https://user-images.githubusercontent.c

[2020-10-20 21:41] lorenzobruni opened #258 "[HELP] Testing API adapter for PxAPIv1 interface"
Looking for help in testing/trying the **PxAPIv1** adapter.
The public interface is available at https://data.cso.ie

The following fixes have been released so far:
- **POST** data query fixed
- Missing meta-data `valueText` fixed
- Both formats `json-stat` for **JSON-stat 1.x** and `json-stat2` for **JSON-stat 2.x** implemented.

@statgreen
@likp
![image](https://user-images.githubusercontent.com

[2020-10-21 06:53] likp commented on #253
Hi, it looks correct now. I tried it in Postman and in Chrome and it looks like I am getting correct answers. I wanted to verify it in PxWin but I get a 500 error when browsing the database which is strange since it worked yesterday. But the problem is probably on our side but I do not have the time to investigate it right now.

[2020-10-21 09:01] neilfromcork opened #259 "[BUG] Backward compatible JSON-stat outputs need to be based on version 1.0, not on 1.1"
We need to be able to provide an output format for data that is compatible with Statbank. This must be based on JSON-stat 1.0, and not on version 1.1

[2020-10-21 09:44] neilfromcork opened #260 "[BUG] Statistic with a semi colon - unreadable output when creating px file"
Where  a statistic:
1. Has a long name, and
2. Contains a semi colon

The px output creates an unreadable px file due to an unnecessary newline character

[2020-10-21 09:47] neilfromcork commented on #259
Fixed in DEV - ready for test

[2020-10-21 10:14] lorenzobruni commented on #259
Fixed on client side too.

[2020-10-21 10:19] neilfromcork commented on #259
@damienderoistecso - Damien, can you check the front-end to make sure all is ok?

[2020-10-21 10:35] damienderoistecso commented on #259
Updated client and all working OK

[2020-10-21 12:26] JohnPCarroll commented on #259
Test passed

[2020-10-21 13:36] damienderoistecso opened #261 "[ENHANCEMENT] Review sorting of datatables and and download CSV in build"
*Describe the solution you'd like**
Enable logical sorting in datatables in build and download csv period selection

[2020-10-21 19:59] lorenzobruni commented on #259
@John,
you missed to check the Unit :-)

@neilfromcork
The "base" must contain the unit, like "%", "Kg" etc...
The parent of the "base" must contain the Code, not the Label.

Wrong from PxStat
![image](https://user-images.githubusercontent.com/53212047/96775793-f4c33280-13df-11eb-8502-d7466e5ca24a.png)

Correct from Statbank
![image](https://user-images.githubusercontent.com/53212047/96775979-3d7a

[2020-10-21 19:59] lorenzobruni commented on #259
@neilfromcork
Please text me on mobile once done as I will be at the conference.

[2020-10-21 21:16] lorenzobruni commented on #259
This one is fixed 👍

[2020-10-21 21:17] lorenzobruni commented on #259
@neilfromcork
Just another tiny one...

The "role" time should have the reference to the Code as well, not the Label.
![image](https://user-images.githubusercontent.com/53212047/96788262-1d045e80-13eb-11eb-8424-3a419e0adedc.png)

[2020-10-22 06:48] neilfromcork commented on #259
Role discrepancy fixed. Published in DEV and committed.

[2020-10-22 11:12] neilfromcork commented on #256
Completed in DEV - ready for test

[2020-10-22 13:05] liamie commented on #251
These Exclude IP/Subnet placeholders are now removed

[2020-10-23 08:16] damienderoistecso opened #262 "[BUG] Editing Note does not save to the px file in update"
**Describe the bug**
When you add or edit a note in "PxStat.Build.Build_API.Update" it is not included in the updated px file

[2020-10-23 09:57] neilfromcork commented on #262
Fixed in DEV - ready for test

[2020-10-23 11:16] JohnPCarroll commented on #262
Test failed. I used Table FSA26. It contained no note so I added it. The new Px file generated contained NOTEX and NOTE.  This is incorrect and when the px file is imported no footnote appears. See files attached for before and after updates
[FSA26.20201023T121032preupdate.txt](https://github.com/CSOIreland/PxStat/files/5429084/FSA26.20201023T121032preupdate.txt)
[FSA26.20201023T121033postupdate.t

[2020-10-23 13:32] damienderoistecso commented on #256
@neilfromcork As discussed, if it's called with "Search" can the results be default sorted by "Score", then date last updated and then alphabetical

[2020-10-23 14:14] neilfromcork opened #263 "[BUG] Validation is showing an error rather than a list of validation issues"
Matrix validation is showing a system error rather than a list of validation failures when they occur

[2020-10-27 09:05] neilfromcork commented on #262
Issue resolved in DEV - ready for test

[2020-10-27 09:39] neilfromcork commented on #256
Completed in DEV - ready for test. I'm presuming that the more recent updated dates are shown first.

[2020-10-27 11:16] liamie commented on #263
Validation now shows error with reasons
![image](https://user-images.githubusercontent.com/55874862/97294374-cf05b580-1845-11eb-91d5-ba3f34b7a44f.png)

[2020-10-27 15:09] neilfromcork opened #264 "[ENHANCEMENT] Concatenate NOTEX, NOTE, INFOFILE in NOTES"
Concatenate NOTEX, NOTE, INFOFILE in NOTES. Infofile must be validated as a url

[2020-10-29 12:39] liamie commented on #262
In Build update when alter note
It reads in the Notex but saves as Note when updating
![image](https://user-images.githubusercontent.com/55874862/97574600-648a7c00-19e3-11eb-9809-501340dceeb7.png)

section in resulting updated px that is incorrect

![image](https://user-images.githubusercontent.com/55874862/97574858-c1863200-19e3-11eb-99bc-cd30d58a684e.png)

[2020-10-29 13:54] neilfromcork commented on #262
I'm proposing to merge this with #264

[2020-10-29 15:10] neilfromcork commented on #248
Completed on server side. Report now returns "duplicate" true or false

[2020-11-02 11:52] lorenzobruni opened #265 "[BUG] Workflow History - Signoff Approve tooltip not working"
The tooltip over the Approved icon is not working.
It should display "Published" instead.

![image](https://user-images.githubusercontent.com/53212047/97865270-da535800-1d01-11eb-8b68-64835fac9395.png)

[2020-11-02 11:54] lorenzobruni commented on #265
Fixed
![image](https://user-images.githubusercontent.com/53212047/97865396-07076f80-1d02-11eb-8599-1c7bedb4430f.png)

@JohnPCarroll
can you please test? Thanks

[2020-11-02 12:40] JohnPCarroll commented on #265
Test passed when table sign off completed

[2020-11-02 16:46] neilfromcork commented on #264
Completed in DEV - restest in update and build. Use files with and without notes, notex, infofile etc

[2020-11-02 16:47] neilfromcork commented on #262
Merged with #264 - completed in DEV

[2020-11-03 11:48] JohnPCarroll opened #266 "[BUG] Build Update - Loading a csv file where timeperiod does not exist on px file"
**Describe the bug**
Loaded a csv file containing with a timeperiod which is not on the px file. I did not add it as a new time period either.

**To Reproduce**
Steps to reproduce the behavior:
Loaded a px file called AKM01 with max TLIST(M1) 202008. Loaded a csv file with max TLIST(M1) 202009

**Expected behavior**
This type of  error message should not appear.

**Screenshots**
![image](https://u

[2020-11-03 12:13] neilfromcork commented on #266
Appears to work ok from a server point of view. Superfluous data is on the ignore list. The warning seems to be brought up by the client.

[2020-11-03 12:33] CHanamy57 commented on #255
Fixed in dev, ready for testing @JohnPCarroll

[2020-11-03 12:52] JohnPCarroll opened #267 "[BUG] Spaces allowed in codes for statistics, classification and timeperiods"
**Describe the bug**
Spaces are accepted for Statistical Codes, Classifications and Timeperiods in the Build create and update option. This should not be allowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Statistics. - The Code should not contain spaces eg CPM 01C1 is incorrect
2. Classifications. - The code itself should not contain spaces eg C02064 V02491 is incorrect
3. Classificati

[2020-11-03 14:29] liamie commented on #264
With a file with no note originally
added note in update
![image](https://user-images.githubusercontent.com/55874862/97997111-88353400-1de0-11eb-8c05-0bebe78e0b6c.png)

but in saved/updated file note keyword section appears but does not contain the notes content
![image](https://user-images.githubusercontent.com/55874862/97997534-f679f680-1de0-11eb-9b56-5e4d1db169c0.png)

[2020-11-03 14:42] liamie commented on #264
With a file with an existing notex or note the updated file section is changed to note
![image](https://user-images.githubusercontent.com/55874862/97998749-6937a180-1de2-11eb-8eb0-025b70aa1ee6.png)

however no alterations to the contents note are made in the updated file if altered or added to in the note box on screen

[2020-11-03 16:15] neilfromcork commented on #264
Fixed in dev - ready for test

[2020-11-03 16:24] neilfromcork commented on #252
Completed on server

[2020-11-04 15:33] neilfromcork opened #268 "[BUG] Validation fails where the CONTENTS is the same as a dimension value"
If the text in CONTENTS  in a PX file is the same as the the value of an entry in VALUES then the number of classifications is miscalculated and the validation most likely fails.

[2020-11-05 10:56] JohnPCarroll opened #269 "[BUG] Build Update and Create UNITS on the px file"
**Describe the bug**
The UNITS are defaulted to a "-" no matter what is entered in the Unit for the statistic.

**To Reproduce**
Steps to reproduce the behavior:
The create option
1. Create a new table or import an existing px file.
2. Select the Create button and view the output

The Update option
1. Select a px file and Parse.
2. Select the Update button and view the output

**Expected behavior*

[2020-11-05 11:02] JohnPCarroll opened #270 "[BUG] Build Update Dual language Data issue"
**Describe the bug**
The DATA is not returned when the px file is updated

**To Reproduce**
Steps to reproduce the behavior:
1. Select a Duel Language px file and parse in the Build update option
2. Click on the Update option
3. View the updated px file in notepad and the DATA is missing
4. You are unable to open this px file using PX-Win

**Expected behavior**
DATA to be retained

[2020-11-05 13:46] damienderoistecso opened #271 "[ENHANCEMENT] Create a new Flag for Frontier Releases"
**Describe the solution you'd like**
Create a new flag in the database called "experimental" to be labeled as "Frontier Series" on the client interface

@neilfromcork From a server perspective, this is an exact replica of the "Archived" flag in terms of workflow, privileges, API's etc

@damienderoistecso Add all necessary features on the client side to show/update this new flag

[2020-11-05 13:49] damienderoistecso opened #272 "[ENHANCEMENT] Create new bootstrap functional colours"
**Describe the solution you'd like**
Create new functional colours in our bootstrap css for each flag that we use

We need functional colours for each of the following

- official

- exceptional

- reservation

- archive

- analytical

- experimental

[2020-11-05 14:39] neilfromcork commented on #269
Fixed in DEV - ready for test

[2020-11-05 14:39] neilfromcork commented on #270
Fixed in DEV - ready for test

[2020-11-05 14:55] damienderoistecso commented on #266
This is a result of development on #248

[2020-11-05 14:55] #266 closed

[2020-11-05 15:52] CHanamy57 commented on #248
![image](https://user-images.githubusercontent.com/55976631/98263403-b0f33000-1f7e-11eb-8f9f-6d468b229703.png)

@neilfromcork Invalid records in report don't contain "duplicate" property.

[2020-11-05 16:01] JohnPCarroll commented on #269
Failed in Build Create.
I imported a file and changed the Matrix code. I Selected the Create button and viewed the output. The UNITS= "Thousand" is missing.
![image](https://user-images.githubusercontent.com/44975474/98264712-185daf80-1f80-11eb-987b-3738abbf5769.png)

This means that the px file created cannot be opened using PXWin.

[2020-11-06 08:49] neilfromcork commented on #248
Fixed in DEV - ready for test. Note that if a record is invalid, it will not be checked for duplicity and "duplicate" will always show false.

[2020-11-06 09:50] neilfromcork commented on #269
Fixed in DEV - ready for test

[2020-11-06 13:21] damienderoistecso commented on #252
@neilfromcork Can you extend the full pivoting to PxAPIv1 also

[2020-11-06 13:28] neilfromcork commented on #271
Completed in DEV - Flag name for Release is RlsExperimentalFlag, for Worflow Request it's WrqReleaseFlag

[2020-11-06 14:54] JohnPCarroll commented on #270
Test passed Data retained

[2020-11-06 15:07] JohnPCarroll opened #273 "[BUG] Build Create and Update issue with notes containing fadas etc"
**Describe the bug**
Used dev
When you enter Irish text into a note the px file created or updated contains incorrect details in the NOTE.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create ot build and load a px file
2. Update note with some text eg tástáil 1 Baile Átha Cliath
3. Save and View px file in notepad
4. See error - NOTE[ga]="t&aacute;st&aacute;il 1 Baile &Aacute;tha Cl

[2020-11-06 15:27] neilfromcork opened #274 "[ENHANCEMENT] Allow pivot on dimensions other than the default time dimension in PxAPIv1"
PxApiV1 pivots on the time dimension by default. Enhancement is to override this by supplying a pivot dimension in the url

[2020-11-06 15:28] neilfromcork commented on #274
Completed in DEV on the server side

[2020-11-06 16:05] CHanamy57 commented on #248
Front end fixed in Dev - ready for test @JohnPCarroll

[2020-11-06 16:24] liamie opened #275 "[BUG] Validation on release page is giving an error"
**Describe the bug**
Validation on release page is giving an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  release page workflow
2. Scroll down to
![image](https://user-images.githubusercontent.com/55874862/98389681-4c060b80-204c-11eb-988e-295e625491f6.png)
3. Add request
4. click add on the modal (settings don't seem to matter)
4. See error as per screen shot below

**Expecte

[2020-11-06 16:50] damienderoistecso commented on #274
client updated

[2020-11-06 16:56] damienderoistecso commented on #252
client updated

@JohnPCarroll ready for testing

[2020-11-09 10:07] damienderoistecso commented on #274
Completed in client

@JohnPCarroll ready for test

[2020-11-09 11:59] liamie commented on #248
Seems to work as intended.
Duplicate records are appearing with a duplicate tick in "Invalid records to be ignored" unless another reason to invalidate is found first then also listed in "Invalid records to be ignored" but not marked as duplicate.

[2020-11-09 12:30] liamie commented on #260
Was able to create a long statistic name and a statistic containing semi colons which was successfully validated and imported.

[2020-11-09 13:24] liamie commented on #274
The URL in the API  changes to reflect the pivot changes.
However the response appears to be unchanged i.e. data order etc.
Is this something only picked up on the client side i.e. use the data provided as per URL order or should the API response also change?

[2020-11-09 14:41] damienderoistecso commented on #271
@neilfromcork Can you look at "PxStat.Workflow.Workflow_API.Read" I don't think "WrqExperimentalFlag" is returned in this API

[2020-11-09 15:16] neilfromcork commented on #271
Should be ok now - can you recheck?

[2020-11-09 15:30] damienderoistecso commented on #271
@neilfromcork  Can you check "PxStat.Workflow.Workflow_API.ReadHistory" also for "WrqExperimentalFlag"

[2020-11-09 15:50] neilfromcork commented on #271
Ok, that's changed - should be visible now

[2020-11-09 16:00] damienderoistecso commented on #271
@neilfromcork  Can you add "RlsExperimentalFlag" to "PxStat.Workflow.Workflow_API.ReadLive"

[2020-11-10 08:06] neilfromcork commented on #274
Pivot only applies to csv and xlsx outputs. Pivot appears normal on these formats.

[2020-11-10 09:03] damienderoistecso commented on #275
Issue is related to ongoing development with #271

If you update from svn it should work now

[2020-11-10 09:03] #275 closed

[2020-11-10 09:32] lorenzobruni commented on #267
@neilfromcork & @damienderoistecso

Please ensure that the validation on the Client will be reflected by the one on the Server.
Thanks

[2020-11-10 09:34] lorenzobruni commented on #259
Test passed

[2020-11-10 09:36] lorenzobruni commented on #258
Test passed, thanks to all contributors!

[2020-11-10 09:36] #258 closed

[2020-11-10 09:40] neilfromcork commented on #271
RlsExperimentalFlag now on PxStat.Workflow.Workflow_API.ReadLive

[2020-11-10 10:45] neilfromcork commented on #274
We need to decide how we deal with units in a pivot.
A possible method is:
- Where we are not pivoting on Statistics, include the units a single column
- Where we are pivoting on Statistics, include the unit in the Statistic column heading

[2020-11-10 12:27] neilfromcork commented on #267
Fixed in DEV - ready for test

[2020-11-10 13:02] lorenzobruni commented on #274
Both good to me.
Damien and I reviewed the Client making the same changes.

It will look like this:

![image](https://user-images.githubusercontent.com/53212047/98677440-ecae4100-2354-11eb-938d-f2452b73ecb1.png)

[2020-11-10 13:03] lorenzobruni commented on #274
@JohnPCarroll
The Client has been fixed. You can test it.

Wait for @neilfromcork to check the CSV and XLSX files.

[2020-11-10 14:17] damienderoistecso opened #276 "[BUG] Update WIP properties if live release gets updated"
**Describe the bug**
@neilfromcork  Currently when you create a WIP, it inherits properties from previous live. However, if you have a WPI and the current live gets updated with new properties, the WIP doesn't get these updated properties.

If a live gets updated with new properties, and there is a WIP, updated the WIP to reflect these properties. Also, if the WIP has a workflow request started af

[2020-11-10 14:21] damienderoistecso opened #277 "[ENHANCEMENT] Include workflow request details in comparison modal"
@damienderoistecso in comparison modal, include a column that shows details of updated properties and 'Live From date' if the release in in a workflow.

@neilfromcork In "PxStat.Data.Release_API.Read", can you include details about a potential workflow request from this database table

![image](https://user-images.githubusercontent.com/53211688/98685990-f0939080-235f-11eb-9db0-5783fb152a60.png)

[2020-11-10 14:27] neilfromcork commented on #274
Completed in DEV using the rules outlined above- ready for test

[2020-11-10 14:49] JohnPCarroll commented on #267
Test failed. Time Periods containing spaces still allowed in create and update.

[2020-11-10 14:55] damienderoistecso commented on #267
@JohnPCarroll client side not yet updated.

[2020-11-10 15:21] neilfromcork commented on #267
Validation amended. Should be ok now.

[2020-11-11 10:09] lorenzobruni opened #278 "[BUG] General fixing of Labels"
Please record under this issue any general fix of Labels, system wide

[2020-11-11 10:49] lorenzobruni opened #279 "[BUG] Delete Group not working"
When attempting to delete a Group with either Users and tables at ZERO count, then an error is returned.
See TST group.

![image](https://user-images.githubusercontent.com/53212047/98802577-6a348880-240b-11eb-96d0-06f9b0c91ccb.png)
![image](https://user-images.githubusercontent.com/53212047/98802623-7882a480-240b-11eb-9793-f74c6b6bffb7.png)

[2020-11-11 10:55] lorenzobruni opened #280 "[ENHANCEMENT] Implement new PxStat.Data.Matrix_API.ReadByLanguage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-11 10:55] lorenzobruni opened #281 "[ENHANCEMENT] Implement new PxStat.Data.Matrix_API.ReadByCopyright"
Implement the new API for reading the list of Matrix by Copyright.
See `PxStat.Data.Matrix_API.ReadByProduct `for reference.

@damienderoistecso,
Pleas implement Client changes in Copyright page as per Product page in Dev

[2020-11-11 10:55] lorenzobruni opened #282 "[ENHANCEMENT] Implement new PxStat.Data.Matrix_API.ReadByGroup"
Implement the new API for reading the list of Matrix by Group.
See `PxStat.Data.Matrix_API.ReadByProduct `for reference.

@damienderoistecso,
Pleas implement Client changes in Product page as per Product page in Dev

[2020-11-11 12:10] neilfromcork commented on #276
Server side complete. New API is called PxStat.Data.Release_API.ReadHasWipForLive.

RlsExperimentalFlag needs to be included in the call to PxStat.Data.WorkflowRequest_API.Create

[2020-11-11 14:24] neilfromcork commented on #279
Can't replicate in DEV. You may not delete a group if it (a) has Releases attached to it or (b) has users in it @lorenzobruni

[2020-11-11 15:35] liamie commented on #254
Committed on DB/Server side

[2020-11-11 16:33] neilfromcork commented on #280
Server side completed

[2020-11-11 16:34] neilfromcork commented on #281
Server side completed

[2020-11-11 16:34] neilfromcork commented on #282
Server side completed

[2020-11-11 17:09] lorenzobruni opened #283 "[ENHANCEMENT] Harmonize the context of Release Count and Matrix Count"
Review the following APIs to return the context of the Release Count and Matrix Count.

Matrix Context:
* **PxStat.System.Settings.Language_API.Read** `RlsCount` to `MtrCount`
* **PxStat.System.Settings.Copyright_API.Read** `RlsCount` to `MtrCount`

Release Context:
* **PxStat.Security.Group_API.Read** `GrpReleaseCount` to `RlsLiveCount` and `MtrCount` and  `CcnCount`
* **PxStat.System.Navigation.

[2020-11-11 17:51] lorenzobruni commented on #279
@neilfromcork
the TST group in production has both 0 Users and 0 Releases... unless the counter in wrong?

![image](https://user-images.githubusercontent.com/53212047/98846050-7427ad00-2446-11eb-9e20-dc4d63014f44.png)

Can you try running the Delete API in Production for the TST Group only and see the result?

Thanks

[2020-11-11 19:43] neilfromcork commented on #279
@lorenzobruni - There is a problem in Production that does not exist in DEV. If I create a new group and then immediately delete it, all works ok in DEV. When I do the same in Production, I can't delete it.
Could this be an upgrade scripting error?

[2020-11-12 10:22] damienderoistecso commented on #271
Client side complete

@JohnPCarroll ready for testing

[2020-11-12 11:30] lorenzobruni commented on #252
@Killian-Carroll
This is the enhancement to allow downloading the data pivoted on screen.
It's planned to be released next, 2.7.0

[2020-11-12 11:32] lorenzobruni commented on #274
@Killian-Carroll
This might be of your interest as well.
This is to extend the same functionality to stream the pivoted data across other APIs, such as JSON-RPC, RESTful and PxAPIv1.
Planned for next release too, 2.7.0

[2020-11-12 12:13] damienderoistecso commented on #276
Client updated

@JohnPCarroll ready for testing

[2020-11-12 12:13] CHanamy57 opened #284 "[ENHANCEMENT] Add Irish as an official language"
Create an Irish language dictionary as part of default languages - ga.json

[2020-11-12 12:59] damienderoistecso commented on #267
Fixed in client

@JohnPCarroll ready for testing

[2020-11-12 15:16] lorenzobruni commented on #283
Release context reviewed with @neilfromcork and it is correct.
Matrix context to amend as described.

[2020-11-12 15:19] lorenzobruni commented on #283
Test passed

[2020-11-12 15:39] damienderoistecso commented on #282
Client updated. You can now view a list of tables attached to each group and go straight to the release page for that table

![image](https://user-images.githubusercontent.com/53211688/98961124-1efaa280-24fd-11eb-9170-0764e449f654.png)

![image](https://user-images.githubusercontent.com/53211688/98961175-2d48be80-24fd-11eb-870e-4b254eb4e3f0.png)

@JohnPCarroll ready for testing

[2020-11-12 15:59] liamie commented on #268
Values in VALUES can now match contents in CONTENTS

[2020-11-12 16:22] damienderoistecso commented on #281
Client updated

@JohnPCarroll ready for testing

[2020-11-12 16:55] damienderoistecso commented on #280
Client updated

@JohnPCarroll ready for test

[2020-11-13 09:29] neilfromcork commented on #279
Scripting error found and corrected.

[2020-11-13 09:57] damienderoistecso commented on #283
Client updated

[2020-11-13 11:48] lorenzobruni commented on #279
Test passed

[2020-11-13 11:49] lorenzobruni commented on #278
**CODE FREEZE** for languages until [ENHANCEMENT] Add Irish as an official language #284 completed

[2020-11-13 11:50] lorenzobruni commented on #276
@JohnPCarroll talk to @damienderoistecso to get the details on how to test

[2020-11-13 11:51] lorenzobruni commented on #274
@JohnPCarroll talk to @damienderoistecso to get the details on how to test

[2020-11-13 12:10] lorenzobruni commented on #273
Fixed.
@JohnPCarroll ready to test :-)

[2020-11-13 12:33] lorenzobruni commented on #121
Server side messaging is dynamically built and therefore too complex or not relevant for the Client side to emulate the same.

[2020-11-13 12:33] #121 closed

[2020-11-13 12:45] lorenzobruni commented on #230
@CHanamy57
I'm taking this one, cheers

[2020-11-13 13:04] lorenzobruni commented on #230
Sample of message:

[2020-11-13 13:22] liamie commented on #255
In build update
The soft threshold message
![image](https://user-images.githubusercontent.com/55874862/99073200-62144e80-25ad-11eb-8258-5e5a4339e9c3.png)
only appears if the attach csv section is used otherwise it doesn't appear if the 1000000 threshold is reached using new periods without data (auto generated)
this message appears
![image](https://user-images.githubusercontent.com/55874862/990742

[2020-11-13 14:11] JohnPCarroll commented on #267
Test failed for time Periods Values. Spaces still permitted whether you add in manually or upload a fil. Code get spaces auto removed.
![image](https://user-images.githubusercontent.com/44975474/99080983-fbe1f880-25b9-11eb-903a-fb61883755ae.png)

[2020-11-13 15:06] liamie commented on #273
Seems to be correct now tested on single and dual language notes in create and update

[2020-11-13 15:15] JohnPCarroll commented on #267
Test passed on further review

[2020-11-13 15:38] neilfromcork commented on #283
Counts and lists lined up with each other as per our workshop - for Language, Copyright,Product, Group @lorenzobruni @damienderoistecso

[2020-11-13 17:23] lorenzobruni opened #285 "[BUG] Changing language to a deleted on crashes the application"
As per title...

[2020-11-13 17:24] lorenzobruni commented on #285
Test passed

[2020-11-13 17:29] lorenzobruni commented on #284
@CHanamy57
As part of the issue #290 I must commit a change to the label.

It's the new keyword `ie-notice` as per below.
![image](https://user-images.githubusercontent.com/53212047/99102219-ad425780-25d5-11eb-9485-b517f225139f.png)

I appreciate if you can acknowledge it.
Thanks

[2020-11-13 17:53] lorenzobruni commented on #230
The modal has been tailored to disallow closing it.
This applies to every IE versions, considering the the shut down of support will start progressively from the 30th of November 2020.
![image](https://user-images.githubusercontent.com/53212047/99103209-268e7a00-25d7-11eb-9338-3f86e3d07956.png)

@liamie ready for testing.

[2020-11-16 11:31] liamie opened #286 "[BUG] Trying to add a new copyright results in error"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manage> Copyrights'
2. Click on 'Add Copyright'
3. Fill in modal that appears and click Add button
4. See error and no copyright added

**Expected behavior**
Copyright to be added to list

**Screenshots**
![image](https://user-images.githubusercontent.com/55874862/99247367-c1b56880-27fe-11eb-8ffa-15bfde7b4e51.png)

[2020-11-16 12:49] liamie commented on #271
Toggle options applied to both live and wip, once sign off is approved for the update of properties.

note1: Does not change the option if work in progress is in the pending live stage

note2: once enabled links for all three options on the live data page point to the same location for explanations however only frontier series is actually mentioned on this linked page should other "More Informatio

[2020-11-16 12:53] liamie commented on #276
Toggle options applied to both live and wip, once sign off is approved for the update of properties.

note1: Does not change the option if work in progress is in the pending live stage

note2: once enabled links for all three options on the live data page point to the same location for explanations however only frontier series is actually mentioned on this linked page should other "More Informatio

[2020-11-16 13:24] neilfromcork commented on #286
Fixed in DEV - ready for test

[2020-11-16 14:35] damienderoistecso opened #287 "[ENHANCEMENT] Add share option to product pages"
**Describe the solution you'd like**
Like the table pages, add the share card to the product listing pages to allow for easy sharing.

Move the Share Card under the browse navigation in the data view for consistency with the products page

[2020-11-16 15:20] damienderoistecso commented on #287
Client Updated

@JohnPCarroll @liamie ready for testing

[2020-11-16 15:32] damienderoistecso commented on #276
@neilfromcork Can you look at note1 from above

With regard to note2, the location for explanations is maintained in the config file. At the moment, the business area has provided one page where all explanations will eventually be explained. We have the option in the config to use different remote pages to explain the properties if we wish

[2020-11-16 15:38] liamie commented on #286
New copyrights can be created now correctly.

[2020-11-16 16:03] damienderoistecso commented on #283
@neilfromcork Can you review counts and list for groups, might be out of sync

![image](https://user-images.githubusercontent.com/53211688/99276936-1bc92480-2825-11eb-830f-0dc4a6f35c79.png)
![image](https://user-images.githubusercontent.com/53211688/99276985-2c799a80-2825-11eb-9e24-26ce1406d451.png)

[2020-11-16 16:21] neilfromcork commented on #283
Fixed now -ready for test

[2020-11-16 17:00] colmanflynn opened #288 "[BUG] Pivot view is unwieldy when there are a lot of variables"
I've had a few complaints from business areas about this.

E.G. BHA02 -> View Data

Select all fields and then Pivot on Region & County.
There are 45 variables in this field, so the first handful are listed along the top and the rest are listed down the left hand side.

Is there anyway to make it more useable?

![BHA02 Pivot](https://user-images.githubusercontent.com/59689411/99283198-934e8200-282

[2020-11-16 17:05] lorenzobruni opened #289 "[ENHANCEMENT] Generate CSV and XLSX with or without CODES"
Currently the system generate CSV and XLSX containing both LABELS and CODES.
The change is to allow including or excluding the CODES form the generated output.

**Server side change:**
Ass the code parameter to the APIs with values true or false to enable/disable the CODES columns on the CSV and XLSX output.

**Client side change:**
Align the Codes toggle to reflect such change.

![image](https://

[2020-11-16 18:20] lorenzobruni commented on #288
Any screen/browser, no matter the device, has a limited size in width, while instead is naturally scrollable vertically.

When pivoting by a large amount of variables (ie. 45), then the system is attempting to render 45 or more columns in the same amount of space.
The bigger the screen, the more columns will fit in.
Any column that does not fit in, then will be render _responsively_ instead.

A co

[2020-11-17 09:36] JohnPCarroll commented on #269
Test Passed

[2020-11-17 12:28] JohnPCarroll commented on #262
Test passed. NOTEX set to NOTE

[2020-11-17 12:53] liamie commented on #287
Share cards are located correctly.

Links work correctly in dev once allowed for personal client location so should be fine when move live.

[2020-11-17 15:10] neilfromcork commented on #289
Completed on server

[2020-11-18 10:59] damienderoistecso commented on #283
@JohnPCarroll @liamie reading for testing

When viewing the group, product, copyright and language entities, you should be able to get a list of tables associated with the relevant entity. The number of tables listed in the initial view should match the number listed in the modal when you click to view tables.

[2020-11-18 11:30] JohnPCarroll commented on #264
INFOFILE currently dropped in Create and update option if imported in a file. Not added to Note.

[2020-11-18 12:18] CHanamy57 commented on #284
@neilfromcork Please find attached an Excel workbook of the Server side Irish translations for your reference
[PxStat-Internationalization-GA-Server.xlsx](https://github.com/CSOIreland/PxStat/files/5559919/PxStat-Internationalization-GA-Server.xlsx)

[2020-11-18 12:24] JohnPCarroll commented on #256
Test Passed

[2020-11-18 12:27] liamie commented on #283
The figures in manage (groups, product, copyright) and system (language) summary pages match the contents figures.

[2020-11-18 14:23] neilfromcork commented on #276
Regarding Note 1 - I can't replicate it. The only time it happened was when I ran it from Postman with the cache disabled. Otherwise it works ok either via Postman or the front end.

[2020-11-18 14:27] JohnPCarroll commented on #282
Test Passed

[2020-11-18 14:34] JohnPCarroll commented on #281
Test Passed

[2020-11-18 14:38] liamie commented on #282
Table count and labels are correct.

[2020-11-18 14:39] liamie commented on #281
Table count and labels are correct.

[2020-11-18 14:41] liamie commented on #280
Table count and labels are correct.

[2020-11-18 14:58] neilfromcork commented on #264
INFOFILE is only appended if it's a valid url.

[2020-11-18 15:03] liamie commented on #276
AKM01 worked fine as it is the existing pending live that was updated i.e. the only release 1.0.
Problem is occurring when a current live e.g 1.0 is updated the pending live which will be 2.0 that's in the pipeline is unaffected

[2020-11-18 15:17] CHanamy57 commented on #284
Client Side Dictionary committed

[2020-11-18 15:23] JohnPCarroll commented on #264
Valid url added eg https://www.cso.ie/en/databases/

[2020-11-18 16:18] damienderoistecso commented on #272
Frontier Series colour should be matched with Frontier Series color scheme on www.cso.ie

[2020-11-18 16:22] damienderoistecso commented on #254
@CHanamy57 You can start looking at using these API in the new performance entity but don't commit in 2.7.0

Example API calls

"method": "PxStat.Entities.Security.Performance.Performance_API.ReadPrfProcessorPercentage",
    "params": {
    "PrfDatetimeStart":"2020-11-05T15:36:00.00",
    "PrfDatetimeEnd":"2020-11-05T15:38:00.00"
}
    "method": "PxStat.Entities.Security.Performance.Performance_AP

[2020-11-18 16:39] neilfromcork commented on #276
Ok, understood. Fixed in DEV - Ready for test

[2020-11-18 23:15] lorenzobruni commented on #288
@colmanflynn
Do you have any feedback about the proposed alternative? If good we can workshop on it... Thanks

[2020-11-18 23:19] lorenzobruni opened #290 "[BUG] Pivoting by multiple Statistics display incorrect decimal places"
If you pivot by Statistics having different Units with different Decimals, then the values are not correctly rounded to the relevant decimal.

See HPA02 and pick 2 Statistics then try pivoting... you will notice the decimals get incorrectly displayed.

[2020-11-18 23:23] lorenzobruni commented on #290
Fixed
@JohnPCarroll ready for testing

[2020-11-19 10:08] damienderoistecso commented on #255
@lorenzobruni as discussed, bug with api.modal.confirm function in API library. Tested proposed solution locally and it works as expected. Change needs to be deployed to API client library

[2020-11-19 10:25] JohnPCarroll commented on #290
Test P@assed

[2020-11-19 11:28] JohnPCarroll commented on #264
Test Passed

[2020-11-19 12:02] liamie commented on #276
On the first pass the pending live gets changed at the completion of approval stage of the update properties in the live it does not wait for sign off. Subsequent update requests do wait for sign off.

Also at no stage does the warning message appear in the modal that the current wip will be altered if the wip is at pending live
![image](https://user-images.githubusercontent.com/55874862/99663693-

[2020-11-19 12:37] damienderoistecso commented on #289
Client side updated

We not have one code toggle button for simplicity. Works for both table selection and data view. CSV and Excel downloads now have codes or not depending on the toggle. Full download on left panel always has codes. API code also updated when codes are toggled.

@neilfromcork to remove codes from CSV and excel label columns as they are redundant and may cause confusion

[2020-11-19 14:05] neilfromcork commented on #289
Completed on server.

[2020-11-19 14:06] neilfromcork commented on #284
Completed in DEV - ready for test

[2020-11-19 14:10] damienderoistecso commented on #276
@neilfromcork "PxStat.Data.Release_API.ReadHasWipForLive" returns null when there is a pending live

Also, a new WIP doesn't seems to be inheriting the correct properties, if the previous live had it's properties updated

[2020-11-19 14:57] JohnPCarroll commented on #289
Test Passed

[2020-11-19 15:03] JohnPCarroll opened #291 "[BUG] Pivot Dropdown box is incorrectly positioned in dev"
**Describe the bug**
The dropdown options box is not beside the Pivot text. Refer to  data and releases/view data page

**Expected behavior**
Drop down box to be positioned correctly

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/44975474/99683516-5676cb00-2a78-11eb-962f-202f9d7ad865.png)

[2020-11-19 15:21] damienderoistecso commented on #272
@CHanamy57 Can you try "#dee2e6" as the colour for neutral and see how it works in your dev environment. Especially for the buttons in a modal footer with class "btn-neutral"

[2020-11-19 15:37] JohnPCarroll commented on #284
Used Table ADR04. Is in English and Irish.
When I am in Irish and on the Releases Page. The Language defaults to English in the Source Section. This means when you view the data it is in English not Irish.

![image](https://user-images.githubusercontent.com/44975474/99687886-1239f980-2a7d-11eb-9510-ebd8f9fe90e5.png)

[2020-11-19 15:41] damienderoistecso commented on #277
@JohnPCarroll @liamie ready for test. Comparison modal should now display  workflow request details if there is one

[2020-11-19 16:01] CHanamy57 commented on #272
"#dee2e6" as colour for neutral passes Accessibility Requirements in cards and for buttons in modal footers
![image](https://user-images.githubusercontent.com/55976631/99690440-14ea1e00-2a80-11eb-94e1-532352784f49.png)
![image](https://user-images.githubusercontent.com/55976631/99690656-4a8f0700-2a80-11eb-942a-998f9dcbadb0.png)

[2020-11-19 16:11] liamie commented on #284
For the Irish I believe the Tables label on the summary pages below should be altered to Tábla as that is what it is on the modal when you click into the links in the column
![image](https://user-images.githubusercontent.com/55874862/99692062-c50c5680-2a81-11eb-9bbc-a28e6f4db70a.png)

Groups/Grúpaí
Subjects/Ábhair
Products/Táirgí
Copyright/Cóipchirt
![image](https://user-images.githubusercontent.c

[2020-11-19 16:16] liamie commented on #284
Several labels in the Cache section are untranslated
![image](https://user-images.githubusercontent.com/55874862/99692542-52e84180-2a82-11eb-85a3-4c3b0c327711.png)

[2020-11-19 16:27] damienderoistecso commented on #272
@CHanamy57 Can you update the experimental color to be the same colour as warning

You can check a frontier release e.g. "IBA01" for accessibility

[2020-11-19 16:58] CHanamy57 commented on #272
@damienderoistecso Experimental colour when changed to the same colour as Warning does pass accessibility

![image](https://user-images.githubusercontent.com/55976631/99697989-2b947300-2a88-11eb-9fb7-fc83de0cabe0.png)

[2020-11-19 17:05] CHanamy57 commented on #272
Passes accessibility with text-dark

![image](https://user-images.githubusercontent.com/55976631/99699028-677c0800-2a89-11eb-858a-9f6061cc2515.png)

[2020-11-19 17:07] damienderoistecso commented on #272
Great, can you commit both changes so

[2020-11-19 17:38] colmanflynn commented on #288
Thanks Lorenzo,

Sorry for the delay in replying, I wanted to talk through the options with the Digital Comms team before I got back to you.

The internal users were pivoting large numbers of columns to have a layout similar to the tables in StatBank, so they could check the data as they had always done.
The main question raised by them was why the option was available if the results would be unwi

[2020-11-19 17:49] CHanamy57 commented on #272
@damienderoistecso  Committed changes:

- Neutral colour changed to "#eaecee" to pass accessibility while keeping column separators & buttons visible.

- Experimental colour changed to same colour as warning "#EBA900".

- Text for Frontier Series changed to text-dark in HTML to pass Accessibility.

[2020-11-19 19:45] neilfromcork opened #292 "[BUG] ReadCopyright is not open to non-px users"
ReadCopyright requires PxStat privileges. It should be open. Also, check documentation for wrong entries regarding privilege on Reads.

[2020-11-19 19:46] neilfromcork commented on #292
Fixed in DEV - ready for test

[2020-11-19 19:48] neilfromcork opened #293 "[ENHANCEMENT] Create cut-down version of ReadCollection"
Amend ReadCollection to remove:
dimension
id
role
size

Keep the old version but rename as ReadMetaCollection (available only via JSON-RPC)

RESTful version of ReadCollection will return the amended version

[2020-11-19 19:48] lorenzobruni commented on #292
@neilfromcork
The issue persists... has it been published? thanks
![image](https://user-images.githubusercontent.com/53212047/99716554-28a57c80-2aa0-11eb-82df-84e73cb0383c.png)

[2020-11-19 19:51] lorenzobruni commented on #293
@neilfromcork
Both APIs are working but the ReadCollection (cut down version) is missing the JSON-stat 1.0 alternate link

![image](https://user-images.githubusercontent.com/53212047/99716872-8c2faa00-2aa0-11eb-8a48-9339bf283d2e.png)

[2020-11-19 20:52] neilfromcork commented on #293
Fixed in DEV - ready for test. Code review implemented

[2020-11-19 20:54] neilfromcork commented on #292
Fixed in DEV - ready for test

[2020-11-19 22:58] lorenzobruni commented on #276
@neilfromcork
Did you implement the clear of the caching for the child release?

And this one? Thanks

[2020-11-19 23:00] lorenzobruni commented on #276
@liamie Fixed, can you please test again? Thanks

[2020-11-20 08:15] neilfromcork commented on #276
@lorenzobruni - child cache is now clearing. Issues are ready for test

[2020-11-20 09:31] damienderoistecso commented on #291
Flixed in client

@JohnPCarroll ready for test

[2020-11-20 09:53] lorenzobruni commented on #272
The HTML files contained a conflict of how neutral and default colors were used. This has been harmonized, so that neutral colors wont clash over default. The SCSS bootstrap files have been re-synched as well with the latest 4.5.2 version.
The SCSS app.bootstrap.guideline.scss has also been included in the project in order to retain the custom SCSS for the additional flags.
![image](https://user-i

[2020-11-20 09:53] lorenzobruni commented on #272
Test passed.

[2020-11-20 10:09] JohnPCarroll commented on #276
Table Used BGA02. Issue with awaiting response.
The live properties were updated to include archived in Test 2.. When you go to update the Matrix with Awaiting Response Status the ADD Response Modal displays incorrect information. The archived should be ticked as it is on the properties section of the pages
Modal
![image](https://user-images.githubusercontent.com/44975474/99787326-845f1c80-2b17-11

[2020-11-20 10:32] lorenzobruni commented on #255
Fixed in Client API Library 4.0.5 https://github.com/CSOIreland/Client-API-Library/releases/tag/4.0.5

[2020-11-20 10:32] lorenzobruni commented on #255
@damienderoistecso can you please test

[2020-11-20 10:39] lorenzobruni commented on #252
Test passed

[2020-11-20 10:48] lorenzobruni commented on #274
Test passed

[2020-11-20 11:17] liamie commented on #276
Also is the message incorrect, inhetitate should it be inherit?
![image](https://user-images.githubusercontent.com/55874862/99794183-b07f9b00-2b21-11eb-8c21-fd026489c990.png)

[2020-11-20 11:20] lorenzobruni commented on #277
@damienderoistecso update comparison columns based on colors bg-default

[2020-11-20 11:23] lorenzobruni commented on #284
@CHanamy57 please follow up for the outstanding translations and the privacy policy

[2020-11-20 11:26] lorenzobruni commented on #288
Ok, we will investigate. Thanks.

[2020-11-20 11:27] lorenzobruni commented on #292
Test passed

[2020-11-20 11:27] lorenzobruni commented on #293
Test passed

[2020-11-20 12:03] neilfromcork commented on #276
Fixed in DEV - Ready for test. Please note that the child workflow will not be updated until the parent workflow is signed off.

[2020-11-20 12:12] damienderoistecso commented on #276
Client updated to fix typo. Also, warning message is now displayed at each stage of the workflow instead of just the request step

@liamie @JohnPCarroll  ready for test

[2020-11-20 12:12] lorenzobruni commented on #253
@likp
I have double tested the web-service and is up and running, please see screenshot.
Your code looks good to me... are you still getting the 500 error message from both C# and the Browser?

![image](https://user-images.githubusercontent.com/53212047/99798370-d0ff2380-2b28-11eb-913a-48f5032c6039.png)

By the way, I'm trying to plugin the API into the PxWin configuration, like below, but nothing

[2020-11-20 12:49] damienderoistecso commented on #277
Client updated and tested

[2020-11-20 13:03] lorenzobruni commented on #278
CODE FREEZE ended.

[2020-11-20 13:04] lorenzobruni commented on #278
TO DO: Harmonies confirm messages across the system.

[2020-11-20 14:04] JohnPCarroll commented on #276
Test passed. Message displayed at each step of update properties in live release if there is a WIP

[2020-11-20 15:56] damienderoistecso opened #294 "[ENHANCEMENT] Build client side entity for performance API's"
**Describe the solution you'd like**
Build client side entity for performance API's deployed under #254

[2020-11-20 16:07] damienderoistecso opened #295 "[ENHANCEMENT] Update view of pre-release data in Releases entity"
**Describe the solution you'd like**
If you are viewing pre-release data in the release entity, update the API card to call the correct API

This will also allow business areas to easily read pre-release data programmatically for checking purposes

@neilfromcork thanks for the tip on this, you should be glad of the change!

Also, show a banner to alert users they are viewing confidential data.

[2020-11-20 16:09] damienderoistecso opened #296 "[ENHANCEMENT] Improve SEO in data entity"
**Describe the solution you'd like**
In the browse menu, add the goTo link to the href attribute for each product

In the results list add the goTo link to the href attribute for each table

[2020-11-22 21:59] lorenzobruni commented on #296
Also, extend the breadcrumb to include the table code and title with the relative href
See example below.

[Home](url) / Agriculture / [Agricultural Land Prices](url) / [ARA02 - Agricultural Land Sales](url)

[2020-11-22 22:00] lorenzobruni commented on #296
Include the HTML meta description and title for both the products and tables for SEO purpose.

[2020-11-22 22:08] lorenzobruni opened #297 "[QUERY] Diffence between Other Vs Unknown in Analytics for Browsers"
@neilfromcork can you please clarify the difference between Other and Unknown in the Analytics API for reading the Browser information.

Are they duplicate for the same thing? Some how when a browser is not detected?
Can we harmonize it into one, like Unknown?

![image](https://user-images.githubusercontent.com/53212047/99918465-f3eb2c80-2d0e-11eb-964c-05c48b42c97c.png)

[2020-11-22 22:44] #264 closed

[2020-11-22 22:44] #265 closed

[2020-11-22 22:44] #267 closed

[2020-11-22 22:44] #268 closed

[2020-11-22 22:44] #269 closed

[2020-11-22 22:44] #270 closed

[2020-11-22 22:44] #271 closed

[2020-11-22 22:44] #272 closed

[2020-11-22 22:44] #273 closed

[2020-11-22 22:44] #274 closed

[2020-11-22 22:44] #276 closed

[2020-11-22 22:44] #277 closed

[2020-11-22 22:44] #279 closed

[2020-11-22 22:45] #280 closed

[2020-11-22 22:45] #281 closed

[2020-11-22 22:45] #282 closed

[2020-11-22 22:45] #283 closed

[2020-11-22 22:45] #285 closed

[2020-11-22 22:45] #286 closed

[2020-11-22 22:45] #287 closed

[2020-11-22 22:45] #289 closed

[2020-11-22 22:45] #290 closed

[2020-11-22 22:45] #291 closed

[2020-11-22 22:45] #292 closed

[2020-11-22 22:45] #293 closed

[2020-11-22 22:45] #220 closed

[2020-11-22 22:45] #230 closed

[2020-11-22 22:45] #248 closed

[2020-11-22 22:45] #249 closed

[2020-11-22 22:45] #250 closed

[2020-11-22 22:45] #251 closed

[2020-11-22 22:45] #252 closed

[2020-11-22 22:45] #255 closed

[2020-11-22 22:45] #256 closed

[2020-11-22 22:45] #257 closed

[2020-11-22 22:45] #259 closed

[2020-11-22 22:45] #260 closed

[2020-11-22 22:45] #262 closed

[2020-11-22 22:45] #263 closed

[2020-11-22 23:37] lorenzobruni opened #298 "[BUG] Fix light color reference in HTML"
Bootstrap functional color "light" must be fixed in the HTML context to make it visible over the default white backgroud, perhaps changing it to "neutral".

![image](https://user-images.githubusercontent.com/53212047/99920396-1b47f680-2d1b-11eb-9b67-b77e66b242c4.png)

[2020-11-23 08:54] neilfromcork commented on #297
The difference is as follows:
- Unknown means that the system just can't figure out what browser has been used (this often happens with Postman API calls)
- Other: We have a configurable limit to the number of browsers we want to count. If this limit is exceeded then the lesser used browsers are added together and put in the category of Other. Let me know how you would like to proceed @lorenzobrun

[2020-11-23 09:46] lorenzobruni commented on #254
Server Side API completed, pending Client Side implementation under issue #294

[2020-11-23 09:46] #254 closed

[2020-11-23 10:06] likp commented on #253
@lorenzobruni  your config looks correct. Although I still get get Internal Server error from PxWin. Did you managed tro run the code example at https://github.com/CSOIreland/PxStat/issues/253#issuecomment-713351485 at your site. Becuase I still get the Insterna Server error using the HttpClient from C#.
Hiting the url from the browser of Postman works fine.

[2020-11-23 10:16] liamie opened #299 "[BUG]Toggle text clipping/sizing in mobile responsive"
**Describe the bug**
Clipping and sizing of toggles in mobile browsers(tested with chrome and firefox and edge on android phone) similar can be seen using responsive tool in firefox(pc)

**To Reproduce**

Toggle text seems to center/shift right on the full width of the toggle when open. Text appears correctly when closed this only noticeable in mobile/responsive size
![image](https://user-images.g

[2020-11-23 10:20] lorenzobruni commented on #296
List of tasks:
* Split between `breadcrumb` method and `meta `one
* About the breadcrumb, extend to include the table code - title and implement href with goTo.
* About meta - title we have 3 scenarios:
  - Homepage, where title = data.cso.ie (come from config as currently implemented) and meta-description = create label in internationalization with sprintf from config for the organisation.
  - Pr

[2020-11-23 13:21] lorenzobruni commented on #297
Perfect thanks!

[2020-11-23 13:21] #297 closed

[2020-11-23 13:56] lorenzobruni commented on #253
@likp Thanks a lot! We found the issue.
The base layer of the API was expecting to get always the `userAgent `in the response, which of curse is not the case when running from C#.

We fixed this one into the release 4.3.1 of the [Server API Library](https://github.com/CSOIreland/Server-API-Library) project available at https://github.com/CSOIreland/Server-API-Library/releases/tag/4.3.1

The Librar

[2020-11-23 14:04] damienderoistecso opened #300 "[BUG] Parse note correctly in Excel output"
**Describe the bug**
Parse BB code in note to output correctly in Excel download

**To Reproduce**
![image](https://user-images.githubusercontent.com/53211688/99971221-cd6fd480-2d94-11eb-8afd-a942aff82761.png)

[2020-11-23 14:06] damienderoistecso opened #301 "[ENHANCEMENT] Remove Subject and Product Filter for product navigation"
**Describe the solution you'd like**
If you browse by product, remove redundant filter for subject and product

[2020-11-23 14:15] damienderoistecso commented on #301
@JohnPCarroll ready for test, subject and product filter should now longer be there if you browse by product in the navigation

[2020-11-23 16:43] damienderoistecso commented on #301
Client updated

In releases, if a table is anything but live, a warmning message should appear for each view (table, chart or map). Also, in the API accordion, if it is not live the code gets updated for preRelease data and the REASTful and PxAPIv1 tabs gets disabled

@JohnPCarroll ready for test

@neilfromcork can you take a look in terms of using the API code for pre release data

[2020-11-23 16:44] damienderoistecso commented on #295
Client updated

In releases, if a table is anything but live, a warmning message should appear for each view (table, chart or map). Also, in the API accordion, if it is not live the code gets updated for preRelease data and the REASTful and PxAPIv1 tabs gets disabled

@JohnPCarroll ready for test

@neilfromcork can you take a look in terms of using the API code for pre release data

[2020-11-23 17:29] damienderoistecso opened #302 "[BUG] Copy share button not working in data view"
**Describe the bug**
Copy share button not working in data view

[2020-11-24 09:53] neilfromcork commented on #295
The JSON-RPC call looks ok from a server point of view

[2020-11-24 11:38] JohnPCarroll commented on #300
Note now reads as
![image](https://user-images.githubusercontent.com/44975474/100089393-84c62300-2e49-11eb-9b2a-4f4192341980.png)

[2020-11-24 11:46] JohnPCarroll opened #303 "[BUG] Link in px file notes is missing when downloaded in Data page"
**Describe the bug**
The URL link is removed from the PX file when downloaded in the data page. Table used BGA04

**Expected behavior**
Link details should be retained.

**Screenshots**
Source download
![image](https://user-images.githubusercontent.com/44975474/100089961-66acf280-2e4a-11eb-93e0-fc90ddf04941.png)

Data page download
![image](https://user-images.githubusercontent.com/44975474/100090

[2020-11-24 14:06] lorenzobruni opened #304 "[QUERY] Feedback tracking"
By @xprimexinverse

1.   It would be nice to be able to choose the data structure before doing the Full Download. For example, would it be possible to choose between say “data frame”, “time-series by row” or “time-series by column” after selecting the CSV or XLSX format. At the moment, the format is marked as “un-pivoted”. Perhaps a little checkbox could be used to specify the data structure?

2.

[2020-11-24 14:21] lorenzobruni commented on #304
1. Currently the Full download is simply a shortcut demanded by the Open-Data directives and as such it must be a straight link. This is particularly used by crawlers (i.e. Search engines) and other data portals (i.e. Data.Gov.ie) which must be linking to a straight resource without any user input needed.
What you are suggesting is already possible by simply choosing the **Pivot** option and click

[2020-11-24 16:20] neilfromcork commented on #303
Fixed in DEV - ready for test. Returns html version for JSON-stat and XLSX, bbcode for everything else.

[2020-11-25 09:10] damienderoistecso commented on #300
@neilfromcork may be related to #303

[2020-11-25 09:29] liamie commented on #284
![image](https://user-images.githubusercontent.com/55874862/100208381-928aaf80-2f00-11eb-98aa-7dc57c10974b.png)

need to add "frontier series" to dictionary

[2020-11-25 09:49] neilfromcork commented on #300
@JohnPCarroll @damienderoistecso - Should the note on the Excel metadatab show the bbcode or the html version of the link?

[2020-11-25 09:53] damienderoistecso commented on #300
@neilfromcork Ideal scenario would be to actually render it as a hyperlink that the users could click on. Failing that. I would think the best alternative would be to just include the href value without the link text

[2020-11-25 10:00] neilfromcork commented on #284
Can we also get translations for:

 "account-invitation": "A PxStat account has been created for you. Please click the link below to activate",
      "account-invitation-timeout": "This invitation will remain valid until {0} ",
      "account-invitation-complete": "Please click on the link below to complete your PxStat account setup",
      "account-reset": "Your account has been reset. Please cli

[2020-11-25 11:05] neilfromcork commented on #300
Now showing the href extracted from the bbcode

[2020-11-26 10:56] neilfromcork opened #305 "[BUG] Error when updating Group"
Group update causes error

[2020-11-26 10:58] neilfromcork opened #306 "[BUG] Search requires review"
Review search with a view to improving accuracy

[2020-11-26 11:47] neilfromcork commented on #306
Value ratio of words to synonyms increased from 5 to 10. Highest priority given to Subject, then Product, then Release hits. SQL amendment to prevent double hits.

[2020-11-26 14:15] neilfromcork commented on #305
Fixed in DEV - ready for test

[2020-11-26 14:28] JohnPCarroll commented on #305
Test passed. No errors encountered

[2020-11-26 14:41] neilfromcork commented on #306
Bug found - search was returning "any valid words in a list" rather than "all vaild words in a list"

[2020-11-26 15:05] JohnPCarroll commented on #295
Test passed for all.

[2020-11-26 16:54] CHanamy57 commented on #284
Privacy Statement translation implemented - ready for test @liamie
("Allow non-essential Cookies" & "Frontier Series" among latest words awaiting translation)

[2020-11-27 08:27] neilfromcork commented on #306
Amended search from AND to OR. Probably more user friendly, e.g. if you search for "Population poverty indicators" instead of "Population poverty rates" it shouldn't refuse data that closely matches the search term just because one word is not found. @lorenzobruni

[2020-11-27 08:55] neilfromcork commented on #306
Ratio of word to synonym scores changed from 10:1 to 15:1

[2020-11-27 09:27] liamie commented on #284
Privacy statement translated apart from "Allow non-essential Cookies" near button as stated waiting translation.

The initial cookies banner for cookies is not translated or "Allow" Button on same
![image](https://user-images.githubusercontent.com/55874862/100432205-28eddb00-3091-11eb-8fff-30ca2eafbe2f.png)

Also don't know if you want to translate "Manage Cookies" link to the same privacy documen

[2020-11-27 11:20] lorenzobruni commented on #303
@neilfromcork look at Open XML for inserting hyperlinks

[2020-11-27 11:25] lorenzobruni commented on #303
Duplicate of #300

[2020-11-27 11:25] #303 closed

[2020-11-27 14:20] damienderoistecso commented on #296
Client updated.

Breadcrumbs, titles and meta description are now all set separately

All public entities have meta description set

all entities have title set with meta description blank

@JohnPCarroll ready for testing. Chek that breadcrumbs are correct and page title in the tab is correct

[2020-11-27 14:22] JohnPCarroll commented on #306
Test passed

[2020-11-27 14:45] liamie commented on #296
On Data Table pages the tab still shows product not specific table
![image](https://user-images.githubusercontent.com/55874862/100460205-b3006880-30be-11eb-8f55-5884b9e6f403.png)
![image](https://user-images.githubusercontent.com/55874862/100460402-04a8f300-30bf-11eb-86c1-3022fece675e.png)

[2020-11-27 15:03] damienderoistecso commented on #296
Client updated. @liamie ready for testing

[2020-11-27 15:08] JohnPCarroll commented on #300
Used Table BBM02 in DEV.
Test failed for output note to excel. It does not contain the text or other link
![image](https://user-images.githubusercontent.com/44975474/100462375-18098d80-30c2-11eb-899b-494e7f9f1ed0.png)

Px NOTE is now correct.

In order to reduce burden on respondents and in an attempt to streamline surveys in the CSO, the release for December 2008 reference period is the final rel

[2020-11-27 15:15] CHanamy57 commented on #294
Client side committed & ready for test @liamie

[2020-11-27 15:40] liamie commented on #294
Page not appearing when click menu drop down
getting a 404 error message in the developer tools

[2020-11-27 15:46] neilfromcork commented on #303
Amended on XLSX files to show url's as clickable formatted links. Note that this is not applied to the RESTful url of the excel file itself. Clicking on such a link would just download another copy of the same XLSX file.

[2020-11-27 15:57] CHanamy57 commented on #294
Error fixed - ready for test

[2020-11-27 16:08] liamie commented on #294
Page appears now
No option to adjust time in tool, full days only. Is this to spec?
![image](https://user-images.githubusercontent.com/55874862/100467555-8e11f280-30ca-11eb-9a36-602eebd32498.png)

[2020-11-27 16:09] liamie commented on #296
Breadcrumbs and page title in the tab is correct now

[2020-11-27 16:11] CHanamy57 commented on #294
@liamie  yes, the datepicker originally included option to adjust time but was requested to remove.

[2020-11-27 16:23] liamie commented on #294
Appears to be correct. Flush cache button also provides a warning and and confirmation does work.

[2020-11-27 16:38] damienderoistecso commented on #302
Cannot replicate. May be intermittent issue. Will investigate over time.

[2020-11-27 17:21] liamie commented on #302
I find this occurs on tables if use the Browse to get to a product page then choose a table on that page.
Or if you use the breadcrumb to navigate to the product page and then choose a table.
The copy share does not work on the table page that loads after coming from a product page.
It seems to work if you link directly to the table page eg. from last updated list

[2020-11-29 22:03] lorenzobruni commented on #300
@neilfromcork
2 problems occur now:

1. This error message shows up when opening the Excel. It looks like the XML is corrupted and the formula is somehow wrong.
![image](https://user-images.githubusercontent.com/53212047/100554733-a468ab80-328e-11eb-8da9-8d460ff7968a.png)

2. The entire note turned now into a link, rather than the individual links.
![image](https://user-images.githubusercontent.co

[2020-11-29 22:25] lorenzobruni commented on #284
The Allow button was hardcoded and it has been fixed.
@CHanamy57 please note I added the label "**allow**" in `en` and "#**allow**" in `ga` that must be translated.

All 3 label (This website.... Manage Cookies.... Allow) are displaying in English only because the Irish translation is still missing.
They will automatically display in Irish when available.

[2020-11-29 22:27] lorenzobruni opened #307 "[ENHANCEMENT] Complete Irish translation for missing keywords"
This is the natural continuation of  #284.

@CHanamy57 / @liamie
Please continue here any following updates as the #284 is resolved within the release 3.0.0

[2020-11-29 22:28] lorenzobruni commented on #284
This topic will continue in #307 following the release 3.0.0

[2020-11-30 00:06] lorenzobruni opened #308 "[QUERY] Verify caching of ReadCollection"
@neilfromcork
Can you please verify that the `ReadCollection` method implements the caching?
See https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadCollection

The whole database generates an output of 500KB, reasonably small enough in Byte size, but it takes always 11 minutes... I thought it would have been much quicker with the cache. Anything we can do to speed up also the bare proce

[2020-11-30 00:38] lorenzobruni opened #309 "[BUG] Client timeout not working on ReadData"
The Client timeout has not been extended on ReadData and ReadPreMetadata

[2020-11-30 00:40] lorenzobruni commented on #309
@damienderoistecso
Please note that all occurrences of `ReadData` and `ReadPreMetadata` must have the timeout extended as below, else a connection may close before finishing.

![image](https://user-images.githubusercontent.com/53212047/100558032-6d9d9000-32a4-11eb-9256-cd32aa2596c5.png)

[2020-11-30 00:40] lorenzobruni commented on #309
Fixed and tested

[2020-11-30 00:54] lorenzobruni opened #310 "[BUG] PxStat.Data.Cube_API.PxAPIv1 logging error on validation failed"
This should be probably logging on debug rather than error.

![image](https://user-images.githubusercontent.com/53212047/100558427-565fa200-32a6-11eb-9bef-2a186a2d550e.png)

Can you please show to @liamie too?

Thanks

[2020-11-30 01:33] lorenzobruni opened #311 "[BUG] MemCacheD failing not storing large objects"
Please test with HPM04.
This is generating a serialized object of 20MB, then compressed to about 6MB, but it cannot be stored in cache.

@neilfromcork we can check this together in TD, I have the feeling the max memory setting limit in the Windows Service is case sensitive... it is currently set to 128M, but the documentation online refers to 128m instead.
I guess we are currently storing only up

[2020-11-30 01:34] lorenzobruni commented on #308
This one might be related #311

[2020-11-30 10:15] lorenzobruni commented on #311
Issue fixed by upgrading MemCacheD as a Service to the latest version [1.6.9](https://github.com/nono303/memcached) and changing the CaSe SeNsItIvE settign form `128M` to `128m`.

[2020-11-30 10:15] lorenzobruni commented on #311
@neilfromcork
FYI

[2020-11-30 10:16] lorenzobruni commented on #308
Duplicate of #311

[2020-11-30 10:16] #308 closed

[2020-11-30 12:43] CHanamy57 commented on #284
Latest Irish Translations implemented on client side - ready for test @liamie
Still outstanding: System/Performance - Chart names, Flush Performance confirm message, Flush Performance success message -  added to EN dictionary Friday.

[2020-11-30 15:12] CHanamy57 commented on #278
- System/Cache:
Implement async setting in API
I/O Byte chart label changes
Flush Button change Label & Icon

- System/Performance:
Add reload button to reload performance entity with chosen dates
Updated labels

[2020-11-30 15:13] damienderoistecso opened #312 "[ENHANCEMENT] read default 'Last Updated Tables date from' from the config file"
**Describe the solution you'd like**
Control the default 'Last Updated Tables Date From' value from the config file

[2020-11-30 15:14] neilfromcork commented on #300
Fixed in DEV

[2020-11-30 15:16] damienderoistecso commented on #312
Fixed and tested in dev

[2020-11-30 15:17] neilfromcork opened #313 "[ENHANCEMENT] Improve performance by removing matrix caches"
Cacheing matrixes mostly caused worse performance than reading them from an input. Therefore remove any matrix cacheing from the system

[2020-11-30 15:17] neilfromcork commented on #313
Fixed in DEV

[2020-11-30 15:19] neilfromcork opened #314 "[ENHANCEMENT] Ensure where possible that similar calls in JsonRpc, PxApiv1 and RestFul use the same cache"
Currently a separate cache is used to read the same data for JsonRpc, PxApiv1 and RestFul. These should be the same cache wherever possible.

[2020-11-30 16:23] damienderoistecso opened #315 "[ENHANCEMENT] Add goTo link for products and copyrights in products and copyright entities"
**Describe the solution you'd like**
In the manage products and manage copyrights, add a column to the datatable to display the goTo link for that product/copyright. Add copy feature to the link also.

![image](https://user-images.githubusercontent.com/53211688/100635244-340e6880-3328-11eb-8735-5aae79725cab.png)

[2020-11-30 16:40] neilfromcork opened #316 "[BUG] ReadCollection taking too much time"
ReadCollection takes too much time to download - check cache

[2020-11-30 16:41] neilfromcork commented on #316
Fixed in DEV- ready for test

[2020-11-30 22:03] lorenzobruni commented on #316
Test passed

[2020-11-30 22:04] lorenzobruni commented on #300
Test passed

[2020-11-30 22:05] lorenzobruni commented on #278
Test passed

[2020-11-30 23:56] #278 closed

[2020-11-30 23:56] #284 closed

[2020-11-30 23:56] #294 closed

[2020-11-30 23:56] #295 closed

[2020-11-30 23:56] #296 closed

[2020-11-30 23:56] #298 closed

[2020-11-30 23:56] #300 closed

[2020-11-30 23:56] #301 closed

[2020-11-30 23:56] #305 closed

[2020-11-30 23:56] #306 closed

[2020-11-30 23:56] #309 closed

[2020-11-30 23:56] #310 closed

[2020-11-30 23:56] #311 closed

[2020-11-30 23:56] #312 closed

[2020-11-30 23:56] #313 closed

[2020-11-30 23:56] #316 closed

[2020-12-01 00:18] lorenzobruni commented on #253
@likp
Hi, we have released the updated code and I have mixed news.

1. If I point to the Test API (test-ws.cso.ie) hosted in our internal web-server then I can browse the database.
[code]
2. Unfortunately, as soon as I make a table selection, by picking some variables I get this error
![image](https://user-images.githubusercontent.com/53212047/100680615-d3078480-3369-11eb-98da-c69b2dfa334b.png)
3.

[2020-12-01 07:44] likp commented on #253
I could be the caching that causes it not to reload. But you could right click on "CSO Test API" and select Reload from the context menu to force a reload.

PXWin uses log4net so check how it is configured in your installation and you will be able to find the config files.

[2020-12-01 12:09] damienderoistecso opened #317 "[ENHANCEMENT] Performance entity enhancements"
**Describe the solution you'd like**
Add shortcuts to datepicker similar to last updated tables. Add extra option of today

![image](https://user-images.githubusercontent.com/53211688/100737027-894f8600-33cb-11eb-8fad-4fb3ed836774.png)

In the Requests Queued chart, make y axis whole number only
https://stackoverflow.com/questions/53187070/charts-js-y-axis-whole-numbers

[2020-12-01 12:27] damienderoistecso opened #318 "[ENHANCEMENT] Sort last updated tables by date and then table id"
**Describe the solution you'd like**
Sort last updated tables by date and then table id

[2020-12-01 12:37] damienderoistecso commented on #318
Fixed in dev

@JohnPCarroll ready for test

[2020-12-01 13:12] JohnPCarroll commented on #318
Test Passed

[2020-12-01 16:39] damienderoistecso opened #319 "[BUG] Workflow History shows incorrect usernames"
**Describe the bug**
When you call "PxStat.Workflow.Workflow_API.Read" when a release is awaiting signoff, it displays the incorrect "RspCcnCreateUsername" and "SgnCcnCreateUsername"

[2020-12-01 17:22] neilfromcork opened #320 "[BUG] Minus values for users in Analytics"
Sometimes the value for Users in Analytics has a negative value

[2020-12-02 09:01] neilfromcork commented on #320
Fixed in DEV - ready for test

[2020-12-02 09:01] neilfromcork commented on #319
Fixed in DEV - ready for test

[2020-12-02 17:14] xprimexinverse opened #321 "[ENHANCEMENT] Excel format - numbers stored as text"
**Is your feature request related to a problem? Please describe.**
After I download a selection of data from PxStat in **Excel format**, when I open Excel it tells me that the **“numbers are stored as text”**. From a user perspective, this is inconvenient.

There is a simple fix in Excel. For example, I can simply highlight the cells and select “convert to number”. That said, it would be nice not

[2020-12-03 10:27] neilfromcork commented on #314
Fixed in DEV - ready for test

[2020-12-03 11:54] lorenzobruni opened #322 "[ENHANCEMENT] Upgrade DeviceDetector.NET library"
Upgrade the [DeviceDetector.NET](https://www.nuget.org/packages/DeviceDetector.NET/4.2.0) library to better scan user agents.

[2020-12-03 11:55] neilfromcork opened #323 "[ENHANCEMENT] Update version of DeviceDetector"
Update the version of the Device Detector library in order to ensure that Analytics picks up the latest version of Microsoft Edge

[2020-12-03 12:24] neilfromcork commented on #323
Fixed in DEV, ready for test

[2020-12-03 15:11] neilfromcork commented on #323
Duplicate of #322

[2020-12-03 15:11] #323 closed

[2020-12-03 15:11] neilfromcork commented on #322
Fixed in DEV

[2020-12-03 15:27] damienderoistecso opened #324 "[ENHANCEMENT] Open access changes"
**Describe the solution you'd like**

- Re-factor "Create User" to allow both AD and local users, e.g. tabs

- Create a public page for user to confirm email and set up 1FA password

  - Link to page by using body query string

  - Display full name, email and password input and repeat password

  - Display recaptcha

  - Send form detail (password hash sha256)  to API, on success, display message

[2020-12-04 10:35] colmanflynn commented on #288
We received a comment from an external user from a national agency regarding a issue using Pivot and Downloading to xlsx:

Hi All,

I am looking to download data from PxStat using the new pivot feature. There seems to be an issue when you ask to pivot and then download the data as an xlsx. The data is stored at text in each excel cell which would need to be converted to a number format in excel to

[2020-12-04 11:11] carolfinlay opened #325 "[BUG] Last Updated Tables is not updating ***Urgent***"
The Last Updated Tables box did not update with the tables that were published this morning

Thanks

[2020-12-04 12:15] xprimexinverse commented on #321
Just to clarify. My example is from selecting a table and pivoting by quarter. That's when the numbers get stored as text. They are stored as numbers when I do not pivot before downloading the file.

[2020-12-04 13:17] neilfromcork commented on #321
@xprimexinverse - Yes, we noticed this. This is scheduled for a fix in the next release.

[2020-12-04 13:18] xprimexinverse commented on #321
Super! Thanks, Neil. 👍

[2020-12-04 16:38] damienderoistecso commented on #325
@neilfromcork "PxStat.Data.Cube_API.ReadMetaCollection" cache doesn't seem to be invalidating when a pending live reaches the live from time. This fix might have to be done in trunk

[2020-12-07 13:54] neilfromcork commented on #325
Fixed in DEV - ready for test

[2020-12-07 14:35] liamie commented on #322
3.11.6.0 removed 4.2.0 in DeviceDetector reference properties

[2020-12-07 16:13] JohnPCarroll commented on #319
Teat passed. The person who completed the awaiting response is the name that is shown in awaiting signoff

[2020-12-07 16:16] neilfromcork opened #326 "[ENHANCEMENT] Remove n/a from NLT_REFERER and replace with null where it's found"
Remove n/a from NLT_REFERER and replace with null where it's found in order to make it consistent with the other fields

[2020-12-07 16:20] JohnPCarroll commented on #320
Test Passed. Unable to recreate error

[2020-12-07 16:46] liamie commented on #325
Seems to be updating on emergency fine
and seems to be flushing at sign off
have some matrix in the pending live to test

[2020-12-07 17:06] liamie commented on #314
Seems to be picking up the cache with the same hash for the different calls
Test passed

[2020-12-08 08:13] lorenzobruni commented on #325
I assume the pending will be fine as they follow the same implementation of the emergency.
I move this one to tested in order to speed up the release.
Thanks!

[2020-12-08 09:07] #314 closed

[2020-12-08 09:07] #318 closed

[2020-12-08 09:07] #319 closed

[2020-12-08 09:07] #320 closed

[2020-12-08 09:07] #322 closed

[2020-12-08 09:07] #325 closed

[2020-12-08 17:26] neilfromcork opened #327 "[BUG] The last entry of pivoted excel and csv datasets contain a duplicate of the second last line"
In some circumstances, the last entry of pivoted excel and csv datasets contain a duplicate of the second last line rather than the last data item

[2020-12-09 09:42] JohnPCarroll commented on #327
Test passed. Used all types of Pivot dropdown options.

[2020-12-09 15:23] liamie commented on #327
Front end pivot row counts now do not match downloaded csv/xls row count

![image](https://user-images.githubusercontent.com/55874862/101648005-4c216e80-3a31-11eb-9c1a-cc11a540f15c.png)

however the csv and xls have a row count of 96 (97-1 for title row) for the same pivot which I think is correct for the same pivot

I think this is occurring on even numbered classifications chosen

[2020-12-09 15:33] JohnPCarroll commented on #327
Liam,
	Is that error in Live or Dev only ?

Regards

John Carroll
Higher Executive Officer/Systems Analyst
Technology Dissemination
Email john.carroll@cso.ie
Telephone 021 4535630
Subject to the disclaimer at http://www.cso.ie/en/emaildisclaimer/ Faoi r�ir ag an s�anadh ag http://www.cso.ie/en/seanadhriomhphoist/

[2020-12-09 15:57] liamie opened #328 "[BUG] Front end pivot rows missing from display"
Dev and live all tables I think
Front end pivot row counts now do not match downloaded csv/xls row count

![image](https://user-images.githubusercontent.com/55874862/101648005-4c216e80-3a31-11eb-9c1a-cc11a540f15c.png)

however the csv and xls have a row count of 96 (97-1 for title row) for the same pivot which I think is correct for the same pivot

I think this is occurring on even numbered classi

[2020-12-10 09:51] neilfromcork opened #329 "[BUG] RESTful xlsx output outputs as text rather than excel"
If you choose the XLSX output in RESTful, the encoded data is shown on the browser screen rather than downloading it as a file

[2020-12-10 12:18] neilfromcork commented on #329
Fixed in DEV - ready for test. All formats should be tested on JSON-rpc, PxAPI and RESTful

[2020-12-10 15:11] liamie commented on #329
This now downloads a file in the XLSX format.
Works fine generally for smaller/medium file sizes but as the restful version always pulls the full data regardless of pivot or limited value selection it means that what appears to be a small datset in the front end tool and may not even prompt a large dataset warning could lead to a user attempting to download a file that exceeds the limits of XLSX(f

[2020-12-11 09:46] damienderoistecso opened #330 "[ENHANCEMENT] Official Statistics icon rendering"
**Describe the solution you'd like**
If a table is marked as "Official = true", display the official icon in the search results and table view page, otherwise don't display the icon

[2020-12-11 12:44] liamie opened #331 "[BUG]download of full dataset/large files in csv format giving network error"
**Describe the bug**
Download of full dataset/large files in csv format giving network error (live and dev)

**To Reproduce**
Download full dataset in csv

**Expected behavior**
Full dataset in expected format

**Screenshots**

![image](https://user-images.githubusercontent.com/55874862/101904245-75670980-3bad-11eb-806e-1071a8802a70.png)

[2020-12-14 09:05] damienderoistecso commented on #330
Fixed in dev

@JohnPCarroll ready for test

[2020-12-14 09:16] carolfinlay opened #332 "Change placement of "Share Table" to below "Contact""
Can you please move the "Share Table" to below the "Contact" details on the left handside of the screen when you click into the table.  Any notes/footnotes that are with the table and could potentially effect the way that you read the data should be the first thing that you see.

[2020-12-14 10:28] liamie commented on #330
Icon on official statistics : true. No Icon on statistics : false.

[2020-12-14 15:44] lorenzobruni opened #333 "[BUG] Table links not working from Excel"
When you open a link to a Table from Excel this does not open the Table page but the Homepage instead.

![image](https://user-images.githubusercontent.com/53212047/102101996-39d57500-3e23-11eb-9f0a-c9ab2c154d75.png)

[2020-12-14 15:50] lorenzobruni commented on #333
This issue is generated by a faulty third-party DLL in Microsoft Office, affecting some versions and environments of Excel, PowerPoint, Word.

A "pypass" has bene implemented on the server configuration to intercept such scenario and avoid the issue.
The following XML ReWrite rule resolves the problem.

[code]

To put it simple, this tells the Microsoft application that the URL is valid (Status 20

[2020-12-14 15:50] lorenzobruni commented on #333
Test passed

[2020-12-15 10:51] lorenzobruni commented on #331
@liamie
is this happening irrespective of the size of the table?
Can you please check how long time it takes before throwing the exception? 3 minutes perhaps?

Thanks

[2020-12-15 11:13] lorenzobruni commented on #328
@liamie
I checked this against LRW04.
It has 9.324 rows in total.

When I pivot by Sex (3 variables) I get 9.324 / 3 = 3.108 rows.
![image](https://user-images.githubusercontent.com/53212047/102207733-67272f00-3ec6-11eb-9557-ff983d066454.png)

When I pivot by Statistics (4 variables) I get 9.324 / 4 = 2.331 rows.
![image](https://user-images.githubusercontent.com/53212047/102207632-465ed980-3ec6-1

[2020-12-15 12:55] liamie commented on #328
Hi Lorenzo,
Try the same pivot by sex again on the same table but only have two Nationality chosen. All the rest criteria the same.

[2020-12-16 16:28] lorenzobruni commented on #328
Resolved by fixing the offset when splicing the reduced data

[2020-12-17 08:08] liamie commented on #321
Result Values no longer flagged as numbers stored as text in pivoted xlsx downloads

[2020-12-17 14:48] neilfromcork opened #334 "[ENHANCEMENT] Replace Open XML libraries with ClosedXML"
ClosedXML is a simple and flexible library for creating XLSX files ( see https://github.com/ClosedXML/ClosedXML)

- Replace the existing Open XML libraries with ClosedXML
- Replace the simple sheet view with an XLSX Table
- Always include a default pivot table, pivoted either by the requested dimension or else with no column data but easily editable to move the dimensions around.

[2020-12-17 15:28] damienderoistecso commented on #302
Fixed in Dev. Copy to clipboard is now set in the data.share.library.js file

@liamie ready for test

[2020-12-18 15:10] liamie commented on #302
This seems to be working correctly now tested coming from product page to table and button copied correctly.

[2020-12-18 16:07] liamie commented on #328
Row count is now consistent between pivots on download and front end

[2020-12-21 10:19] damienderoistecso commented on #334
@neilfromcork Can you confirm if this is fixed and ready for testing?

[2020-12-21 10:26] damienderoistecso commented on #329
This is an API interface and it can't provide other information upfront.

[2020-12-21 10:27] neilfromcork commented on #334
Completed but needs to be deployed to dev environment for testing

[2020-12-21 10:29] damienderoistecso commented on #317
Cannot add shortcuts for date ranges

[2020-12-21 11:17] damienderoistecso commented on #288
As part of #334 "full screen pivoting" will be available in .XLSX

Front end enhancements will also be considered

[2020-12-21 11:25] damienderoistecso opened #335 "Synchronize internationalisation files between branches"
Identify all strings that need to be translated in the Irish internationalisation files  (should all be prepended with '#') and send for translation.

[2020-12-21 11:40] neilfromcork commented on #326
Fixed and tested

[2020-12-21 11:42] neilfromcork commented on #334
Fixed - ready for test

[2020-12-21 13:33] damienderoistecso opened #336 "[BUG] Error loading releases from GoTo"
**Describe the bug**
When you load a release from a GoTo, you get an error because the TinyMCE library hasn't finished loading and the entity is trying to set TinyMCE editors. This will be resolved by hosting our own version of TinyMCE on github, thus avoiding the need to load the library dynamically with an API key https://github.com/CSOIreland/Client-API-Library/issues/2

[2020-12-21 15:14] lorenzobruni commented on #336
Fixed and tested

[2020-12-21 17:21] damienderoistecso commented on #334
@neilfromcork Negative values seem to be excluded from Excel output

[2020-12-22 12:32] lorenzobruni commented on #336
Form validation must happen when triggering the modal on demand.

[2020-12-23 10:18] lorenzobruni commented on #334
Test passed.

[2020-12-23 10:32] #302 closed

[2020-12-23 10:32] #315 closed

[2020-12-23 10:32] #317 closed

[2020-12-23 10:32] #321 closed

[2020-12-23 10:32] #326 closed

[2020-12-23 10:32] #328 closed

[2020-12-23 10:32] #329 closed

[2020-12-23 10:32] #330 closed

[2020-12-23 10:32] #333 closed

[2020-12-23 10:32] #334 closed

[2020-12-23 10:32] #336 closed

[2021-01-05 08:59] JohnPCarroll opened #337 "[BUG] Unable to add a new user in development environment"
**Describe the bug**
When I add a user an error message is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage- Users and select Add User button
2. Select relevant user details and select Add button
3. Error message appears
![image](https://user-images.githubusercontent.com/44975474/103626506-315cef80-4f34-11eb-8a4f-f087d91c62ac.png)

**Expected behavior**
User added

Ther

[2021-01-05 09:05] damienderoistecso commented on #337
@JohnPCarroll Everything to do with Users is currently being re-factored due to #324. Please don't log any issues against the users entity until we are ready to start testing this enhancement

[2021-01-05 09:05] #337 closed

[2021-01-05 12:26] liamie opened #338 "[BUG] entry counts in panels can expand beyond boundaries"
**Describe the bug**
Additional pages on panels with entries can expand beyond the bounds of the panel and obscure content in other areas of the page.

**To Reproduce**
Only visible when page count on a panel is multiple eg. work in progress on releases page

**Expected behavior**
Can the "next" be made to cascade down and right with more than one row within the panel if required or reduce the mid

[2021-01-05 16:54] liamie opened #339 "[BUG] Once invoked mobile view filter for product pages can persist to other pages"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use mobile size screen
2. Go to a 'Products' listing page either via browser or breadcrumb option
2. The filters expand/collapse option should appear if screen is small enough
![image](https://user-images.githubusercontent.com/55874862/103673682-cb915780-4f75-11eb-9632-b17

[2021-01-06 09:05] lorenzobruni opened #340 "[BUG] Codes disappeared from the REST-ful API"
Toggling on/off the Codes in the front-end does not affect the REST-ful API, which is now no longer returning the Codes.
Consider extending th REST-full parameters or either always include Codes.
![image](https://user-images.githubusercontent.com/53212047/103750004-21a9dd80-4ffe-11eb-9e36-0a9eda8b2491.png)

[2021-01-06 09:19] JohnPCarroll opened #341 "[BUG] Tables appearing twice on the Pending Live List"
**Describe the bug**
Some tables are appearing twice on the Pending Live List. This occurs when the workflow history contains 2 entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Releases and Pending Live List or DashBoard Pending Live

**Expected behavior**
Table should appear only once no matter how many entries are contained in the Workflow history

**Screenshots**
If applicab

[2021-01-06 09:31] JohnPCarroll opened #342 "[BUG] On Data page clicking on Links in Note required you to leave the application to view them."
**Describe the bug**
See Data Page. Table used BHA06. When you click on the link in Note you must leave the application. This is incorrect as you should get a new tab where the details are displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Data
2. Enter in Table Code BHA06
3. Click on table to view details
4. Click on Link See Background Notes
5.  You must select leave to view

[2021-01-06 11:08] lorenzobruni opened #343 "[BUG] Pivot param missing in PxAPIv1"
Pivoting should create a "pivot" parameter as sibling of the "format" in the API.
Same behavior of JSON-RPC, if pivoting is not specified, then no pivot occurs.

![image](https://user-images.githubusercontent.com/53212047/103761915-5d00d800-500f-11eb-8195-02fa4e15f22b.png)

[2021-01-06 11:09] lorenzobruni commented on #340
@damienderoistecso perhaps we should add a note for the REST-full that the Codes are always included here.

[2021-01-06 14:49] neilfromcork commented on #343
@lorenzobruni  - the pivot dimension is already included in the url rather than the body.

We could take the view that the url should tell us the resource we're looking for and the body should tell us how we want it. Therefore maybe this should be an enhancement to move the pivot dimension from the url to the body?

[2021-01-06 15:04] liamie opened #344 "[ENHANCEMENT] Improve Image quality on CSO Logo and name image"
At different size/scales image quality of CSO Logo and name image on data.cso.ie can appear blurred, still readable but lower resolution
![image](https://user-images.githubusercontent.com/55874862/103782729-b8db5900-502f-11eb-90d8-cae0989f0a4f.png)
compared to same logo/text on main cso.ie site
![image](https://user-images.githubusercontent.com/55874862/103782527-7ade3500-502f-11eb-8c10-4aced5b20d

[2021-01-08 12:33] damienderoistecso commented on #343
Pivot option moved from url to POST body

[2021-01-11 12:00] neilfromcork commented on #343
API complete. Ready for test both in 3.3.1 and 3.3.0

[2021-01-11 16:50] neilfromcork opened #345 "[ENHANCEMENT] Modularize the Search function"
Ensure that the Search works in a more modular fashion by:

- Use a number of simpler stored procedures rather than one big one
- Apply as much of the intelligence as possible to the C# code

[2021-01-14 15:40] neilfromcork opened #346 "[BUG] Metadata not updating after release unless the cache is flushed"
Outdated metadata shown on the client in some circumstances after a release

[2021-01-14 15:41] neilfromcork opened #347 "[BUG] Metadata not updating on client"
Outdated metadata shown on the client in some circumstances after a release

[2021-01-14 16:02] JohnPCarroll opened #348 "[BUG] Share product section is displaying incorrectly when the Back button selected"
**Describe the bug**
 The Share product section is displaying incorrectly when the Back button selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a listing page from the browse section
2. Select a table '
3. Select back button and the error is displayed.

**Expected behavior**
The Share Product section should not change

**Screenshots**
Correct details are
![image](https://user

[2021-01-20 15:32] carolfinlay opened #349 "Ability to sort Periods/Statistics/Classifications in Create"
When you need to re-order new period/statistic/classification in the create option you currently have to delete the entire entries and re-input them in the new order.  Can we please have the ability to re-order (drag and drop) in the create.

[2021-01-20 15:39] carolfinlay opened #350 "Adding a time period in update always appends that period. This may not be the correct position in the time dimension in some cases."
If you add an older period to the existing data the data appears in the view in the incorrect order and also the dimensions in the time pill are incorrect as it automatically picks the first and last time point from the Px file.  Therefore the update will need to be able to re-order the data per time period (oldest period first and newest period last)

[2021-01-20 17:40] colmanflynn opened #351 "Adding a Classification in Build-Create. Leave site pop-up appears and page reloads to Data screen [BUG]"
I was updating a Classification for TSA09 in the Test.
I brought the PX into the Create, deleted the old Classification and Uploaded the new one.
When I clicked on Add Classification, the Leave Site? pop-up appeared.
I clicked Cancel and tried again. A new pop-up appears with the Prevent dialogs option.
Every time I click Add Classification the pop-up appears. If I click Leave or tick the Prevent

[2021-01-26 09:19] damienderoistecso opened #352 "Clicking on "Download CSV Template" in build create/update causes leave site warning to appear"
Clicking on "Download CSV Template" in build create/update causes leave site warning to appear

[2021-01-26 09:22] damienderoistecso commented on #352
Fixed in 3.3.1 ready for test @liamie @JohnPCarroll

[2021-01-26 09:54] liamie commented on #352
Download CSV Template Seems to be correct in both create and update now.

[2021-01-26 11:26] damienderoistecso commented on #351
Fixed in 3.3.1

@JohnPCarroll @liamie whoever is testing, can you make sure that the upload statistic, classification and period works correctly as I re-factored all these functions

[2021-01-26 11:57] colmanflynn opened #353 "Carriage returns/new lines in Footnote not rendering correctly after publish [BUG]"
When adding or updating a Footnote ->
Download Source -> go to Build - Update - Parse
Make the changes to the footnote. Add carriage returns/new lines - Update
Then Import & Publish -> the extra lines disappear and the text appears in one block.
![Footnote vs Public Note](https://user-images.githubusercontent.com/59689411/105842068-905ed300-5fcd-11eb-9158-1cf48d36b598.PNG)

However, the source PX

[2021-01-26 12:20] damienderoistecso commented on #353
@neilfromcork When a footnote with line breaks is added to the px file during the update, it's passed in the api (""PxStat.Build.Build_API.Update") as follows

![image](https://user-images.githubusercontent.com/53211688/105843876-327fba80-5fd0-11eb-80bd-3ff652a88b3b.png)

When a public footnote is added in "PxStat.Data.Release_API.UpdateComment" it's passes the same as above as follows

![image](h

[2021-01-26 13:52] JohnPCarroll commented on #348
Test passed.

[2021-01-27 08:58] JohnPCarroll opened #354 "[BUG] Build Create download CSV file incorrect for Periods"
**Describe the bug**
The time Periods downloaded CSV file does not contain the row with the Text CODE and VALUE if no values exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Periods
2. Click on Download CSV
3. Open file and you will see no header

**Expected behavior**
The first row of the file should contain CODE in column one and VALUE in column two

**Additional context**
If d

[2021-01-27 11:38] neilfromcork commented on #353
Fixed in DEV - ready for test

[2021-01-29 15:19] damienderoistecso commented on #324
Client side code committed

@lorenzobruni client API library and constant file needs to be updated and index.html page updated to reflect new files when published

[2021-01-29 16:09] damienderoistecso opened #355 "Allow option to enable/disable pagination in table widgets"
**Describe the solution you'd like**
In the table widget options, allow users to toggle whether pagination is enabled or disabled in the datatable widget

[2021-02-02 09:15] damienderoistecso commented on #355
Client update in 3.3.1

[2021-02-02 11:54] damienderoistecso commented on #354
Fixed in dev 3.3.1

[2021-02-02 15:12] CHanamy57 opened #357 "[ENHANCEMENT] Refactor Footer Template"
Improve Responsive mobile functionality
Remove Sticky Footer
Include CSO Contact information
Add Social Media Links

[2021-02-02 15:19] CHanamy57 commented on #357
Committed refactored footer template
New footer.library.js file created for rendering additional links & Social Media Buttons
Update of config.json for contact details & Social Media

[2021-02-03 11:12] damienderoistecso commented on #357
@liamie ready for testing

[2021-02-03 12:02] liamie commented on #357
Testing in the 3.3.1 Dev.

When you click a follow us Icon the info text remains visible if you return to the pxstat page page even if that Icon is no longer highlighted. It sticks in view until something else is clicked.
Below Facebook link was clicked then went back to the pxstat page and text remained until something else was clicked.
![image](https://user-images.githubusercontent.com/55874862/

[2021-02-03 12:05] damienderoistecso commented on #357
Fixed in dev

@liamie ready for re-test

[2021-02-03 12:40] liamie opened #358 "[ENHANCEMENT] Typo in General Privacy Terms"
responsability should be responsibility
![image](https://user-images.githubusercontent.com/55874862/106748315-faeebf00-661c-11eb-9f13-2b9a454f4dd4.png)

[2021-02-03 13:15] liamie commented on #357
The last activated external link middle column or email link on far left. remains highlighted/grey after clicking until something else is clicked but the internal Privacy and Manage Cookies return to white once the modal is closed. Modal also breaks tabbing order and reverts to start. If possible I think this should be consistent for last clicked link either highlighted or not. Underlining for cur

[2021-02-05 09:58] carolfinlay opened #359 "Widget Table default sort"
If table sorted by column can the widget code reflect it

[2021-02-08 09:39] lorenzobruni commented on #347
To be reviewed as caching for Pre-Metadata should be cleared on upload or signoff

[2021-02-08 09:40] lorenzobruni commented on #343
@damienderoistecso can you please test this? Thanks

[2021-02-08 09:44] lorenzobruni commented on #353
@neilfromcork please review consolidating multiple spaces into 1

[2021-02-08 10:01] damienderoistecso commented on #343
Test passed using Postman

[2021-02-08 11:12] neilfromcork commented on #353
Amended to consolidate only the spaces but not the newlines

[2021-02-08 13:01] CHanamy57 commented on #307
Missing Translations from 3.2.0 added to updated 3.3.1 GA file

[2021-02-08 16:15] damienderoistecso commented on #359
Applied in dev. Available in next release

[2021-02-08 16:15] damienderoistecso commented on #355
Applied in dev

[2021-02-08 16:26] damienderoistecso opened #360 "Include default search in table widget"
If a user filters the data by using the datatable search, this search is included in the widget snippet

[2021-02-09 16:22] liamie commented on #335
some additions from 3.4.0
Login
![image](https://user-images.githubusercontent.com/55874862/107393008-2e848a00-6af2-11eb-8927-115ed0bc04f7.png)
Logout
![image](https://user-images.githubusercontent.com/55874862/107392015-2aa43800-6af1-11eb-9d62-464e7214d7c5.png)
Verify + Translations on the text in the Logon and Verify 2FA windows
and in user
![image](https://user-images.githubusercontent.com/5587

[2021-02-09 17:24] damienderoistecso commented on #354
@JohnPCarroll can you test this now in 3.4.0 please

[2021-02-10 09:23] damienderoistecso commented on #360
Updated in client 3.4.0

@liamie @JohnPCarroll This can be tested by using the new download snippet feature and when you open the HTML file you should see the new feature

[2021-02-10 09:25] damienderoistecso commented on #359
@liamie @JohnPCarroll

This can be tested by using the new download snippet feature and when you open the HTML file you should see the new feature

[2021-02-10 09:27] damienderoistecso commented on #355
Ready for testing in 3.4.0

[2021-02-10 09:29] damienderoistecso opened #361 "Allow download of widget snippet as HTML file"
Give option of downloading snippet as HTML file

[2021-02-10 09:30] damienderoistecso commented on #361
Ready for testing

[2021-02-10 09:32] damienderoistecso commented on #358
Fixed in 3.4.0

@liamie Ready for test

[2021-02-10 10:12] liamie commented on #358
Correct now.

[2021-02-10 10:47] liamie commented on #361
Button available to download a html file once view is chosen. File contains text from widget textbox.

[2021-02-10 10:57] liamie commented on #360
Search set in the browser is presented as default in the downloaded html. This is free to be altered in the HTML file as required afterwards. Downloaded csv in the html file reflects changes also.

[2021-02-10 11:11] damienderoistecso opened #362 "Chart custom JSON invalid after you reset chart"
**Describe the bug**
If you decide to "Reset" the chart, the custom JSON code box gets emptied but this causes an error to appear saying that the JSON is invalid. The custom JSON should go back to an empty JSON options object

[2021-02-10 11:12] damienderoistecso commented on #362
@liamie ready for testing

[2021-02-10 12:16] liamie commented on #362
{
    "options": {}
}
is now reset/retained also so error does not appear

[2021-02-10 12:28] liamie opened #363 "[BUG] Single value charts showing confusing increments"
line
![image](https://user-images.githubusercontent.com/55874862/107509893-19b00100-6b9b-11eb-907c-2dbeabc58693.png)
column
![image](https://user-images.githubusercontent.com/55874862/107509536-9bebf580-6b9a-11eb-86fd-a843defa069d.png)

The value on the increments appear the same for multiple increments. Should these not be still different figures at each step or not shown at all.

[2021-02-10 14:08] JohnPCarroll commented on #351
Leave Site Popup gone. There is an another issue with Validation of statistics. Will log a bug on it

[2021-02-10 14:13] JohnPCarroll opened #364 "[BUG] In Build Create Validation of Statistics not working correctly in development environment"
**Describe the bug**
The validation of statistics does not happen on the First pass but will work on the Second pass.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Build Create
2. Import a file
3. In the statistics section manually input or load duplicate Statistics
4. Details accepted on 1st run but not on 2nd run

**Expected behavior**
Validation should take place every time and re

[2021-02-10 14:22] liamie commented on #360
Does not work if display codes is set to true and a code or part off is used as the search criteria as even though code in widget/file is set to true code is not displayed/used so displays 0 entries in file or only those entries where search criteria is on a label also.
eg. table CCA10
with display codes set to true
in the normal search for "06" codes are picked up
![image](https://user-images.git

[2021-02-10 14:36] damienderoistecso commented on #364
Fixed in 3.4.0

@JohnPCarroll Ready for test

[2021-02-10 15:03] lorenzobruni commented on #353
Test passed by @neilfromcork

[2021-02-10 15:06] lorenzobruni commented on #350
@neilfromcork let's review this from a business prospective

[2021-02-10 15:06] JohnPCarroll commented on #355
Test passed

[2021-02-10 15:07] lorenzobruni commented on #349
@damienderoistecso to review together

[2021-02-10 15:14] neilfromcork opened #365 "[BUG] New matrix not being found in search"
need to make sure search cache only lives until next publish date ** 3.4.0 URGENT***

[2021-02-10 15:20] lorenzobruni commented on #347
@neilfromcork to test

[2021-02-10 15:21] lorenzobruni commented on #346
Duplicate of #347

[2021-02-10 15:21] #346 closed

[2021-02-10 15:22] lorenzobruni commented on #342
@damienderoistecso add target blank to the BBCode parser

[2021-02-10 15:32] JohnPCarroll commented on #359
Test Passed

[2021-02-10 15:40] lorenzobruni commented on #342
@damienderoistecso Client should always parse the BBCode, which apparently is the case. Please verify.
@neilfromcork Server should store Notes as they are, because is source data. The only exception is about stripping HTML in the sanitization. As result, a note may contain only pure text with maybe BBCode to be stored into the DB.
When read form the DB, then it can be parsed for viewing purposes,

[2021-02-10 15:53] lorenzobruni commented on #345
@JohnPCarroll please retest the Search,  thanks

[2021-02-10 15:53] lorenzobruni commented on #345
fixed by @neilfromcork

[2021-02-10 16:01] lorenzobruni opened #366 "[BUG] PxStat.Workflow.Workflow_API.ReadLive broken"
The API is broken see log below

[2021-02-10 16:02] lorenzobruni commented on #341
@neilfromcork to review

[2021-02-10 16:06] lorenzobruni commented on #340
Fixed by @neilfromcork ahead of time! :-) Tested by Damien 💯

[2021-02-10 16:10] lorenzobruni commented on #331
@liamie any about about the above? Thanks

[2021-02-10 16:12] lorenzobruni commented on #324
@JohnPCarroll @liamie @DeclanBuckley
For testing this one you need to update the CORS policy, I can show you how to do it.

Talk to me first.

[2021-02-10 16:13] lorenzobruni commented on #360
@liamie good spot, we need a new enhancement for implementing the Codes in the Widget

[2021-02-10 16:16] lorenzobruni opened #367 "[ENHANCEMENT] Widget Table - Include Codes"
Extend the Widget Table to render Codes on demand via the toggle and also consolidate the DataTable rendering only via the Widget.

N.B. Please remember to resynch the Table pivoting #328

[2021-02-10 16:17] lorenzobruni commented on #360
Tested with the above caviat.

[2021-02-10 16:18] liamie commented on #359
This works as described but is affected by the search/codes limit described in #360 so only sorts correctly if all lines are unfiltered or filtered only by labels.

[2021-02-10 16:19] lorenzobruni commented on #307
Duplicate of 335#

[2021-02-10 16:19] #307 closed

[2021-02-10 16:23] lorenzobruni commented on #327
Duplicate of #328

[2021-02-10 16:23] #327 closed

[2021-02-10 16:26] lorenzobruni commented on #365
@neilfromcork Kind of urgent, thanks

[2021-02-10 16:30] lorenzobruni commented on #345
@JohnPCarroll please speak to @neilfromcork for knowing what has changed

[2021-02-10 16:32] lorenzobruni commented on #359
@liamie correct, let's include this into the #367

[2021-02-10 16:36] liamie commented on #355
Option on or off Passed, but limit on the pagination in widget.
Note: pagination dropdown does not provide a view all option in the widget/html file even with pagination enabled.

[2021-02-10 16:40] damienderoistecso commented on #355
This will be resolved by #367  when we consolidate the DataTable rendering only via the Widget.

[2021-02-10 16:41] damienderoistecso commented on #367
As per #355  ensure pagination in widget includes option to show all if pagination enabled

[2021-02-11 10:32] neilfromcork commented on #365
Fixed in DEV - ready for test. Probably caused by search for a WIP matrix code before it was published resulted in no data in the cache. Cache is now fixed to expire at the next publish date/time.

[2021-02-11 10:34] neilfromcork commented on #347
Fixed in DEV ready for test

[2021-02-11 10:35] neilfromcork commented on #341
Can't replicate. Possible data issue in previous release.

[2021-02-11 10:36] neilfromcork commented on #353
Fixed in DEV - ready for test

[2021-02-11 10:38] neilfromcork opened #368 "[BUG] HTML tags not being removed from px file on import"
http symbols not being removed from px file on import - e.g. in NOTES

[2021-02-11 10:39] neilfromcork commented on #368
Fixed in DEV. Also BBCODE transform removed from JSON-stat output

[2021-02-11 10:42] neilfromcork opened #369 "[BUG] Display name and Email not being stored for Local User"
Display name and Email not being stored for Local User when local user is created

[2021-02-11 13:05] JohnPCarroll commented on #341
I have recreated the issue in the Development environment using Table ELA02.
1. You reject in the Workflow Sign-Off.
2. You then approve each step of the workflow process and Approve the Sign-off.
3. The table will appear twice in the Pending Live section.

[2021-02-11 14:23] JohnPCarroll commented on #347
Test passed.
Used One Table and all was correct
Used Two Tables associated with two Subjects and all was correct.

[2021-02-11 15:14] neilfromcork commented on #341
Thanks for that @JohnPCarroll . Fixed in DEV, ready for test now.

[2021-02-11 15:50] JohnPCarroll commented on #341
Test Passed

[2021-02-11 16:18] JohnPCarroll commented on #345
Test Passed. With using "and"  it reduces the number of tables returned which is helpful.

[2021-02-12 08:50] neilfromcork commented on #368
@JohnPCarroll - Script applied to DEV to convert existing notes to BBCode

[2021-02-12 10:43] JohnPCarroll opened #370 "[BUG] User details not displayed for AD user"
**Describe the bug**
In the Dashboard or Releases pages the User details for AD users are not displayed. It refers to them as type Local

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard and select any section
2. Click on imported by section
3. Popup pages appears with user details

**Expected behavior**
Correct user details are displayed

[2021-02-12 11:05] neilfromcork commented on #370
Looks ok when I run PxStat.Security.Account_API.Read - @damienderoistecso can you check?

[2021-02-12 11:37] damienderoistecso commented on #370
@neilfromcork I think issue is that "PxStat.Security.Account_API.Read" is returning an array of one object and I am expecting just an object. It should be the same as "PxStat.Security.Account_API.ReadCurrent" which returns a single object

[2021-02-12 12:20] damienderoistecso commented on #370
Fixed in dev

@JohnPCarroll ready for test

[2021-02-12 12:20] JohnPCarroll commented on #365
Test Passed

[2021-02-12 12:23] damienderoistecso commented on #370
Duplicate of #324

@JohnPCarroll I'm marking this as a duplicate of #324 as this was a result of the open access changes. If you come across any bugs in this testing to do with users/access/permissions can you log against #324 as they are more than likely because of that rather than a bug that was always there

[2021-02-12 12:23] #370 closed

[2021-02-12 12:48] JohnPCarroll commented on #324
User details now displayed correctly see closed bug 370

[2021-02-12 12:51] liamie commented on #331
This seems to be only very large files are timing out now. ie million+ of records had occurred on some files in 100's of thousand but these seem to be correct now. Over 10 min before exception error in some cases.

[2021-02-12 15:54] liamie commented on #324
Getting this when going to Build>Import not every time but often enough to be noticeable can get it to occur most consistently if I add or delete a subject in manager before going to Build>Import
![image](https://user-images.githubusercontent.com/55874862/107789698-d778f200-6d49-11eb-968d-265508006e59.png)
![image](https://user-images.githubusercontent.com/55874862/107790250-7b629d80-6d4a-11eb-8a9

[2021-02-15 11:57] lorenzobruni commented on #366
@neilfromcork is this fixed? Thanks

[2021-02-15 11:59] lorenzobruni commented on #342
@neilfromcork could you remove the BBCode parser for JSON-stat and write a script to fix the DB entries? Thanks

[2021-02-15 12:09] neilfromcork commented on #366
Fixed in DEV - ready for test

[2021-02-15 12:20] lorenzobruni opened #371 "[BUG] CcnDisplayName misnaned as CcnName"
### Server Side

Several APIs (and DB?) are referring to CcnName instead of CcnDisplayName following the OpenAccess enhancements #324

### Client Side

* Rename `CcnName `to `CcnDisplayName `everywhere.

[2021-02-15 12:57] lorenzobruni commented on #366
@JohnPCarroll this can be tested by opening the Dashboard and checking the content for the Live Tables.

[2021-02-15 12:58] lorenzobruni commented on #368
@JohnPCarroll This can be tested by placing a valid HTML tag i.e. `<a href="something">something</a>` in the notes of a PX file when importing

[2021-02-15 17:23] neilfromcork commented on #371
Server side fixed

[2021-02-15 17:25] neilfromcork opened #372 "[ENHANCEMENT] Use silent success message for user management APIs"
Use silent success message for user management APIs in order to prevent security probing

Example - when an AD user attempts to change 1FA password, the API should do nothing but return "success". No email is sent.

[2021-02-16 10:33] lorenzobruni commented on #372
Test passed

[2021-02-16 10:34] lorenzobruni commented on #371
Test passed with @neilfromcork

[2021-02-16 11:00] lorenzobruni commented on #342
Duplicate of #368

[2021-02-16 11:00] #342 closed

[2021-02-16 11:18] lorenzobruni commented on #324
@liamie I think that @neilfromcork has identified the issue. This was probably because of some DB transactions conflict.
Because it was happening occasionally, then it is hard to prove it 100% so I mark it as resolved but if you notice it again please reopen it immediately. Thanks a mill , GOOD SPOT!

[2021-02-17 09:21] lorenzobruni opened #373 "[BUG] Cookie Consent Banner lost"
The Cookie Consent Banner went lost following the refactoring of the footer which is no longer sticky.
Move the Cookie Consent Banner to the top instead to avoid overlapping with the new no-sticky footer

[2021-02-17 09:50] damienderoistecso commented on #373
Client updated

[2021-02-17 09:51] damienderoistecso commented on #373
@liamie ready for testing ASAP please for the next release. Please delete any existing cookie for cookie consent that you may have

[2021-02-17 11:05] lorenzobruni commented on #373
@damienderoistecso
FYI, @liamie is off today, I mark this passed.

Cheers

[2021-02-17 12:37] #340 closed

[2021-02-17 12:37] #341 closed

[2021-02-17 12:37] #343 closed

[2021-02-17 12:37] #345 closed

[2021-02-17 12:37] #347 closed

[2021-02-17 12:37] #348 closed

[2021-02-17 12:37] #351 closed

[2021-02-17 12:37] #352 closed

[2021-02-17 12:37] #353 closed

[2021-02-17 12:37] #354 closed

[2021-02-17 12:37] #355 closed

[2021-02-17 12:37] #357 closed

[2021-02-17 12:37] #358 closed

[2021-02-17 12:37] #359 closed

[2021-02-17 12:37] #360 closed

[2021-02-17 12:37] #361 closed

[2021-02-17 12:37] #362 closed

[2021-02-17 12:37] #364 closed

[2021-02-17 12:37] #365 closed

[2021-02-17 12:37] #366 closed

[2021-02-17 12:37] #368 closed

[2021-02-17 12:37] #369 closed

[2021-02-17 12:37] #371 closed

[2021-02-17 12:37] #372 closed

[2021-02-17 12:37] #373 closed

[2021-02-17 12:37] #324 closed

[2021-02-17 15:52] lorenzobruni opened #374 "[ENHANCEMENT] Implement Logarithmic scale in Analytics"
Change the scale for the Referrer and Language bar charts to Logarithmic for better visibility.

[2021-02-17 16:11] damienderoistecso commented on #374
@liamie As you can see on live, the y axis scale is at regular intervals and is therefore hard to compare
![image](https://user-images.githubusercontent.com/53211688/108232418-aa0db900-713a-11eb-81eb-9d618848aeba.png)

Now, with Logarithmic, it should be easier to see all values even if one value is far higher than all the rest

[2021-02-18 13:55] carolfinlay opened #375 "Exporting the Analytics Table"
I would like to be able export the analytics table from PxStat

[2021-02-18 13:56] carolfinlay commented on #332
Have you any update for me on this please?

[2021-02-18 15:31] neilfromcork opened #376 "[BUG]New Local or AD user gets 2FA email when setup but no token is created on the database"
New Local or AD user gets 2FA email when setup but no token is created on the database. This means that the user can't complete 2FA setup.

[2021-02-18 15:32] neilfromcork commented on #376
Fixed in DEV - ready for test.

[2021-02-19 09:36] lorenzobruni commented on #363
@liamie where is this from?
How to reproduce exactly? Thanks

[2021-02-19 09:37] lorenzobruni commented on #349
Work on this together with #350

[2021-02-19 09:39] lorenzobruni commented on #344
@damienderoistecso please liaise with @neilfromcork  about fitting XLSX too

[2021-02-19 09:40] lorenzobruni commented on #335
@CHanamy57 please forward translations for the last 3.4.0 release

[2021-02-19 09:56] lorenzobruni commented on #331
@liamie
can you please inform a large table having this issue?

Thanks

[2021-02-19 09:57] lorenzobruni commented on #261
Duplicate of #349

[2021-02-19 09:57] #261 closed

[2021-02-19 10:03] damienderoistecso commented on #375
Implemented in dev

@liamie ready for testing

[2021-02-19 11:16] carolfinlay commented on #375
Thanks Guys

Carol

[2021-02-19 11:33] liamie commented on #331
TEM10

[2021-02-19 13:14] CHanamy57 commented on #335
Latest 3.4.0 release translations have been forwarded.

[2021-02-19 14:12] carolfinlay opened #377 "Analytics to be only viewable on a table that you have access to"
We always were of the belief that you could only see the analytics for a table that you had access to as a moderator.

After being set up as a moderator in test I was able to see the analytics for tables that I didn't have access to.

Also I would have real concerns about people using the "Open Access" functionality having access to CSO analytics.

Can you please ensure that any moderator will onl

[2021-02-22 09:23] neilfromcork opened #378 "[BUG] Error thrown when user attempts to dowload an XLSX file with more than 1048576 rows"
When a user attempts to download an XLSX dataset with more than the maximum allowed number of rows (1048576) an error is thrown. This should instead be handled at the front end and the back end.

[2021-02-22 09:36] neilfromcork opened #379 "[BUG] Intermittent row locked error when trying to extend session"
For an externally logged in user, when attempting to extend the session time in the database, an error occurs because the row is locked.

[2021-02-22 11:53] liamie commented on #375
Analytics table available and correct to download in CSV format

[2021-02-22 15:00] liamie commented on #363
Should be similar on any chart with a single series chosen. On bar charts the multivalues are on the  x-axis.
![image](https://user-images.githubusercontent.com/55874862/108725905-c20c8080-751e-11eb-9fc1-af142ac19108.png)

[2021-02-23 12:02] damienderoistecso opened #380 "Include unit in statistic option title in table select"
Currently when you hover over an option in the statistic dimension of the table selection, the unit is not displayed. This would be useful in the case of long labels where the unit is not visible in the select

![image](https://user-images.githubusercontent.com/53211688/108840536-67326200-75ce-11eb-8da7-70bef8b36ac5.png)

Now, when you hover over a statistic, the unit is displayed

![image](https:

[2021-02-23 12:04] damienderoistecso commented on #380
@liamie ready for testing

[2021-02-23 13:30] liamie commented on #380
Seems to be displaying correctly for table select and related, including release view data and chart statistic select.
Also appears correct in other languages.

[2021-02-23 14:01] damienderoistecso commented on #377
A few changes can be made to change how analytics are accessed.

Only power users and admins can access the analytics entity and call the "PxStat.Security.Analytic_API.Read" to get any analytics they want.

Moderators will only be able to access analytics from their dashboard and will only see a limited set of analytics for the tables that they have access to through their group privilege's.

@dam

[2021-02-24 12:02] neilfromcork commented on #378
Error with appropriate message returned when the limit is exceeded. New entry in global config - dataset.xlsx-threshold

[2021-02-24 12:03] neilfromcork commented on #377
Completed in DEV - ready for test @damienderoistecso

[2021-02-24 14:43] damienderoistecso opened #381 "Include datatable responsive css in widgets"
Include datatables default responsive css file in widgets library.

The responsive css was only included for bootstrap

[2021-02-24 17:08] damienderoistecso opened #382 "Extent table widgets to include responsive option"
Allow an optional toggle to include the responsive option to datatables.

It's enabled by default and if turned to false, then the table get a horizontal scroll instead to allow for viewing when the table width overflows it's container

[2021-02-24 17:13] damienderoistecso commented on #382
@liamie ready for testing

[2021-02-25 10:04] damienderoistecso opened #383 "Chart widget not responsive"
**Describe the bug**
Charts do not render correctly on small devices and do not render when in responsive mode

[2021-02-25 11:02] liamie commented on #382
Seems to be correct. If a row is to long the  remainder is available by clicking the entry. Can the list of additional columns be formatted and aligned  similar to the front end, to clearly distinguish between title and content.

In widget
![image](https://user-images.githubusercontent.com/55874862/109143730-4269f600-7758-11eb-8ad5-16b3fbade9da.png)

In frontend
![image](https://user-images.github

[2021-02-25 11:29] damienderoistecso commented on #382
@liamie In PxStat we use bootstrap which give it the format as per your second screenshot. For the widgets, we render with the default datatables look and feel as the widgets could be used in any environment with or without bootstrap. The widget will render using bootstrap if the HTML page that the widget is embedded in already has bootstrap.

[2021-03-02 08:47] neilfromcork commented on #379
Fixed in DEV

[2021-03-04 10:45] liamie opened #384 "Index monitor for defragmentation[ENHANCEMENT]"
Index Monitor for defragmentation

[2021-03-04 10:56] liamie commented on #384
On dev now

[2021-03-04 11:03] damienderoistecso commented on #384
@liamie can you tell us the name of the api for the read please?

[2021-03-04 11:54] damienderoistecso opened #385 "[BUG] Checking for duplicate item in dimensions bug"
**Describe the bug**
In build create, if you try and add a variable with the code "pop" is was causing the validation of that dimension to fail due to the variable being called "pop" as this is a function name in javascript also

[2021-03-04 12:03] damienderoistecso commented on #385
Fixed in dev

@liamie ready for test

[2021-03-04 14:12] liamie commented on #385
This seems to be correct now. Tested for STATISTIC,PERIOD and CLASSIFICATION also

[2021-03-05 11:34] neilfromcork opened #386 "[BUG] Cache for Collection doesn't pick up the next release date"
If a release is deleted or rolled back, the next release date for the cache is calculated incorrectly and some of the latest releases are not visible on the default view.

[2021-03-05 16:13] CHanamy57 commented on #384
@liamie fragmentation spelled as "fragmentaion" in API

[2021-03-05 16:30] liamie commented on #384
@CHanamy57 Should be correct there now

[2021-03-08 10:59] damienderoistecso commented on #377
@JohnPCarroll ready for testing. Analytics entity only available to power users and admins. Moderators can only see their analytics through the dashboard entity

[2021-03-08 11:22] damienderoistecso commented on #383
@lorenzobruni release pxWidget

[2021-03-08 11:30] damienderoistecso commented on #379
@neilfromcork include c# transaction

[2021-03-08 11:32] damienderoistecso commented on #378
@neilfromcork move from global config to static

[2021-03-08 11:36] damienderoistecso commented on #376
@JohnPCarroll this must be tested in test-data.cso.ie

[2021-03-08 11:43] damienderoistecso commented on #335
@CHanamy57 Can you follow up on this with the Irish Office

[2021-03-08 11:48] JohnPCarroll commented on #386
Test passed. I did a rollback following tables going live and all was correct. I then deleted a table pre release of another table and all was correct.

[2021-03-08 12:20] damienderoistecso opened #387 "[ENHANCEMENT] Make option to enable charts and maps separate"
**Describe the solution you'd like**
Allow charts and maps to be enabled/disabled independently through the config file

[2021-03-08 13:50] damienderoistecso commented on #339
@liamie ready for test

[2021-03-08 14:17] JohnPCarroll commented on #377
Test Passed. Can only see their own tables via the dashboard. Can the Analytics Tab be removed as it serves no purpose for a moderator

[2021-03-08 14:21] damienderoistecso commented on #377
@JohnPCarroll Analytics tab should not be available to moderators. Is this the case?

[2021-03-08 14:25] damienderoistecso commented on #377
Analytics now removed from menu for moderators
@JohnPCarroll ready for test

[2021-03-08 14:38] JohnPCarroll commented on #377
Test passed

[2021-03-08 15:07] JohnPCarroll opened #388 "[BUG] Compare release can not complete correctly if moderator is not in relevant groups for the Matrix"
**Describe the bug**
A matrix was loaded to group 1 and it went live. When loaded the next time it was assigned to another group.
If the moderator approver selects the Compare Release button it will not work correctly as the release in group 1 is not available to the moderator.

[2021-03-09 14:14] liamie commented on #376
testing on test, but response email and link points to dev

[2021-03-09 17:02] neilfromcork commented on #376
@liamie - error in deployment to test, can you try again?

[2021-03-10 09:26] lorenzobruni commented on #381
@lorenzobruni release pxWidget

[2021-03-10 16:31] neilfromcork commented on #379
Try..catch moved from sp to c#  code
Ready for test in TEST

[2021-03-10 16:32] neilfromcork commented on #378
Ready for test in TEST

[2021-03-11 08:30] neilfromcork opened #389 "[BUG] Slow return of individual data items in CTM01"
CTM01 (5m records) - individual records take a few minutes to return once selected

[2021-03-11 10:19] liamie commented on #339
This seems to be correct now filter no longer appearing on pages without functional filter options.

[2021-03-11 11:09] JohnPCarroll commented on #378
Test passed in TEST Environment

[2021-03-11 11:39] JohnPCarroll commented on #389
Test passed in DEV and TEST.  Took around 12 seconds in Test and 20 in DEV

[2021-03-11 12:11] liamie commented on #376
This seems to be correct now. Was able to proceed through full steps for Password and 2FA setup with new user.

[2021-03-11 16:32] CHanamy57 commented on #384
Database Entity ready for test

[2021-03-12 10:09] damienderoistecso commented on #363
Issue was caused by the "Auto-scale" option set to true when you only had one item on the x-axis.

Now, when you only have one variable on the x-axis, auto-scale is set to false and disabled, reset to enabled and true once more than variable  is selected for the x-axis

[2021-03-12 10:10] damienderoistecso commented on #363
@liamie ready for test

[2021-03-12 10:14] liamie commented on #384
@CHanamy57
This message appears after the successful reorganize for both the individual table and the all table options
![image](https://user-images.githubusercontent.com/55874862/110925167-c4424d80-831a-11eb-9a67-e60ede3c5ab6.png)

However the tables list is not actually reloaded unless the reload button is clicked.

1. Should the success message be reorganized rather than reloaded
2.  Should the

[2021-03-12 10:19] damienderoistecso commented on #344
@neilfromcork Can you update the path to the logo in the global config to this url please

https://cdn.cso.ie/static/img/cso_logo_312_x_108_96dpi.png

[2021-03-12 10:32] damienderoistecso commented on #384
@CHanamy57

Can we change the confirm messages to the following

For the overall reorganise : "<p>You are about to reorganise all indices for all tables. </p><p>Confirm to continue, or Cancel.</p>"

[2021-03-12 10:38] damienderoistecso commented on #384
@CHanamy57  Can we change the confirm messages to the following

For the overall reorganise : You are about to reorganise all indices for all tables. Confirm to continue, or Cancel

For the table reorganise create a dynamic message : You are about to reorganise all indices for the table {0} Confirm to continue, or Cancel

Once either reorganise is successful you can display a generic success messa

[2021-03-12 10:44] neilfromcork commented on #344
@damienderoistecso now on test - looks ok to me for the XLSX file

[2021-03-12 10:52] damienderoistecso commented on #344
Client update to reflect new logo

@liamie ready for test

[2021-03-12 11:15] liamie commented on #363
Seems to be better for single variables.
However as the Auto-Scale is now forced to true even if manually set to false for multi the scaling problem still exists if the values are close together to the same figure as below
![image](https://user-images.githubusercontent.com/55874862/110933111-3e2b0480-8324-11eb-8431-fc9e2bd4faf9.png)

[2021-03-12 11:20] damienderoistecso commented on #363
@liamie ready for test again

[2021-03-12 12:52] liamie commented on #363
The hard lock on Auto-Scale is now gone of multi values.
The hard lock not just default still remains on single values.

Visually I notice no difference on the Auto-Scale option set to true so a series with all similar values still provides a confused chart.
As above image the first 2 columns have figures of 32.1 and the third has 31.9 but all the y values are labeled 32. this does seem to allevia

[2021-03-12 16:14] liamie commented on #344
Appears to be crisper on PC in general and at smaller mobile when image is full ie text has dropped below.

![image](https://user-images.githubusercontent.com/55874862/110964175-d2a85d80-834a-11eb-8df9-8a41864e98a3.png)

Still some blurring and discoloration during middle responsive views ie when the test text on the right hand side hasn't dropped below but still better.
![image](https://user-imag

[2021-03-12 17:28] damienderoistecso commented on #379
@lorenzobruni to review

[2021-03-12 17:29] CHanamy57 commented on #384
Updated Confirm & Success messages
ReDraw bug fix

Ready for test

[2021-03-15 13:00] liamie commented on #363
The Auto-Scale issue seems to be resolved with the use of additional decimal places to distinguish the increments.

[2021-03-15 16:06] neilfromcork commented on #389
@lorenzobruni - amended data delete job to include index re-org as the next step. Added some logging and "execute as owner". Looks ok for data update, also tested ok for two simultaneous updates.

[2021-03-16 12:20] lorenzobruni commented on #379
Code amended to enforce a Snapshot Isolation also on Read Base Template
@neilfromcork to run some tests

[2021-03-16 14:46] liamie opened #390 "[BUG] After using database reorganise update navigation in release returns to database screen not releases"
**Describe the bug**
After using database reorganise update navigation in release returns to database screen not releases

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Database
2. Click on Reorganise
3. after confirmation
4. Go to any release, update navigation
5. After Save and Close Database window reappears not release

**Expected behavior**
Release window should reappear

This oc

[2021-03-16 15:05] liamie commented on #390
This also impacts on import -> validation when click close on success modal

[2021-03-16 15:12] liamie commented on #390
Adding keyword, product etc. also impacted, seems to be anything with this dialog.
![image](https://user-images.githubusercontent.com/55874862/111332727-f2e95c80-8669-11eb-8bc4-5002a2d60cc2.png)

[2021-03-16 16:22] damienderoistecso commented on #390
Going to mark this as a Duplicate of #384 as it's not a fresh bug but rather associated with this enhancement.

[2021-03-16 16:22] #390 closed

[2021-03-16 16:29] damienderoistecso commented on #384
@liamie Can you test the issue you raised in #390

[2021-03-16 16:44] liamie commented on #384
Issue seems to be cleared now.

[2021-03-16 16:50] neilfromcork commented on #379
@lorenzobruni - looks ok in testing so far.

[2021-03-18 08:25] neilfromcork commented on #379
Issue seems to be resolved in TEST

[2021-03-18 15:30] neilfromcork opened #391 "[ENHANCEMENT] Make PxStat database agnostic - with reference to PostgreSQL"
It should be possible to use a different database for PxStat without requiring an extensive re-write of PxStat.

Notes from investigations:

- If migrating to Amazon Web Services, AWS provide a very useful tool, i.e. SCT (Schema Conversion Tool)
-  SCT will only migrate the database as a structure. If data needs to be migrated, that must be done seperately (Use a tool like SSIS)
- PostgreSQL is hi

[2021-03-18 16:04] neilfromcork opened #392 "[ENHANCEMENT] Remove the need for SQL server job by running some queries asynchonously"
Currently when a dataset is uploaded, a job is kicked off to (a) hard-delete any data corresponding to soft-deleted metadata and (b) reorganize indexes that are fragmented beyond a certain level. This needs to be a SQL Server Agent Job in order to do this asynchronously (if it were synchronous, the web user would have to wait until the jobs were finished before the page was reset)

If the API.ADO

[2021-03-22 12:03] neilfromcork opened #393 "[ENHANCEMENT] Update DATABASE STATISTIC after INDEX REORGANIZE"
Database statistic should be updated after a reorganize in order to enable the execution plan to take advantage of it.

[2021-03-22 12:15] neilfromcork commented on #389
Indexes changed in TD_DATA and TM_DATA_CELL
sp rewritten to move where clause to the join
Awaiting patch to enable OPTION(USE HINT('ENABLE_PARALLEL_PLAN_PREFERENCE')) to force parallel processing

[2021-03-22 16:01] damienderoistecso opened #394 "Add "Themes" to navigation above Subjects"
### Client Side Changes
Create a new entity under Manage called "Themes"
Allow for the reading, creation, updating and deleting of themes.
Themes cannot be deleted if they have associated subjects.

Update the subjects entity to make each subjects a sibling of a theme.
In the subjects table, add a column to display it's parent theme.
In the update of subjects, allow the ability to change the paren

[2021-03-25 14:36] neilfromcork commented on #393
Deployed in TEST - ready for test. An entry is made in the Logging table after database statistics are updated

[2021-03-25 14:36] neilfromcork commented on #394
Sever side complete

[2021-03-25 16:10] damienderoistecso commented on #394
Client side update

Ready for testing

@JohnPCarroll @liamie a full regression test of Products and Subjects should be conducted along with Themes as the addition of Themes had an effect on both subjects and products

[2021-03-25 17:03] neilfromcork commented on #350
Published in DEV - ready for test

[2021-03-26 09:08] liamie commented on #394
Theme name don't wrap in the browse column seem to wrap fine else where in the manage section etc.
As per example if the list was longer the whole page would be blotted out.
![image](https://user-images.githubusercontent.com/55874862/112608732-9547d380-8e12-11eb-94e4-5effa9f9e9e4.png)

[2021-03-26 10:10] damienderoistecso commented on #394
Fixed in dev @liamie ready for testing

[2021-03-26 14:30] JohnPCarroll commented on #394
This should be Titled Update Theme
![image](https://user-images.githubusercontent.com/44975474/112646756-b83cac80-8e3f-11eb-9829-5dd6549eb3d2.png)

[2021-03-26 14:34] JohnPCarroll commented on #394
For each row in the column "No Subjects"  can it be updated so that you can open up the relevant subjects  page. This currently applies to the Subjects page which allow you access the relevant Products page.

[2021-03-26 14:57] neilfromcork commented on #350
@JohnPCarroll - Can you hold off on testing for the moment? - I've just thought of a possible knock-on effect that must be prevented

[2021-03-26 15:16] neilfromcork commented on #350
@JohnPCarroll - You may resume testing. Please also test for the following situation:
- An existing px file has periods out of sync (e.g. legacy situation) but is otherwise valid
- Update the px file with a new period (the new period can either be in sync or out of sync) and corresponding data
- The updated px file should contain all of the periods sorted by code and all of the data points in the

[2021-03-26 15:26] damienderoistecso commented on #393
Client side updated and tested

[2021-03-26 15:57] damienderoistecso commented on #394
Fixed in dev

@JohnPCarroll ready for test

[2021-03-26 15:59] damienderoistecso commented on #394
Unlike products, there is now subjects page per theme. All subjects are displayed on a single datatable so it would be impossible to bring you directly to the relevant subject.

[2021-03-29 08:03] damienderoistecso opened #395 "[ENHANCEMENT] Add ability mark a classification variable as an "eliminator" variable"
### Client Side
In build create & update, allow users to select one variable if they wish to mark as the "eliminator" variable from each classification.

### Server side
In build create & update, include this "elimination" variable details in Px file
In the JSON-stat output, include the elimination variable details in the extension properties
Consider should the elimination variables be included i

[2021-03-29 08:05] lorenzobruni opened #396 "[ENHANCEMENT] Boost performance to read data and meta-data"
Optimize **Parallelization** (multi-thread over multi-core) and **Indexes** in `TD_DATA` and `TM_DATA_CELL` to boost the performance when reading data and meta-data.

[2021-03-29 08:06] lorenzobruni commented on #396
Parallelization hint added and optimized indexes enhanced.

[2021-03-29 08:09] damienderoistecso opened #397 "[ENHANCEMENT] Highlight multidimensional pivoting feature better on the front end"
Multidimensional pivoting is available through the XLSX selection download. Highlight this feature better for the front end users  who are used to this functionality from Statbank but are not aware that it is still available in PxStat through the XLSX download.

[2021-03-29 08:57] #393 closed

[2021-03-29 08:57] #396 closed

[2021-03-29 08:57] #339 closed

[2021-03-29 08:57] #344 closed

[2021-03-29 08:57] #363 closed

[2021-03-29 08:57] #374 closed

[2021-03-29 08:57] #375 closed

[2021-03-29 08:57] #376 closed

[2021-03-29 08:57] #377 closed

[2021-03-29 08:57] #378 closed

[2021-03-29 08:57] #379 closed

[2021-03-29 08:57] #380 closed

[2021-03-29 08:57] #381 closed

[2021-03-29 08:57] #382 closed

[2021-03-29 08:57] #383 closed

[2021-03-29 08:57] #384 closed

[2021-03-29 08:57] #385 closed

[2021-03-29 08:57] #386 closed

[2021-03-29 08:57] #387 closed

[2021-03-29 08:57] #389 closed

[2021-03-29 11:54] JohnPCarroll commented on #394
Subjects not in Alpha order on Browse Section of Data page
![image](https://user-images.githubusercontent.com/44975474/112832486-4b1e5680-908d-11eb-860b-30159242028e.png)

Subjects not in Alpha order where the drop down option is available including Manage Products, Keywords Subjects and Products and Releases Update Navigation. They appear to be running in Date Creation order
![image](https://user

[2021-03-29 13:26] neilfromcork commented on #394
Subjects now sorted by Subject Name @JohnPCarroll

[2021-03-29 15:40] damienderoistecso commented on #395
@neilfromcork in addition to above, I presume "PxStat.Data.Cube_API.ReadMetaCollection" should also contain elimination details in it's extension

[2021-03-30 09:04] lorenzobruni opened #398 "[BUG] Remove double update statistics in SQL job"

[2021-03-30 13:09] neilfromcork opened #399 "[BUG] Need to validate if a PX file contains a classification with the same name as the default statistic"
A table can be loaded under the following conditions:
- No CONTVARIABLE
- Code/Value with the same name as the default statistic e.g. "STATISTIC"

This creates a classification called STATISTIC and a read will fail if we try to create an xlsx or csv file

We need a validation to check for duplicate dimension names once a matrix is built but before it's loaded into the database

Example in producti

[2021-03-30 14:15] damienderoistecso opened #400 "[ENHANCEMENT] Review Versions of 3rd party libraries"
Review all 3rd party libraries used on both the client and server sides to check for updated versions.

Ensure any updated versions available are backward compatible with the versions we currently use.

[2021-03-30 15:17] damienderoistecso opened #401 "[ENHANCEMENT] Use elimination variables in view data entity"
In the table selection view, per select a variable if it is marked as the elimination variable for that classification.

Preselect the latest time point

[2021-03-30 15:54] liamie commented on #401
ignore testing
![image](https://user-images.githubusercontent.com/55874862/113018289-4aaeba00-9178-11eb-8436-5f2e7adf7c6c.png)

[2021-03-31 08:13] JohnPCarroll commented on #350
Test passed for the following
1. An existing px file with time periods out of sync when updated is now in the correct time point and data order.
2. Updated a px file with new time periods out of sync. The resulting px file s now in the correct time point and data order.

[2021-03-31 08:43] JohnPCarroll commented on #394
Test passed for order of subjects in Browse section of data page.
Subjects not in alpha order in drop down options

[2021-03-31 10:33] liamie commented on #397
New published items now give error when accessed
On Data Page
Last updated tables click a table published today 31/03 error occurs
![image](https://user-images.githubusercontent.com/55874862/113131054-9fa00e00-9214-11eb-9e4f-d001a0e8a95d.png)

[2021-03-31 11:12] liamie opened #402 "New published items now give error when accessed"
New published items now give error when accessed
On Data Page
Last updated tables click a table published today 31/03 error occurs
![image](https://user-images.githubusercontent.com/55874862/113131054-9fa00e00-9214-11eb-9e4f-d001a0e8a95d.png)

[2021-03-31 11:30] liamie commented on #402
Also occurs when trying to view gaeilge option on second language files on release page when change the source isection to gaeilge and click view data
![image](https://user-images.githubusercontent.com/55874862/113137485-813e1080-921c-11eb-91c4-e02902344be5.png)

[2021-03-31 11:34] neilfromcork commented on #402
Temporary problem caused by ELIMINATION change. Currently resolved. Will be permanently resolved when elimination is added to upload

[2021-03-31 11:38] damienderoistecso commented on #402
Duplicate of #395

[2021-03-31 11:38] #402 closed

[2021-03-31 13:04] liamie commented on #397
Pivoting information link and how to now available in advanced pivoting  option.

[2021-03-31 16:58] damienderoistecso commented on #395
Client side updated and committed

Ready for testing once @neilfromcork gives the OK in terms validation on the server

[2021-04-01 10:28] neilfromcork commented on #395
Server side complete for:
- Build Update
- Build Create
- Import
- Read data
Ready for test in DEV

[2021-04-01 10:47] lorenzobruni opened #403 "[ENHANCEMENT] Add list of Dimension to the PxStat.Data.Cube_API.ReadCollection API"
**_Logged on behalf of end-user request_**

Hello,
We have been working with CSO data in 2019 when CSO tables were provided by StatBank. Back then the Table Of Contents of all available tables (toc) downloaded using the R-package was very helpful resource to navigate thousands of available tables.

With switching over to PxStat the contents of the TOC has changed – it no longer include the “dimens

[2021-04-01 14:20] neilfromcork commented on #399
Fixed in DEV, ready for test. An example file is LRW08 in data.cso.ie . A copy of the offending px file is included here for testing.

[LRW08_12_0_20201106T091127 (1).px.txt](https://github.com/CSOIreland/PxStat/files/6244190/LRW08_12_0_20201106T091127.1.px.txt)

[2021-04-01 15:19] liamie opened #404 "[BUG] Unexpected error when downloading alternative language XLSX file format"
**Describe the bug**
Unexpected error when downloading alternative language XLSX file format
![image](https://user-images.githubusercontent.com/55874862/113315704-78753980-9305-11eb-98b4-021f041e41d7.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to matrix with two languages eg. EY041
2. Click on '.download and choose XLSX format or button in advanced pivot
3. See error
Other format

[2021-04-01 16:02] neilfromcork commented on #404
Fixed in DEV - ready for test.

Perhaps we need a regression test of other language functionality?

[2021-04-01 16:07] liamie commented on #404
This error is cleared now.