[2019-07-10 15:25] robertpolak1968 opened #1 "[BUG]Test image1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other c

[2019-12-18 17:01] lorenzobruni opened #2 "[BUG] Analytics - Missing Hits"
**Describe the bug**
The Analytics card (see screenshot) does not get refreshed with recent hits

**To Reproduce**
1. Read a live dataset
2. Go to Analytics and check if the counter of hits increased

**Expected behavior**
The number of hits must increase for each read of datasets

**Screenshots**
![image](https://user-images.githubusercontent.com/53212047/71106810-dab13600-21b7-11ea-9eb8-5a7545d0

[2019-12-18 17:30] damienderoistecso opened #3 "[ENHANCEMENT] Add pending live releases to dashboard"
**Is your feature request related to a problem? Please describe.**
Currently we are not displaying "Pending live" releases on the dashboard

**Describe the solution you'd like**
Include an accordion showing pending live releases.

**Describe alternatives you've considered**
None.

**Additional context**
None

[2019-12-19 10:24] neilfromcork commented on #3
API complete on server side

[2019-12-19 11:28] RoseHayes commented on #3
Ready for testing.

[2019-12-19 12:40] damienderoistecso opened #4 "[BUG] Dashboard Awaiting response displays invalid date"
**Describe the bug**
Dashboard Awaiting response displays invalid date

**To Reproduce**
When you open the awaiting response card in the dashboard, the publish dates for certain requests display as invalid date.  This should be blank.

**Expected behavior**
Should display empty string if date is null from server

**Screenshots**
![image](https://user-images.githubusercontent.com/53211688/71174235-

[2019-12-19 14:56] JohnPCarroll commented on #2
Read Live Dataset and Count Increased

[2019-12-19 15:13] lorenzobruni commented on #2
Pending release

[2019-12-20 14:54] RoseHayes commented on #4
This has been amended to check for nulls and replace with empty string. The rest of the application has also been reviewed to add a check where ever a date is passed to moment.

[2019-12-20 16:11] damienderoistecso opened #5 "[ENHANCEMENT] Optimize build update and create"
**Is your feature request related to a problem? Please describe.**
Reduce duplicate code for validating dimensions in build create/update

**Describe the solution you'd like**
Duplicate code moved to function

[2020-01-02 10:00] damienderoistecso opened #6 "[BUG] Unit type missing from map statistic select"
**Describe the bug**
When viewing the map selections, in the statistic dimension, unit was not appended to the statistic label.

**Expected behavior**
Unit to be displayed after statistic label in map view

[2020-01-02 12:13] damienderoistecso opened #7 "[ENHANCEMENT] Enhance JSON-stat collection to include metadata"
**Is your feature request related to a problem? Please describe.**
Add metadata to collection to differentiate similar table titles.

**Describe the solution you'd like**
Collection will display metadata and the latest releases table will display dimension pills.

[2020-01-02 12:21] damienderoistecso opened #8 "[ENHANCEMENT] Increase latest releases to 25 results by default"
**Is your feature request related to a problem? Please describe.**
Increase latest releases to from 5 to 25 results by default

**Describe the solution you'd like**
Latest releases to show 25 results by default

[2020-01-02 12:37] RoseHayes opened #9 "Error handling, don't display invalid file name when doing import."
**Is your feature request related to a problem? Please describe.**
When an incorrect file is uploaded the name of the file is displayed
**Describe the solution you'd like**
Do not display the file name.

[2020-01-02 14:12] RoseHayes commented on #9
Code updated so that when an incorrect file is uploaded the name is not displayed.

[2020-01-02 14:44] damienderoistecso opened #10 "[ENHANCEMENT] Increase badge pill size for accessibility"
**Is your feature request related to a problem? Please describe.**
Increase badge pill size for better accessibility

**Describe the solution you'd like**
Bigger badge pill with bigger text

[2020-01-02 16:27] lorenzobruni opened #11 "[BUG] Access denied to Analytics for Power Users"
**Describe the bug**
A Power User cannot open the Analytics page

**To Reproduce**
1. Login as a Power User
2. Go to Analytics

**Expected behavior**
The page should open normally

**Screenshots**
n/a

**Additional context**
n/a

[2020-01-02 16:28] damienderoistecso opened #12 "[BUG] Clear data input when new px file dropped into update"
**Describe the bug**
When you drop a new file in update, any csv data file remains on the screen after px is parsed

**Expected behavior**
Data file input is reset after new px file is loaded

[2020-01-02 16:28] damienderoistecso commented on #12
Fixed. Called reset data function when any new file is loaded

[2020-01-02 16:29] lorenzobruni commented on #11
The calling of the method `app.navigation.access.check` has been fixed by adding the **Power User** privilege.

[2020-01-02 16:30] damienderoistecso commented on #10
Added css override for .badge class to increase font-size, reduce font-weight and padding

[2020-01-03 08:22] damienderoistecso opened #13 "[BUG] Incorrect sorting on Upload History"
**Describe the bug**
Upload history was default sorting on 'Uploaded by' column

**Expected behavior**
Upload history was default sorting on 'Uploaded date' column

[2020-01-03 08:23] damienderoistecso commented on #13
Updated to set sorting to 'Uploaded date' column

[2020-01-03 12:22] RoseHayes opened #14 "Release screen workflow history information not showing request/created by and Response/created by and created date."
**Describe the bug**
 On the Release screen workflow history information modal in the section Request the created by filed is not being populated and in the section Response both the created by and created date fields are not being populated.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Release table QLF03C01
2.Scroll down to Workflow history and select information.
3. The field are

[2020-01-03 12:30] RoseHayes opened #15 "Pending live on dashboard not showing correct approver name."
**Describe the bug**
The name of the person who uploaded the table is displayed instead of the person who approved the sigh off.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on Pending live
3. See error

**Expected behavior**
The person who approved the sign off should be displayed.

[2020-01-03 12:54] RoseHayes opened #16 "Add a pending live table to release screen."
The release screen should contain the same tables as the dashboard ie workingprogress. Pending live is not there at the moment and needs to be added

[2020-01-03 14:22] JohnPCarroll opened #17 "displaying pill details for matrix using multiple languages"
If a Matrix is in multiple languages the Pills in all languages are displayed together eg Matrix FINA

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Data
2. Click on Search
3. Scroll down to Matrix FINA
4. See error

**Expected behavior**
Only display the Pills associated with the relevant language

[2020-01-03 16:10] damienderoistecso opened #18 "[ENHANCEMENT] Upload - List the group in alphabetical order"
**Is your feature request related to a problem? Please describe.**
List groups in the upload screen are not sorted alphabetically

**Describe the solution you'd like**
List groups alphabetically

![image](https://user-images.githubusercontent.com/53211688/71734222-56abaf00-2e43-11ea-81a7-8a0bbef7e44f.png)

[2020-01-03 16:53] grainnemooney opened #19 "[BUG] Build message displayed with non matching period codes"
**Describe the bug**
If there is no matching period codes the error message contains the word NULL instead of Irish while the default language ENGLISH is displayed

[2020-01-03 16:55] grainnemooney opened #20 "[ENHANCEMENT] Build error message could be clearer"
**Is your feature request related to a problem? Please describe.**
The Build error message could be clearer

**Describe the solution you'd like**
A clearer error message

[2020-01-03 17:00] grainnemooney opened #21 "[BUG] Files in Build File allow double quotes"
**Describe the bug**
Double quotes allows the generated px file to be produced with multiple errors/Other special characters may need to be restricted

[2020-01-03 17:05] grainnemooney opened #22 "[BUG] Build Upload - Choose a px file or drag it here"
**Describe the bug**
After using browse tool to load a file, if you browse again the original file name remains but if validate it shows mandatory even though name is still there.

[2020-01-03 17:08] grainnemooney opened #23 "[ENHANCEMENT] Rename Reasons box on table page to Reason for Revision"
**Is your feature request related to a problem? Please describe.**
Reasons is too vague plus add reasons button on the release page is still greyed out

**Describe the solution you'd like**
Rename the Reasons with a more appropriate name.

[2020-01-06 10:02] damienderoistecso commented on #19
Fixed code. Was reading incorrect object property.

[2020-01-06 10:14] damienderoistecso commented on #19
Also fixed bug with confirm delete period message displaying blank message.

[2020-01-06 10:26] damienderoistecso commented on #17
Bug with "PxStat.System.Navigation.Navigation_API.Search"

Array of classifications is returning all languages

[2020-01-06 11:29] neilfromcork commented on #7
Collection object updated in the API. Ready for test

[2020-01-06 12:26] neilfromcork commented on #17
Fix deployed in dev. Ready for retest

[2020-01-06 15:54] neilfromcork commented on #21
Validation created for double quotes. This needs to be tested on Build update as well as create.

[2020-01-06 16:01] neilfromcork commented on #18
Changed to return data alphabetically by GRP code.

[2020-01-07 09:56] damienderoistecso commented on #7
Updated datatable to include metadata

[2020-01-07 10:10] damienderoistecso opened #24 "[ENHANCEMENT] Include data range of analytics on modal for matrix"
**Is your feature request related to a problem? Please describe.**
When you view matrix analytics in the modal, the date range is not visible.

**Describe the solution you'd like**
Display the data range in the modal header

[2020-01-07 10:13] damienderoistecso opened #25 "[BUG] Workflow rollback not working"
**Describe the bug**
Workflow rollback gets stuck. Showing incorrect status.

**To Reproduce**
Rollback a live release.

**Expected behavior**
Workflow should complete until sign-off.

[2020-01-07 11:47] damienderoistecso opened #26 "[BUG] Select all not working with filtering feature"
**Describe the bug**
The select all and filtering conflict

**To Reproduce**
Select all not working when you have filtered first

**Expected behavior**
Select all clears filter first before selecting all options

[2020-01-07 11:48] damienderoistecso commented on #26
Updated code to clear filtering whenever you select/deselect select all checkbox

[2020-01-07 11:48] lorenzobruni opened #27 "[BUG] Embargo Days not filtered"
**Describe the bug**
The setting `embargo.day` in the `config.json` do not filter the list of available dates in the Publish workflow for non-emergency releases.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Releases and attempt a Publish workflow

**Expected behavior**
The Publish date picker should disable the days that are not in the `embargo.day` setting

[2020-01-07 11:51] lorenzobruni commented on #27
Issue fixed.
See screenshot with the `embargo.day` set to [1,2,3,4,5] which means Monday, Tuesday, Wednesday, Thursday, Friday on.
![image](https://user-images.githubusercontent.com/53212047/71893586-020a7b80-3144-11ea-9d4a-141b9513048e.png)

[2020-01-07 11:54] lorenzobruni commented on #27
Neil, can you please implement the Server Side validation, by adding the Static config APP_EMBARGO_TIME = "11:00:00" and the APP_EMBARGO_DAY = "1,2,3,4,5" when the Emergency option is NOT selected.

[2020-01-07 13:20] damienderoistecso commented on #7
Fixed bug with delete all

[2020-01-07 14:17] damienderoistecso commented on #5
Fixed bug with delete all

[2020-01-07 15:55] lorenzobruni opened #28 "[BUG] Format direction error"
**Describe the bug**
An unexpected error is raised against the Format Direction

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Upload

**Expected behavior**
No errors should pop up

[2020-01-07 15:55] lorenzobruni commented on #28
Fixed in Stored Procedure

[2020-01-07 15:55] lorenzobruni commented on #28
Test passed

[2020-01-08 08:33] neilfromcork commented on #27
API validation created. For retest.

[2020-01-08 10:32] lorenzobruni commented on #22
Fixed. The Cancel button of the default browser file picker will trigger the clear upload.

[2020-01-08 10:33] lorenzobruni commented on #22
@damienderoistecso please review all other upload drag&drop features in the application

[2020-01-08 10:37] neilfromcork commented on #25
For retest @JohnPCarroll

[2020-01-08 10:39] damienderoistecso commented on #7
@neilfromcork please review order of classifications to match search results

[2020-01-08 12:37] neilfromcork opened #29 "[BUG] Search classifications are returned in random order"
Search classifications are returned in random order

**To Reproduce**
Steps to reproduce the behavior:
1. Search for anything
2. Read Collection

**Expected behavior**
Classifications should be ordered in the same was in each result

**Actual behaviour**
Search results show classifications in random order

[2020-01-08 12:39] neilfromcork commented on #7
This is not a Collections issue. New issue raised #29

[2020-01-08 12:44] neilfromcork commented on #29
Issue fixed, ready for retest

[2020-01-08 12:52] lorenzobruni commented on #4
Issue to be re-opened as it is not yet deployed.

[2020-01-08 12:53] lorenzobruni commented on #4
@JohnPCarroll please test this as it was closed by mistake

[2020-01-08 14:07] 1026890 opened #30 "[BUG] Add Product not working"
**Describe the bug**
When trying to add a Product clicking the Add button generates a Validation Failed modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Manage | Products and select an existing Subject
2. Click Add Product
3. Enter a new Product name and click Add
4. See error - Validation failed. Please review your input.

**Expected behavior**
A new Product added to the selected

[2020-01-08 14:21] lorenzobruni commented on #30
Hi, I think this error is because you are using the latest version of the **Server** and **DB** code, but you are still using an old version of the **Client** code.
The reason I'm saying so is because the new interface to add a Product is now requiring the `Product Code` and `Product Name`.

Can you please check that you have updated also the **Client** folder with the latest code?

You can check

[2020-01-09 13:58] lorenzobruni opened #31 "[BUG] Missing PX keyword SOURCE generates an exception"
**Describe the bug**
Missing PX keyword SOURCE generates an exception rather than a friendly error

**To Reproduce**
Upload a PX file without SOURCE keyword

**Expected behavior**
friendly error should pop up

[2020-01-09 14:01] lorenzobruni commented on #31
@neilfromcork to test please

[2020-01-09 14:04] neilfromcork commented on #31
Tested after code change. Testing ok.

[2020-01-09 17:13] damienderoistecso commented on #21
Validation created for double quotes on client.

[2020-01-09 17:14] damienderoistecso commented on #22
Removed file input from validation. Validation button disabled until valid file uploaded

[2020-01-10 10:12] damienderoistecso opened #32 "[BUG] Align "ReadSynonym" method with system languages"
**Describe the bug**
"PxStat.System.Navigation.Keyword_API.ReadSynonym" is returning results for languages that are not system languages

**To Reproduce**
On client, when the system has only one language, search for a synonym, the results brings back languages that are not system languages

**Expected behavior**
Only return system languages

**Screenshots**
![image](https://user-images.githubuserc

[2020-01-10 13:58] lorenzobruni opened #33 "[ENHANCEMENT] Delete Workflow Request with no Response"
**Is your feature request related to a problem? Please describe.**
Deleting a Workflow Request created by mistake that has not been reviewed (either Approved nor Rejected) yet.

**Describe the solution you'd like**
Add a Delete button to the Workflow History to delete a Workflow Request that has not received yet a Response.

[2020-01-10 14:04] lorenzobruni commented on #33
Feature implemented Client side.
The Button is enabled only for Workflow Requests without a Response.

@neilfromcork can you please complete the Server side change by implementing the `PxStat.Workflow.WorkflowRequest_API.Delete` with the `RlsCode` as mandatory input?

![image](https://user-images.githubusercontent.com/53212047/72158400-0b008480-33b2-11ea-9c07-1310a18155f7.png)

[2020-01-10 14:24] neilfromcork commented on #33
Fix deployed @lorenzobruni

[2020-01-10 15:11] damienderoistecso opened #34 "[BUG] Create import file without default language"
**Describe the bug**
When you import a file in create, it allows you to build dimensions without adding the default language

**To Reproduce**
Import file to crtate that is not the default language

**Expected behavior**
Force default language to be selected before building dimensions

[2020-01-10 15:15] damienderoistecso opened #35 "[BUG] Update file that is does not contain default language"
**Describe the bug**
When you update a file that is not the default language, it allows you to upload it but you can update it.

**To Reproduce**
Upload a px file without the default language

**Expected behavior**
Display an error message if you upload a px file without the default language

[2020-01-10 15:41] lorenzobruni commented on #30
@1026890 following our PM conversation, this bug can now be closed as invalid.

[2020-01-10 15:41] #30 closed

[2020-01-10 15:42] lorenzobruni commented on #19
General enhancements for Internationalization have been applied

[2020-01-10 15:45] lorenzobruni commented on #20
Messages in the Internationalization module generally improved

[2020-01-10 17:54] #2 closed

[2020-01-10 17:54] #3 closed

[2020-01-10 17:54] #4 closed

[2020-01-10 17:54] #5 closed

[2020-01-10 17:55] #6 closed

[2020-01-10 17:55] #7 closed

[2020-01-10 17:55] #8 closed

[2020-01-10 17:55] #9 closed

[2020-01-10 17:55] #10 closed

[2020-01-10 17:55] #11 closed

[2020-01-10 17:55] #12 closed

[2020-01-10 17:55] #13 closed

[2020-01-10 17:55] #14 closed

[2020-01-10 17:55] #15 closed

[2020-01-10 17:55] #16 closed

[2020-01-10 17:55] #17 closed

[2020-01-10 17:55] #18 closed

[2020-01-10 17:55] #19 closed

[2020-01-10 17:55] #20 closed

[2020-01-10 17:55] #21 closed

[2020-01-10 17:55] #22 closed

[2020-01-10 17:55] #24 closed

[2020-01-10 17:55] #25 closed

[2020-01-10 17:55] #26 closed

[2020-01-10 17:55] #27 closed

[2020-01-10 17:55] #28 closed

[2020-01-10 17:55] #29 closed

[2020-01-10 17:55] #31 closed

[2020-01-10 17:55] #33 closed

[2020-01-13 09:50] damienderoistecso opened #36 "[BUG] Search box issue on mobile view"
**Describe the bug**
When you are in mobile view, and you click the data tab in the menu, the search box duplicates.

**To Reproduce**
When in mobile view, click data in the menu

**Expected behavior**
Search box never duplicates

**Screenshots**
![image](https://user-images.githubusercontent.com/53211688/72246149-06261580-35ea-11ea-89d3-0ecd84300675.png)

[2020-01-13 14:12] neilfromcork opened #37 "[BUG] Duplicate classification codes in some circumstances when autogenerated"
**Describe the bug**
When a px file has (a) no classification codes and (b)some classifications have the same number of variables, we can get duplicate autogenerated classification codes

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2020-01-13 14:19] neilfromcork opened #38 "[BUG] Px file with no codes - can't return FrqCode candidates"
**Describe the bug**
Where there are no dimension codes, we can't get a list of Frquency code candidates

see attached file
[Test3 census.px.txt](https://github.com/CSOIreland/PxStat/files/4053981/Test3.census.px.txt)

[2020-01-13 14:20] neilfromcork commented on #37
Fix in 1.2.0. Use Test3.census.px for retest (see attached). However a new issue must be raise because another issue has arisen with this dataset.
[Test3 census.px.txt](https://github.com/CSOIreland/PxStat/files/4053972/Test3.census.px.txt)

[2020-01-13 14:20] neilfromcork commented on #37
Don't retest until #38 is ready for retest.

[2020-01-13 14:46] neilfromcork commented on #38
Not a bug! - misdiagnosis @JohnPCarroll

[2020-01-13 14:46] #38 closed

[2020-01-13 16:49] neilfromcork commented on #32
Ready for test

[2020-01-14 08:58] damienderoistecso commented on #34
Added code to ensure default language is always checked even if imported file doesn't contain default language

@JohnPCarroll ready for testing

[2020-01-14 09:25] damienderoistecso commented on #35
Added check for default language and display error if it is not contained in the source file

@JohnPCarroll ready for testing

[2020-01-14 17:28] JohnPCarroll opened #39 "[BUG] px file. Decimal value different on output to Input file"
**Describe the bug**
A px file which contains decimal and Precision which are different should contain the lowest value in the decimal. EG EY003.px had DECIMAL=0; and PRECISION("Statistic","Percentage change 2011-2016")=1; on input and has DECIMAL=1; and PRECISION("Statistic","Percentage change 2011-2016")=1;

**To Reproduce**
Steps to reproduce the behavior:
1. Go to releases
2. Click on EY003
3.

[2020-01-15 09:22] neilfromcork commented on #39
Fix in Dev.

[2020-01-15 13:03] carolfinlay opened #40 "[ENHANCEMENT] View data"
When you click on View Data nothing happens on screen.  You are not aware that the data is now showing below (off screen)

When data is available it should be visible on your screen automatically.  Presently you have to scroll down to see it.

[2020-01-15 14:13] damienderoistecso commented on #36
Re-factored search inputs to sync both responsive and desktop search inputs and toggle view depending on breakpoint

@JohnPCarroll ready for testing

[2020-01-15 14:29] damienderoistecso commented on #40
Updated code to scroll to top of datatable

@JohnPCarroll ready for testing

[2020-01-15 15:58] neilfromcork opened #41 "[BUG] Emergency Release causes validation error"
**Describe the bug**
Emergency Release request causes validation exception

**To Reproduce**
Steps to reproduce the behavior:
Create Emergency Release
Application returns a validation exception

[2020-01-15 16:22] carolfinlay opened #42 "[BUG] Unauthorised Access when opening a table as anonymous user"
**Describe the bug**
When you open data.cso.ie as an anonymous user you get an error message when you open a table.  The error is unauthorised access.

[2020-01-15 16:42] damienderoistecso opened #43 "[BUG] Read format from anonymous user"
**Describe the bug**
When an anonymous user browses that data entity, they get an error as they can't call "PxStat.System.Settings.Format_API.Read"

**To Reproduce**
Browse data as anonymous user

**Expected behavior**
 Anonymous user has access to "PxStat.System.Settings.Format_API.Read"

[2020-01-15 17:02] damienderoistecso commented on #36
Hide responsive search by default across non data entities via "app.navigation.layout.set"

@JohnPCarroll ready for testing

[2020-01-15 17:23] damienderoistecso opened #44 "[BUG] TinyMCE focus bug"
**Describe the bug**
When you try to edit some text in the middle of the TinyMCE editor, the cursor focuses to the end of the editor when you start typing

**To Reproduce**
Edit some text in the middle of the TinyMCE editor, the cursor focuses to the end of the editor when you start typing.

**Expected behavior**
Cursor doesn't move focus as you type.

[2020-01-16 12:17] damienderoistecso opened #45 "[ENHANCEMENT] Allow data selection download when you get threshold warning"
**Describe the solution you'd like**
When you get a hard or soft threshold warning when viewing data selection, allow the user to download the data without having to view the data on screen first

@JohnPCarroll ready for testing

[2020-01-16 12:37] neilfromcork commented on #41
Fixed in dev

[2020-01-16 12:39] neilfromcork opened #46 "[BUG] Inaccuracies with floating point numbers in upload"
**Describe the bug**
decimals with MSD of zero after the decimal point are lost, giving an inaccurate floating point value

[2020-01-16 12:39] neilfromcork commented on #46
Fixed in dev

[2020-01-16 12:43] damienderoistecso commented on #42
Duplicate bug with #43

[2020-01-16 12:43] #42 closed

[2020-01-16 13:30] damienderoistecso commented on #45
Updated to close modal after downloading

[2020-01-16 14:23] neilfromcork commented on #43
Fix in dev

[2020-01-16 14:35] damienderoistecso commented on #43
Updated api endpoint to public for all "PxStat.System.Settings.Format_API.Read"

@JohnPCarroll ready for testing

[2020-01-16 16:49] damienderoistecso commented on #39
Duplicate of https://github.com/CSOIreland/PxStat/issues/46

[2020-01-16 16:49] #39 closed

[2020-01-16 16:53] damienderoistecso commented on #44
Update to trigger save on focus out

@JohnPCarroll ready for testing

[2020-01-16 16:59] damienderoistecso opened #47 "[ENHANCEMENT] Mobile search results layout"
**Describe the solution you'd like**
Better responsive layout for search results

[2020-01-17 09:38] neilfromcork opened #48 "[BUG] Send Group mail formatting error"
**Describe the bug**
"Received by" contains object name instead of list of groups

[2020-01-17 10:18] neilfromcork commented on #48
Fix in dev

[2020-01-17 10:18] neilfromcork commented on #48
Fixed in dev

[2020-01-17 11:21] neilfromcork opened #49 "[BUG] Hashed Classification code created when classification code=classification value"
**Describe the bug**
In a px file, if the classification code in the domain is the same as the classification name, then a default style classification code is used rather than the px classification code in the domain

[2020-01-17 11:50] neilfromcork opened #50 "[BUG] Duplicate entry in list of releases"
**Describe the bug**
If a matrix title for the same code differs over releases, there will be a duplicate entry in the Code List.

[2020-01-17 13:00] neilfromcork commented on #49
[CEN1.20200117T100107.px.txt](https://github.com/CSOIreland/PxStat/files/4076884/CEN1.20200117T100107.px.txt)

Fix complete - please retest. Bug originally showed up in Build - ReadTemplate

[2020-01-17 14:25] JohnPCarroll commented on #49
Test Successful for Build Import and Update options.
The test is for DOMAIN("Classification")="Classification"; where they are both the same

[2020-01-17 14:31] neilfromcork commented on #50
Fix in dev

[2020-01-17 14:38] JohnPCarroll opened #51 "[BUG] Invalid Source displayed when Import option used in Build/Create"
**Describe the bug**
When you import a px file containing a source we currently do not include, it is shown on screen as Central Statistics Office, Ireland

[2020-01-17 14:39] damienderoistecso commented on #50
Removed tool tip from read matrix lookup, removed language parameter when calling          "PxStat.Data.Matrix_API.ReadCodeList",
 @JohnPCarroll ready for testing

[2020-01-20 09:51] lorenzobruni commented on #49
@JohnPCarroll
Can you please test also to create a new simple PX file having Classification Code and Classification Value identical?

Thanks

[2020-01-20 10:09] damienderoistecso commented on #45
Fixed issue with modal size on releases entity,

Fixed other bugs

@JohnPCarroll ready for testing

[2020-01-20 10:29] damienderoistecso commented on #51
If invalid copyright in imported px file, user forced to select valid copyright

@JohnPCarroll ready for testing

[2020-01-20 10:43] damienderoistecso commented on #51
Fixed closing confirm modal in releases entity, fixed issue with repeating formats in dropdown

@JohnPCarroll ready for testing

[2020-01-20 10:44] damienderoistecso commented on #45
Fixed issue with canceling modal in releases, fixed issue with duplicate formats types in dropdown

@JohnPCarroll ready for testing

[2020-01-20 11:00] JohnPCarroll commented on #45
Test failed due to Duplicate listing of Download Results appearing.
Select PX 2013 from download results, then View data and re-select download results where duplicate listing appears

[2020-01-20 11:43] damienderoistecso opened #52 "[ENHANCEMENT] Make number of latest releases configerable"
**Describe the solution you'd like**
Get the number of latest releases to display by default from the config.json file

[2020-01-20 11:44] damienderoistecso commented on #52
Added  app.config.entity.data.numberLatestReleases to config file

@JohnPCarroll raedy for testing

[2020-01-21 08:36] lorenzobruni opened #53 "[BUG] Time dimension wrong default sorting"
**Describe the bug**
The filter for the Time dimension by default is sorted DESC base don the values rather than the codes.

**To Reproduce**
see screenshot

**Expected behavior**
Default sorting should be based on Codes rather than Values

**Screenshots**
![image](https://user-images.githubusercontent.com/53212047/72788104-1e6ce480-3c29-11ea-9035-12b7e451c299.png)

[2020-01-21 08:39] lorenzobruni commented on #53
@JohnPCarroll, please use this test PX file for testing, the months should be sorted by default based on their codes rather than values, else the list would looks screwed.

[LRM07.20200121T080109.txt](https://github.com/CSOIreland/PxStat/files/4089989/LRM07.20200121T080109.txt)

[2020-01-21 10:08] damienderoistecso opened #54 "[BUG] Sorting of Values column on data results table"
**Describe the bug**
Incorrect sorting of values column on data results table

**To Reproduce**
In a table with values of over a thousand, sort by values

**Expected behavior**
Correct sorting of values

**Screenshots**
![image](https://user-images.githubusercontent.com/53211688/72795557-c7214100-3c35-11ea-9ca1-f52bbfb65c19.png)

[2020-01-21 10:10] damienderoistecso opened #55 "[ENHANCEMENT] Sorting of time column in data results table"
**Is your feature request related to a problem? Please describe.**
Sort time column of values rather than text

**Describe the solution you'd like**
Time column sorted on time values

[2020-01-21 13:09] damienderoistecso opened #56 "[BUG] Build create use classification"
**Describe the bug**
When you download a classification from the search, the csv file has incorrect headings.

**To Reproduce**
In build create, search for a classification and download the csv of this classification

**Expected behavior**
CSV headers must be CODE, VALUE

[2020-01-21 17:14] lorenzobruni commented on #56
Test passed.

[2020-01-21 17:17] lorenzobruni commented on #43
Test pass with anonymous user

[2020-01-22 14:44] #32 closed

[2020-01-22 14:44] #34 closed

[2020-01-22 14:44] #35 closed

[2020-01-22 14:44] #36 closed

[2020-01-22 14:44] #37 closed

[2020-01-22 14:44] #40 closed

[2020-01-22 14:44] #41 closed

[2020-01-22 14:44] #43 closed

[2020-01-22 14:44] #45 closed

[2020-01-22 14:44] #46 closed

[2020-01-22 14:44] #48 closed

[2020-01-22 14:44] #49 closed

[2020-01-22 14:44] #50 closed

[2020-01-22 14:44] #51 closed

[2020-01-22 14:44] #52 closed

[2020-01-22 14:44] #53 closed

[2020-01-22 14:44] #56 closed

[2020-01-27 13:36] neilfromcork opened #57 "[BUG] Send Group message fails"
**Describe the bug**
Sending a Group message fails

[2020-01-27 13:58] neilfromcork commented on #57
Fixed in dev

[2020-01-27 16:53] neilfromcork opened #58 "[BUG] Multi-language px file where no timeval exists has a translation problem"
**Describe the bug**
If a px file has no timeval but the time dimension is chosen by the user, the translation of the dimension fails and validation fails on dimension vs data count

**To Reproduce**
Steps to reproduce the behavior:

[2020-01-27 16:58] neilfromcork commented on #58
Fixed - for retest

[2020-01-28 09:21] 1556953 opened #59 "[BUG] Error with build update"
I receive an unclear error message when uploading data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'build' - update
[CEN1.20200124T160145.txt](https://github.com/CSOIreland/PxStat/files/4121553/CEN1.20200124T160145.txt)

upload PX file
upload data file

[CEN1.20200124T150152.template.txt](https://github.com/CSOIreland/PxStat/files/4121574/CEN1.20200124T150152.template.txt)

error

[2020-01-28 12:09] damienderoistecso opened #60 "[BUG] Margin top missing from time and time span pills"
**Describe the bug**
In responsive mode, time and time span pills in latest releases and table selection page are missing margin top

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.
![image](https://user-images.git

[2020-01-28 12:15] damienderoistecso commented on #60
Added margin in HTML

@JohnPCarroll ready for testing

[2020-01-28 14:28] neilfromcork opened #61 "[BUG] Validation of MtrNote refuses newlines"
**Describe the bug**
The validator for Build Update mistakes a newline character for a quote and refuses validation

[2020-01-28 14:32] neilfromcork commented on #61
Fixed in dev

[2020-01-28 17:27] 1556953 commented on #59
Similarly with build - update
[CEN1.20200128T160129.txt](https://github.com/CSOIreland/PxStat/files/4123703/CEN1.20200128T160129.txt)
upload data file
[CEN1.20200124T150152.template.txt](https://github.com/CSOIreland/PxStat/files/4123711/CEN1.20200124T150152.template.txt)

I receive the following error
![image](https://user-images.githubusercontent.com/60383775/73288742-71c7cf80-41f3-11ea-994d-4cd

[2020-01-29 11:46] neilfromcork opened #62 "[BUG] Delete of live dataset deletes the dataset rather than setting it to historical"
**Describe the bug**
If a live release exists and we  delete it, the release disappears from the browser and any subsequent WIPs stay there with their release number.

**Expected behavior**
The release should stay on the screen as a historical release. It should be possible to compare a WIP against it.

[2020-01-29 11:46] neilfromcork commented on #62
Fixed in Dev - for retest

[2020-01-29 15:43] damienderoistecso commented on #61
Working for build update, but not build create
@neilfromcork

[2020-01-30 10:18] neilfromcork commented on #61
Fixed for Create as well

[2020-01-30 10:20] damienderoistecso commented on #61
@JohnPCarroll ready for testing

[2020-01-30 11:40] damienderoistecso opened #63 "[BUG] Set focus to search on mobile"
**Describe the bug**
When the focus is set automatically to the search input, the keyboard pops us always on a mobile

**To Reproduce**
On a mobile device, launch the application

**Expected behavior**
Focus is not set to the search input to prevent keyboard always showing on mobile device

[2020-01-30 11:47] damienderoistecso commented on #63
@JohnPCarroll ready for testing

[2020-01-30 14:10] damienderoistecso commented on #54
Added override for natural sorting

@JohnPCarroll ready for testing

[2020-01-30 15:47] damienderoistecso opened #64 "[BUG] Email validation rules"
**Is your feature request related to a problem? Please describe.**
Update email validation to follow specification here https://www.jochentopf.com/email/chars.html

Email addresses username should only allow

- a-z
- A-Z
- 0-9
- -
- _
- +
- .

@JohnPCarroll ready for testing

[2020-01-31 10:50] damienderoistecso opened #65 "[ENHANCEMENT] Share this position behaviour"
**Is your feature request related to a problem? Please describe.**
Share this is hidden in collapsed panel on mobile view. Not easily visible to user.

**Describe the solution you'd like**
Share this to appear directly under data navigation and always visible

[2020-01-31 12:17] damienderoistecso opened #66 "[ENHANCEMENT] Back button detection"
**Is your feature request related to a problem? Please describe.**
When the user clicks the back button on the browser, prompt warning

**Describe the solution you'd like**
Warning when user clicks browser back button

[2020-01-31 12:56] damienderoistecso commented on #47
Added response classes to search results

@JohnPCarroll ready for testing

[2020-01-31 14:55] damienderoistecso opened #67 "[BUG] Mail server unavailable issue"
**Describe the bug**
When the mail server is down, you can't progress the workflow

**Expected behavior**
Allow the workflow to continue even when the mail server is down

[2020-01-31 15:01] JohnPCarroll opened #68 "[BUG] Buttons note resetting post Map viewing"
**Describe the bug**
When you view a map relating to a table and select the Data buttons the codes Reset and View all buttons are incorrectly displayed
**To Reproduce**
Used Table NEA06

**Expected behavior**
Buttons should default to correct position before map button selected

[2020-01-31 15:49] neilfromcork opened #69 "[ENHANCEMENT] Classification / Variable ordering is lost on Build Create"
If a dataset is created from Build, the output PX orders the classifications and variables by code. The user should be allowed to preserve the required classification/variable order. (From Digital Comms)

[2020-01-31 15:55] neilfromcork commented on #69
Implemented  in DEV, for retest

[2020-01-31 16:32] damienderoistecso commented on #69
@JohnPCarroll ready for testing

[2020-02-03 10:44] damienderoistecso opened #70 "[ENHANCEMENT] Update format and version parameters in public data methods"
**Is your feature request related to a problem? Please describe.**
Public methods parameters should be easy to understand values.

**Describe the solution you'd like**
Remove "FrmType" and "FrmVersion" and replace with

"format": {
         "type": "px",
          "version": "2006"
}

[2020-02-03 11:23] neilfromcork commented on #67
Temporary fix in place to ignore mail issue if it occurs and complete the Request/Response/Rollback
@damienderoistecso

[2020-02-03 16:57] neilfromcork opened #71 "[BUG] Data_Release_ReadNext returning nulls"
**Describe the bug**
Data_Release_ReadNext returns nulls even when a release is upcoming

[2020-02-03 16:58] neilfromcork commented on #71
Fixed on dev. Difficult to test - only affects cache life-cycle

[2020-02-03 16:58] #71 closed

[2020-02-03 16:59] neilfromcork commented on #71
Fixed in dev

[2020-02-03 18:45] lorenzobruni opened #72 "[BUG] JSON-RPC Invalid Schema"
The present JSON-RPC schema refers to the wrong `data` property rather than `result`.
Also, the `error.data` should be available for extensive error notification.

This bug can be fixed across Client and Server code following the closure of the parent bug https://github.com/CSOIreland/Server-API-Library/issues/1 under the **Server-Side-Library** repository.

#### Please note this issue must be res

[2020-02-04 09:55] JohnPCarroll commented on #69
Test successful

[2020-02-04 09:56] JohnPCarroll commented on #62
test successful

[2020-02-04 09:57] JohnPCarroll commented on #61
test successful

[2020-02-04 09:57] JohnPCarroll commented on #60
Test successful

[2020-02-04 09:58] JohnPCarroll commented on #58
Test successful

[2020-02-04 09:58] JohnPCarroll commented on #57
Test successful

[2020-02-04 09:59] JohnPCarroll commented on #54
Test Successful

[2020-02-04 13:00] lorenzobruni commented on #67
Complete fix will be deployed together with the changes required for the parent bug https://github.com/CSOIreland/PxStat/issues/72

**Keep this bug open until the parent bug is resolved.**

[2020-02-04 13:02] lorenzobruni commented on #67
@JohnPCarroll can you please test this one ASAP? Thanks

[2020-02-04 13:56] JohnPCarroll commented on #67
Test successful

[2020-02-04 17:02] damienderoistecso commented on #66
test passed

[2020-02-04 17:09] damienderoistecso opened #73 "[ENHANCEMENT] Enforce threshold in build create and update"
**Is your feature request related to a problem? Please describe.**
If you create a px structure with too many cells (e.g. trillions), the server may stop responding

**Describe the solution you'd like**
Detect and show the number of data points based on dimensions created or updated and inform user if exceeded

[2020-02-04 17:15] damienderoistecso commented on #65
Code moved out of panel

test passed

[2020-02-04 18:13] lorenzobruni commented on #63
Test passed

[2020-02-04 18:14] lorenzobruni commented on #70
Test passed

[2020-02-04 18:25] lorenzobruni commented on #64
Client Side passed, Server side is missing the `+`

[2020-02-05 09:30] lorenzobruni commented on #64
Test passed

[2020-02-05 13:37] #54 closed

[2020-02-05 13:37] #57 closed

[2020-02-05 13:37] #58 closed

[2020-02-05 13:37] #60 closed

[2020-02-05 13:37] #61 closed

[2020-02-05 13:37] #62 closed

[2020-02-05 13:37] #63 closed

[2020-02-05 13:37] #64 closed

[2020-02-05 13:37] #65 closed

[2020-02-05 13:37] #66 closed

[2020-02-05 13:37] #67 closed

[2020-02-05 13:37] #69 closed

[2020-02-05 13:37] #70 closed

[2020-02-06 08:55] lorenzobruni commented on #72
Entities to regression-test:
* **Navigation Bar**
* **Data**

[2020-02-06 09:04] JohnPCarroll commented on #72
Navigation bar failure
![image](https://user-images.githubusercontent.com/44975474/73921652-a7d61500-48bf-11ea-8d28-7d1e42c7e24a.png)

[2020-02-06 09:06] neilfromcork commented on #72
Change made to Matrix_API for this issue

[2020-02-06 09:14] JohnPCarroll commented on #72
Map option failure. When map selected no map shown and goes into a loop
![image](https://user-images.githubusercontent.com/44975474/73922460-19fb2980-48c1-11ea-9301-2e043db8c922.png)

[2020-02-06 09:29] lorenzobruni commented on #72
@JohnPCarroll FIXED

[2020-02-06 09:44] lorenzobruni commented on #72
@JohnPCarroll FIXED

[2020-02-06 09:52] liamie commented on #72
Passed

[2020-02-06 09:53] JohnPCarroll commented on #72
Test passed for Navigation bar and Data

[2020-02-06 09:58] lorenzobruni commented on #72
Entities to regression-test:
* **Analytic**

[2020-02-06 10:02] JohnPCarroll commented on #72
Unable to Download a PNG Image
![image](https://user-images.githubusercontent.com/44975474/73926573-c3ddb480-48c7-11ea-86db-aa87eb219138.png)

[2020-02-06 10:03] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/73926570-c3451e00-48c7-11ea-875b-7a72f6ea6d40.png)
 when trying to view fullscreen of table language chart

[2020-02-06 10:06] JohnPCarroll commented on #72
if you select "print chart" and cancel the requests an error occurs
![image](https://user-images.githubusercontent.com/44975474/73926864-41a1c000-48c8-11ea-835d-5ddd5035ffb1.png)

[2020-02-06 10:08] JohnPCarroll commented on #72
If you select print an error occurs
![image](https://user-images.githubusercontent.com/44975474/73927086-a6f5b100-48c8-11ea-884a-c813383c269c.png)

[2020-02-06 13:33] lorenzobruni commented on #72
@JohnPCarroll and @liamie
All the issues reported above about the **Analytic** entity  were generated by the same problem.
Can you please update, reload the application (Ctrl + F5) and test it again? Thanks

FYI, we also upgrade to HighCharts version 8.0.0 (latest stable).

[2020-02-06 14:25] JohnPCarroll commented on #72
Test passed for the **Analytic** entity issues in relation to the download and print options noted above

[2020-02-06 14:28] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/73944761-0795e580-48eb-11ea-964a-d22df1faf1c2.png)

when using three dots to print or right click and print

[2020-02-06 14:35] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/73946494-ea164b00-48ed-11ea-9e5a-8412a93fb873.png)

debugger left

[2020-02-06 15:41] lorenzobruni commented on #72
FIXED

[2020-02-06 15:41] lorenzobruni commented on #72
FIXED (FYI, this was a Chrome related bug... but it should look fine now)

[2020-02-06 15:51] liamie commented on #72
This no longer produces error

[2020-02-06 15:51] liamie commented on #72
Passed

[2020-02-06 16:23] liamie opened #74 "Analytics title appearance [BUG]"
Analytics appearance
hits title displaying as [hits-over-time] in brackets on popup details screen

After choosing a table by double clicking on the Analytics screen, on the screen that pops up

**Screenshots**
![image](https://user-images.githubusercontent.com/55874862/73956065-4bddb180-48fc-11ea-9f56-9217ca35a084.png)

[2020-02-06 16:25] lorenzobruni commented on #72
Entities to regression-test:
* **Dashboard**

[2020-02-06 16:28] liamie commented on #72
on dashboard page load
![image](https://user-images.githubusercontent.com/55874862/73957041-b5aa8b00-48fd-11ea-9d60-d5c16b463014.png)

[2020-02-06 16:34] liamie commented on #72
No releases appearing in live releases and detached from rest of collapseable modals

![image](https://user-images.githubusercontent.com/55874862/73957542-64e76200-48fe-11ea-978b-2080038387c7.png)

[2020-02-06 16:46] lorenzobruni commented on #72
FIXED

[2020-02-06 16:46] lorenzobruni commented on #72
FIXED

[2020-02-06 16:51] JohnPCarroll commented on #72
error with analytics link in live release section
![image](https://user-images.githubusercontent.com/44975474/73959146-d7f1d800-4900-11ea-9526-64a651fd2435.png)

[2020-02-06 17:00] lorenzobruni commented on #72
FIXED

[2020-02-06 17:02] JohnPCarroll commented on #72
Test passed for error with analytics link in live release section

[2020-02-06 17:04] lorenzobruni commented on #72
Entity ready to regress-test
* **Release**

[2020-02-06 17:07] liamie opened #75 "Official Statistics symbol not ordering [BUG]"
**Describe the bug**
Official Statistics symbol not ordering in Dashboard -> Live releases

**To Reproduce**
Steps to reproduce the behavior:
1. Dashboard -> Live releases
2. Click on arrows for ordering on Official Statistics column

No order changed

**Expected behavior**
Expected different symbols to order differently

![image](https://user-images.githubusercontent.com/55874862/73960100-34a1c28

[2020-02-06 17:08] liamie commented on #72
Passed

[2020-02-06 17:15] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/73961181-0329f680-4904-11ea-8630-75a66f66f297.png)

clicking on a table in main window after search
or on table in right hand panels

[2020-02-07 09:24] liamie opened #76 "Colour match the panels on releases screen [ENHANCEMENT]"
Colour match the right hand panels on the main releases screen with the corresponding panels in Dashboard.

Would provide quick visual reference for distinction on the releases page and an association between the information on separate pages.

[2020-02-07 14:33] JohnPCarroll commented on #72
Configuration Reason - update fails
![image](https://user-images.githubusercontent.com/44975474/74037694-b8b58200-49b6-11ea-8f88-d58885f708cf.png)

[2020-02-07 14:38] JohnPCarroll commented on #72
Configuration Language - Update link to display popup page not working
![image](https://user-images.githubusercontent.com/44975474/74038032-632da500-49b7-11ea-8ac1-42f24c7ddd6c.png)

[2020-02-07 14:38] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74038018-5e68f100-49b7-11ea-9b24-f0e7d2cabcc6.png)

Languages when click on a language iso code on left column

[2020-02-07 14:47] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74038782-9de40d00-49b8-11ea-8a58-0ff79b9a26e1.png)

when adding a reason with same ID as previous maybe unrelated but should be more informative then just error

[2020-02-07 15:46] damienderoistecso opened #77 "[BUG] Contact details update"
**Describe the bug**
If group details are updated, the cached JSONstat data does not get updated.

**Expected behavior**
When you update a group, any matrix associated with that group gets it's cache flushed

[2020-02-07 16:10] damienderoistecso opened #78 "[BUG] Geo role in JSONstat"
**Describe the bug**
Geo role in JSONstat contains dimension label instead of code

**Expected behavior**
Geo role should contain code

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.
![image](https://user-images.githubusercontent.com/53211688/74045198-3e8bfa00-49c4-11ea-8cb6-09f18331f26f.png)

[2020-02-10 10:56] neilfromcork commented on #77
Fixed in dev - for retest

[2020-02-10 11:56] neilfromcork opened #79 "[BUG] Rollback of live causes rolled back release to stay live"
**Describe the bug**
Rollback of live causes rolled back release to stay live

**To Reproduce**
Steps to reproduce the behavior:
1.Rollback live to historical

**Expected behavior**
Rolled back release goes to WIP, historical goes to live

[2020-02-10 12:46] neilfromcork commented on #79
Fix in dev - for retest

[2020-02-10 14:20] neilfromcork commented on #78
Fixed in dev @damienderoistecso

[2020-02-11 09:55] lorenzobruni commented on #72
RELEASE + CONFIGURATION entities fixed.
Can you please give another round of testing?

Thanks

[2020-02-11 10:07] JohnPCarroll commented on #72
Test passed for all Configuration entities

[2020-02-11 10:12] JohnPCarroll commented on #72
Test failed for Release entity. Source window missing

[2020-02-12 14:12] lorenzobruni commented on #72
Release - Source FIXED
Please retest.

[2020-02-12 14:29] JohnPCarroll commented on #72
Test failed for Release entity source window. The Compare button is not active if wip and live version exist. The came applies to live and historical or any other combinations

[2020-02-12 14:43] lorenzobruni commented on #72
Fixed, please retest.

[2020-02-12 14:52] liamie commented on #72
Button now clickable

[2020-02-12 14:57] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74346754-f3992a80-4da7-11ea-91e8-af0269794c3f.png)

when download csv and when close the download status bar

[2020-02-12 15:10] liamie opened #80 "[ENHANCEMENT] Define Modals for Printing in Isolation"
Define Modals for Printing in Isolation

[2020-02-12 15:12] liamie opened #81 "Downloading on the Comparison Report Screen"
![image](https://user-images.githubusercontent.com/55874862/74346754-f3992a80-4da7-11ea-91e8-af0269794c3f.png)

on Comparison Report screen when download csv intermittently and when close the download status bar

_Originally posted by @liamie in https://github.com/CSOIreland/PxStat/issues/72#issuecomment-585245369_

[2020-02-12 15:13] JohnPCarroll commented on #72
Test passed for Compare button on Source window of Release Entity.
Tested Wip V Live, Wip V historical, Live V Histrical and Historical V Historical

[2020-02-12 15:53] lorenzobruni commented on #72
All the Entities in the **Manage** section are ready to test. Thanks

[2020-02-12 16:02] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74352742-dc126f80-4db0-11ea-8ba5-e2c12d49a1b2.png)

clicking Add Member button on groups page.
Pop up does not appear

[2020-02-12 16:13] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74353704-38c25a00-4db2-11ea-99e4-dccddac40c2d.png)

when trying to Edit an existing Group in Manage>Groups

[2020-02-12 16:35] liamie commented on #81
Same problem also occurs on Manage > Tracing

![image](https://user-images.githubusercontent.com/55874862/74355791-38778e00-4db5-11ea-8fe8-e9f5f3f6c0b6.png)

[2020-02-12 17:17] lorenzobruni commented on #72
FIXED ready to retest

[2020-02-12 17:29] liamie commented on #72
Popup now appears however

![image](https://user-images.githubusercontent.com/55874862/74360341-c99e3300-4dbc-11ea-8817-56d12d61e321.png)

occurs when trying to add a user that already exists.
And screen locks and fades out with the below error behind
![image](https://user-images.githubusercontent.com/55874862/74360513-1c77ea80-4dbd-11ea-8f6c-fa6c1534543b.png)

[2020-02-12 17:54] liamie commented on #72
Error now appearing correctly and can close
![image](https://user-images.githubusercontent.com/55874862/74362486-b68d6200-4dc0-11ea-9ca1-0048bfd84d6e.png)

[2020-02-12 18:05] lorenzobruni commented on #72
## Nothing outstanding from here before.
Testing of the Menage entities still in progress...

[2020-02-13 09:03] neilfromcork commented on #72
Validation fail on Group Update has been fixed. Please retest.   @liamie , @JohnPCarroll

[2020-02-13 09:17] liamie commented on #72
Update in line with create now. All good.

[2020-02-13 09:41] JohnPCarroll commented on #72
Test passed for group update

[2020-02-13 16:21] lorenzobruni commented on #72
Are all the entities under **MANAGE** cleared?
Just double checking before moving to the next one. Thanks!

[2020-02-13 17:32] lorenzobruni commented on #72
All entities under **Keyword** ready to re-test.

[2020-02-14 08:53] liamie commented on #72
Yes

[2020-02-14 09:02] carolfinlay opened #82 "Inclusion of user details in Workflow emails"
Can we please get the details of the user, that has sent the table for approval, included in the workflow email.  Currently we do not know who is working on the table when we get the email.

Thanks

Carol

[2020-02-14 09:26] liamie commented on #72
Seems Correct

[2020-02-14 09:35] liamie commented on #81
![image](https://user-images.githubusercontent.com/55874862/74518912-936fc900-4f0c-11ea-84c6-9bfbc3dc21da.png)

Same problem occurs if try to download results button on View Data screen or the  large selection confirm message.
![image](https://user-images.githubusercontent.com/55874862/74519130-1133d480-4f0d-11ea-93b3-5938a297982c.png)

[2020-02-14 09:57] damienderoistecso opened #83 "[BUG] Open link to release from email"
**Describe the bug**
Email link with release 'go to' does not work in chrome. Issue with dynamically loading tiny mce script.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/53211688/74520771-2827f600-4f10-11ea-8905-b17e495d9054.png)

[2020-02-14 09:59] damienderoistecso commented on #83
Updated app.config.tinymce.apiURL to point to latest realease

@lorenzobruni tested, ready for release

[2020-02-14 10:14] lorenzobruni commented on #72
Error modal enhanced with Copy to Clipboard.
Please test.
![image](https://user-images.githubusercontent.com/53212047/74522267-c87f1a00-4f12-11ea-986a-86750b417fd1.png)

[2020-02-14 11:00] liamie opened #84 "Can create or delete a language without the language list updating [BUG]"
When you create or delete a language the drop down on top right does not update automatically

The language isn't on the dropdown until a refresh occurs.

This can lead to unexpected errors when you try to access some areas Releases and Configuration>Releases,  Manage>Alerts
with a language that was deleted but is still retained in the drop down

![image](https://user-images.githubusercontent.com/

[2020-02-14 12:22] liamie commented on #72
Copy to clipboard is appearing and works when paste to notepad

[2020-02-14 15:33] lorenzobruni commented on #72
All entities under **Build** ready to test.

[2020-02-14 15:58] liamie commented on #81
![image](https://user-images.githubusercontent.com/55874862/74545870-84efd480-4f41-11ea-9818-5a69ac37f374.png)

Also occurs on Build>Update buttons at bottom after loading a px file

                         Download CSV Template
                         Download CSV Data
                         Update

Seems to be to do with the tray (becomes tab if you use show all button) created by downloadin

[2020-02-14 16:45] liamie commented on #72
![image](https://user-images.githubusercontent.com/55874862/74550321-1dd61e00-4f49-11ea-8222-1782aee502d0.png)

when using Build>Create with multiple languages Click Create button

[2020-02-17 08:31] lorenzobruni commented on #72
Problems fixed, please re-test?

[2020-02-17 09:53] JohnPCarroll commented on #72
Test passed for all Keywords options - Subjects, Products and Releases

[2020-02-17 09:57] JohnPCarroll commented on #72
Build/ Create Option. Should the language be stated in the Confirm deletions messages instead of the language code ?
![image](https://user-images.githubusercontent.com/44975474/74643000-eb583b00-516b-11ea-9e26-e72abc80ed43.png)

[2020-02-17 10:05] JohnPCarroll commented on #72
Build/Create Options -  Error downloading Templates
![image](https://user-images.githubusercontent.com/44975474/74643650-fc557c00-516c-11ea-8b31-2a905f3540ea.png)

[2020-02-17 10:29] JohnPCarroll commented on #72
Build/Create Options - Imported duel language table and added Classification for English only. No error messages displayed
![image](https://user-images.githubusercontent.com/44975474/74645612-2a888b00-5170-11ea-8e54-de0fd148c340.png)

[2020-02-17 10:45] JohnPCarroll commented on #72
Build Update option - Same download template errors as Create option

[2020-02-17 10:50] neilfromcork commented on #82
Completed in dev. Ready for test.

[2020-02-17 12:18] JohnPCarroll commented on #78
Test Passed

[2020-02-17 12:33] neilfromcork commented on #78
Client side may need to be checked.

[2020-02-17 14:27] JohnPCarroll opened #85 "[BUG] Filename incorrect when Source is downloaded"
When you are in the Release page and you select the "Download Source" button. The output created does not contain the table code.

[2020-02-17 18:19] lorenzobruni commented on #81
Fixed, ready to test

[2020-02-18 08:55] lorenzobruni commented on #85
Fixed

[2020-02-18 09:08] JohnPCarroll commented on #85
Teat failed.
Output file now contains .px twice at the end eg  AHM04_2_0_20200128T140108.px.px
When downloaded elsewhere it is AHM04.20200218T090253.px

[2020-02-18 09:38] lorenzobruni commented on #85
Fixed

[2020-02-18 09:39] lorenzobruni commented on #72
Fixed, ready to retest

[2020-02-18 09:50] lorenzobruni commented on #72
Fixed, please retest

[2020-02-18 09:55] JohnPCarroll commented on #72
Test passed for Build/Create Option in relation to adding Classification for English only on Duel Language Table

[2020-02-18 10:10] JohnPCarroll opened #86 "[BUG] Build/Import option - Incorrect Auto Generation of Statistical Codes for Multi Language tables"
**Describe the bug**
Currently if a Table has one statistic the code is auto generated for each language. This code must be the same at the default language.

![image](https://user-images.githubusercontent.com/44975474/74726102-cbda1480-5236-11ea-98b0-beba07c41d9f.png)

[E3002.txt](https://github.com/CSOIreland/PxStat/files/4218569/E3002.txt)

[2020-02-18 10:41] JohnPCarroll commented on #72
Email Error sometimes.
This happens if you update an alert and then access the email option
![image](https://user-images.githubusercontent.com/44975474/74728719-2c6b5080-523b-11ea-9e5a-aaa5fbd1f6d1.png)

[2020-02-18 10:45] JohnPCarroll opened #87 "[BUG] Email Error sometimes."
Email Error sometimes.
This happens if you update an alert and then access the email option
![image](https://user-images.githubusercontent.com/44975474/74728719-2c6b5080-523b-11ea-9e5a-aaa5fbd1f6d1.png)

_Originally posted by @JohnPCarroll in https://github.com/CSOIreland/PxStat/issues/72#issuecomment-587395868_

[2020-02-18 11:00] JohnPCarroll commented on #72
Test passed for Build/ Create Option. Language now stated in the Confirm deletions messages

[2020-02-18 11:26] neilfromcork commented on #86
Fixed in dev. For retest.

[2020-02-18 11:53] JohnPCarroll commented on #72
Build/ Create import option. Error deleting time Periods.
![image](https://user-images.githubusercontent.com/44975474/74733765-ee732a00-5244-11ea-82a0-4c49d7604bba.png)

[2020-02-18 11:58] JohnPCarroll commented on #86
Test passed

[2020-02-18 14:21] damienderoistecso commented on #78
Updated create-update to read new JSON-stat

@JohnPCarroll ready for testing

[2020-02-18 14:32] damienderoistecso opened #88 "[ENHANCEMENT] Make comment on "PxStat.Data.ReasonRelease_API.Create" optional"
**Describe the solution you'd like**
Comments are optional when adding a reason to a release

[2020-02-18 15:02] damienderoistecso commented on #74
@JohnPCarroll ready for testing

[2020-02-18 15:33] damienderoistecso commented on #75
Update column to type: "natural",
@JohnPCarroll ready for testing

[2020-02-18 15:56] damienderoistecso commented on #68
@JohnPCarroll ready for testing

[2020-02-19 10:56] damienderoistecso opened #89 "[ENHANCEMENT] Refactor view data in release and keyword entity"
**Describe the solution you'd like**
Refactor view data in release and keyword entity to use common modal. Fix scroll issue when view data in keyword release

@JohnPCarroll ready for testing

[2020-02-19 10:59] damienderoistecso opened #90 "[BUG] Scroll to keyword table in keyword releases"
**Describe the bug**
When you click on a release in Keywords/Releases, it doesn't scroll to the table

**To Reproduce**
Scroll to table when you click on a release

@JohnPCarroll ready for testing

[2020-02-19 11:10] neilfromcork commented on #88
Completed in Dev. Please retest for Create, Read, Update and Delete

[2020-02-19 14:58] lorenzobruni commented on #72
Fixed. Please note to retest also the results into the Comparison.

[2020-02-19 15:49] lorenzobruni commented on #72
Test passed by @JohnPCarroll

[2020-02-19 15:54] lorenzobruni commented on #84
Languages are system settings defined at the root level by an Admin only.
Their change is reflecting globally, and refreshing the page of the Admin wont help other users who are logged in.

Also, deleting a Language is a critical Admin job, so this is not a common issue.

Thanks for reporting anyway :-)

[2020-02-19 15:54] #84 closed

[2020-02-19 16:24] JohnPCarroll commented on #68
Test passed

[2020-02-19 16:27] JohnPCarroll commented on #74
Test passed

[2020-02-19 16:35] JohnPCarroll commented on #75
Test Passed

[2020-02-19 16:37] JohnPCarroll commented on #76
Test Passed

[2020-02-19 17:54] lorenzobruni commented on #87
@JohnPCarroll we have upgraded the TinyMCE library, can you please try again?
Thanks

[2020-02-20 09:03] JohnPCarroll commented on #87
Test fails.
If you add or update an alert all is OK. If you cancel an alert update the error occurs

[2020-02-20 10:47] JohnPCarroll commented on #79
Test passed for rolling back live. The Historical goes live and the live is Work in progress.
A further issue arises in this situation.
1. You start with a Live and two historical.
2. You rollback the live and you now have one work in progress, one live and one historical.
3. You then rollback the live and you end up with two work in progress and one live. This is incorrect You should end up with

[2020-02-20 10:54] JohnPCarroll commented on #85
Test Passed

[2020-02-20 10:58] JohnPCarroll commented on #89
Test Passed

[2020-02-20 11:02] JohnPCarroll commented on #90
Test Passed

[2020-02-20 12:00] JohnPCarroll commented on #88
Test Passed

[2020-02-20 12:12] JohnPCarroll commented on #81
Test Passed

[2020-02-20 12:28] neilfromcork commented on #79
Modified in DEV to fix the double rollback case. If a live is rolled back then any subsequent WIP is deleted. For retest @JohnPCarroll

[2020-02-20 12:28] JohnPCarroll commented on #78
Test passed

[2020-02-20 12:59] JohnPCarroll commented on #79
Test passed

[2020-02-24 09:13] lorenzobruni commented on #87
Fixed by initiating the tinyMCE before running the form validation in the Email entity.
Test passed on behalf of @JohnPCarroll

[2020-02-24 09:41] lorenzobruni commented on #77
The RegEx for the Contact Phone has been fixed as well.
`^(\(\+\d{1,3}\) \d+ \d+ \d+)$`

[2020-02-24 09:45] lorenzobruni commented on #77
Test passed on behalf of @JohnPCarroll

[2020-02-24 16:40] lorenzobruni opened #91 "[ENHANCEMENT] Add XLSX (Open Excel) output format"
**Is your feature request related to a problem? Please describe.**
Allow to downlaod XLSX (Open Excel) output format

**Additional context**
Sample of Excel spreadsheet
[template.xlsx](https://github.com/CSOIreland/PxStat/files/4245651/template.xlsx)
 format (look&feel)

[2020-02-24 17:33] lorenzobruni commented on #82
Tested passed on behalf of @JohnPCarroll

[2020-02-24 18:41] lorenzobruni commented on #47
Code update to sync the Search Results list with the Table Header.
Test passed with @JohnPCarroll

![image](https://user-images.githubusercontent.com/53212047/75181002-35758980-5735-11ea-9a68-4550178267b6.png)

![image](https://user-images.githubusercontent.com/53212047/75181035-46be9600-5735-11ea-830e-deede015b53e.png)

[2020-02-27 10:20] #47 closed

[2020-02-27 10:20] #68 closed

[2020-02-27 10:20] #72 closed

[2020-02-27 10:20] #74 closed

[2020-02-27 10:20] #75 closed

[2020-02-27 10:20] #76 closed

[2020-02-27 10:20] #77 closed

[2020-02-27 10:20] #78 closed

[2020-02-27 10:20] #79 closed

[2020-02-27 10:20] #81 closed

[2020-02-27 10:20] #82 closed

[2020-02-27 10:20] #83 closed

[2020-02-27 10:20] #85 closed

[2020-02-27 10:20] #86 closed

[2020-02-27 10:20] #87 closed

[2020-02-27 10:20] #88 closed

[2020-02-27 10:20] #89 closed

[2020-02-27 10:20] #90 closed

[2020-02-27 10:47] lorenzobruni commented on #55
This is about sorting the Time column on the Data results data table by CODE rather than LABEL so to use full time point names
ie. 2019 May

![image](https://user-images.githubusercontent.com/53212047/75437637-772d4c80-594e-11ea-8b6e-65e8d841f49f.png)

[2020-02-27 10:50] lorenzobruni commented on #23
The concept of "revision" is extraneous to the application.
Considering that Reasons apply to the Publish mechanism, then the preferable label would be "Reasons to Publish".

[2020-02-28 08:01] lorenzobruni commented on #23
Change completed. Please test.

[2020-02-28 08:03] lorenzobruni commented on #23
This affect the Reasons to Publish box in the **Release** and **Configuration/Reasons** entities

![image](https://user-images.githubusercontent.com/53212047/75521955-b6b47100-5a00-11ea-9df2-563420f4929a.png)

![image](https://user-images.githubusercontent.com/53212047/75521988-c469f680-5a00-11ea-90ad-053a35279329.png)

[2020-02-28 09:09] JohnPCarroll commented on #23
Test Passed

[2020-02-28 12:19] lorenzobruni commented on #44
The TinyMce parser has been refactored to take into account disallowed characters.
The event is triggered when focusing out of the text-area, informing the users of changes in the text input.

**All TinyMce text-areas are affected. Please retest across all application.**

![image](https://user-images.githubusercontent.com/53212047/75548088-4ae3ff80-5a24-11ea-885d-a218f2e5082b.png)

[2020-02-28 14:14] JohnPCarroll commented on #44
Release - Public comment fails if text double quote and [img] used.
![image](https://user-images.githubusercontent.com/44975474/75555707-a5855780-5a34-11ea-8df4-119b79c0800f.png)

[2020-02-28 14:30] JohnPCarroll commented on #44
Test Passed for Build Create and Build Update options

[2020-02-28 14:54] JohnPCarroll commented on #44
Test fails for Manage Email and Manage Alerts as Double Quotes accepted

[2020-02-28 16:23] damienderoistecso commented on #55
@JohnPCarroll ready for testing

[2020-02-28 16:34] JohnPCarroll commented on #55
Test Passed

[2020-02-28 16:39] damienderoistecso opened #92 "[ENHANCEMENT] Add download results dropdown to top of results table in data"
*Describe the solution you'd like**
download results dropdown at top of data results table to avoid having to scroll to bottom of table

@JohnPCarroll ready for testing

[2020-03-02 14:11] neilfromcork opened #93 "[BUG] Large datasets hang in Build Update (NISRA)"
**Describe the bug**
A Build Update of approx 88,000 records caused the system to hang

[MYESA.20200225T140225.px.txt](https://github.com/CSOIreland/PxStat/files/4275800/MYESA.20200225T140225.px.txt)

[MYESA.20200212T150201.template.csv.txt](https://github.com/CSOIreland/PxStat/files/4275802/MYESA.20200212T150201.template.csv.txt)

[2020-03-02 14:18] neilfromcork commented on #93
Fixed -  ready for test in dev

[2020-03-02 15:33] liamie opened #94 "[BUG] If a file is sent to awaiting response is rejected the status returns to work in progress but no longer appears in either the dashboard or the right hand side of build"
**Describe the bug**
If a file is sent to awaiting response is rejected the status returns to work in progress but no longer appears in either the dashboard or the right hand side of build

**To Reproduce**
Steps to reproduce the behavior:
1. Upload a new table
2. Request publish
3. Reject in awaiting response
4. No longer appears in either the awaiting response or work in progress lists

**Expect

[2020-03-02 15:44] liamie commented on #94
Seems to also occur if awaiting signoff  is rejected.  Won't reappear on the lists until status is at least awaiting response

[2020-03-03 11:54] neilfromcork commented on #91
Complete on server side

[2020-03-03 16:52] lorenzobruni opened #95 "[ENHANCEMENT] Speed up Upload/Delete process"
As per title. Improving performance when deleting / cleaning soft deleted matrices.

[2020-03-04 10:12] JohnPCarroll commented on #92
Test Passed

[2020-03-04 10:14] JohnPCarroll commented on #93
Test Passed

[2020-03-05 00:40] lorenzobruni commented on #44
@JohnPCarroll FYI, double quotes are not allowed only in the Build entity because of the PX specifications.
Instead, restricted **BBCode* such as `[img]` is restricted across the board.

Unfortunately the double-modal is a browser issue.

Please give it a quick test again.
Thank you

[2020-03-05 09:44] JohnPCarroll commented on #44
Test Passed for all

[2020-03-05 10:16] carolfinlay opened #96 "[ENHANCEMENT] Remove create option in the build for moderators"
We do not currently want moderators to be able to use the create option in PXBuild.  Can this please be automatically off but have it so that we can toggle it on if we wish (like making a moderator an approver).

Thanks

Carol

[2020-03-05 12:14] carolfinlay opened #97 "[ENHANCEMENT] Change Emergency Release to Exceptional Release"
Anywhere it says Emergency Release in PXStat (and external facing) can you please amend it to say Exceptional Release

Thanks

Carol

[2020-03-05 13:58] neilfromcork commented on #59
The original csv file had entries for Age Group 12. This age group is not represented in the px file, hence the error. I regenerated the csv file from the application but this time there were no entries for Age Group 12 and the update occurred without problems. Can you give me more information about what happened?

[2020-03-05 15:18] liamie opened #98 "[BUG] When upload a two language matrix the file appears twice in dashboard and work in progress panel"
![image](https://user-images.githubusercontent.com/55874862/75994410-d95bf380-5ef2-11ea-8976-06630c972b30.png)

It is fine in the English environment language
It appears twice in the Irish environment language

[2020-03-05 16:09] neilfromcork commented on #98
Fix completed - for retest

[2020-03-05 17:20] liamie commented on #98
This seems correct now one entry in Irish environment language also

[2020-03-05 22:07] lorenzobruni opened #99 "[ENHANCEMENT] Change Deploy.ps1 to Install.ps1"
**Is your feature request related to a problem? Please describe.**
Following the implementation of the `Update.ps1` automated script
 then the `Deploy.ps1` should be renamed `Install.ps1` for harmonization.

[2020-03-05 22:08] lorenzobruni commented on #99
Script renamed.
Documentation changed in the Wiki as well.

No testing required. Good to go.

[2020-03-05 23:15] lorenzobruni commented on #91
Release to Milestone 2.1.0 postponed.
2.1.0.sql script is missing the XLSX 2007 format and the Datamodel.sql and Datamodel.xml still need to be amended.**

@neilfromcork can you please add the new format in the above 3 files for the next Milestone 2.2.0? Thanks

[2020-03-05 23:16] lorenzobruni commented on #95
Test passed

[2020-03-05 23:30] #23 closed

[2020-03-05 23:30] #92 closed

[2020-03-05 23:30] #93 closed

[2020-03-05 23:30] #95 closed

[2020-03-05 23:30] #99 closed

[2020-03-06 08:37] neilfromcork commented on #91
Script changes complete for Datamodel.sql and 2.1.0.sql. Changes not required in Datamodel.xml?

[2020-03-09 16:46] lorenzobruni commented on #96
Hi, we are looking into it, discussing feasibility.

What is the main reason behind this change request, considering that **PX** is a public text format that everybody can anyway easily create from scratch, either using public software like `PcAxis`, `PxMake`, `PxEdit `or programming languages like `SAS`, `R` or simply with any text editor?

Is this to facilitate an **Office Policy** perhaps?

Tha

[2020-03-09 16:50] lorenzobruni commented on #97
Hi, the change will be implemented into 2 steps, considering that this feature is one of the main pillars of the system, controlling the **Embargo**.

### Step 1.
Simply change the label in the **Client Side**, which is consumable by humans (only):
- from `Emergency Release` to `Exceptional Release`.
- from `Emergency` to `Exception`

### Step 2.
Change the code and the underlying Data Model so th

[2020-03-10 10:30] liamie opened #100 "[BUG] Entity: Releases"
Browser: Firefox

[2020-03-10 10:32] liamie commented on #100
![image](https://user-images.githubusercontent.com/55874862/76303865-548a2480-62ba-11ea-975a-b8fca5641ea5.png)

[2020-03-10 11:04] liamie opened #101 "[BUG] Long product titles shift browse panel boundaries rather than wrapping"
Long Product Titles break Browse panel on Data Screen not wrapping in the panel

how appears in chrome
![image](https://user-images.githubusercontent.com/55874862/76306328-97e69200-62be-11ea-92bd-f7a3e1bcbbe2.png)

how appears in firefox
![image](https://user-images.githubusercontent.com/55874862/76306402-b8165100-62be-11ea-972b-b11d2a57c08e.png)

[2020-03-11 11:36] Elainehoward opened #102 "Using the delete option only rolls back to the last live version - does not delete"
When I tried to delete CPA05 its roll back to the last live version which was 3.0 instead of deleting the table from the live.

[2020-03-11 11:44] lorenzobruni commented on #97
Both steps implemented.
@JohnPCarroll  ready for testing

[2020-03-11 12:18] JohnPCarroll commented on #97
Test Passed

[2020-03-11 12:57] liamie opened #103 "[BUG] "Exceptional" in comparison report appearing incorrectly in chrome"
Go to release and comparison report on the left hand column.

How it appears in chrome (lowercase and brackets)
![image](https://user-images.githubusercontent.com/55874862/76418923-655c9800-6397-11ea-90a3-29593a68e1ca.png)

Appears correct I believe in firefox
![image](https://user-images.githubusercontent.com/55874862/76419006-8ae9a180-6397-11ea-8d25-d5d0e5523809.png)

[2020-03-11 16:25] liamie commented on #103
Similar in Add Request Screen
Chrome
![image](https://user-images.githubusercontent.com/55874862/76439724-baf36d80-63b4-11ea-8ba2-c49123304833.png)

Firefox seems ok
![image](https://user-images.githubusercontent.com/55874862/76439800-d9596900-63b4-11ea-9a67-7a2f97043204.png)

[2020-03-13 12:52] damienderoistecso opened #104 "[BUG] Append to statistic code in build"
**Describe the bug**
When you create a px file from build create or build update and the px file has only one statistic without a statistic code, generate a statistic code by appending C01 to the matrix code

[2020-03-18 12:29] neilfromcork commented on #102
@liamie - Liam can you check if this is fixed in Dev?

[2020-03-18 13:52] liamie commented on #102
Seems fixed now. Live becomes historical.

[2020-03-19 11:36] liamie opened #105 "[BUG] Safari on load of live"
Having a bit of trouble getting screenshots on the mac with the windows keyboard i'll add as I work out.
This is the first error of 2 when loading live on safari

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (app.bootstrap.guideline.css.map, line 0)

[2020-03-19 11:42] liamie opened #106 "[BUG]Safari on Load of Live"
Second error on load of live with Safari

[Error] Failed to load resource: the server responded with a status of 401 (Unauthorized) (api.jsonrpc, line 0)

[2020-03-19 11:45] liamie commented on #105
/Users/formsdev/Desktop/Screen Shot 2020-03-19 at 11.28.43 a.m..png

[2020-03-19 13:40] liamie commented on #101
Similar problem occurs in Safari

[2020-03-19 14:20] liamie opened #107 "[BUG] share this warning"
![image](https://user-images.githubusercontent.com/55874862/77077035-94ed4f00-69ec-11ea-93cc-4fe31aaaf54e.png)

Warning for share this in chrome

Occurs on opening main data screen in Live and Dev

[2020-03-19 14:34] liamie opened #108 "[BUG] Deprecation warning"
![image](https://user-images.githubusercontent.com/55874862/77078454-82741500-69ee-11ea-852b-9d3ea7c0b8ae.png)

Occurs on opening of main data screen in both live and dev in chrome

[2020-03-19 15:03] liamie commented on #106
Screen Shot 2020-03-19 at 2.59.20 p.m.

[2020-03-19 15:05] liamie commented on #106
file:///Users/formsdev/Desktop/Screen%20Shot%202020-03-19%20at%202.59.20%20p.m..png

[2020-03-19 15:24] liamie commented on #108
Similar in Opera
![image](https://user-images.githubusercontent.com/55874862/77083650-c0c10280-69f5-11ea-932b-5a5666fcbfe1.png)

[2020-03-19 18:08] neilfromcork commented on #59
Refactoring to (a) return a validation issue rather than an error when invalid data is sent, and (b) return more specific details of how the data was invalid.

[2020-03-19 21:25] lorenzobruni commented on #80
When printing a page with an active Modal, everything grayed-out in the background WILL NOT be printed.
This apply across all system.

See example of an active Modal.

![image](https://user-images.githubusercontent.com/53212047/77116345-f4b51b80-6a27-11ea-9f23-b5ab3d6dac16.png)

See example of the print preview of the active Modal.

![image](https://user-images.githubusercontent.com/53212047/77116

[2020-03-19 21:43] lorenzobruni commented on #104
Following the PX specifications, when no Statistic is explicitly defined in a PX file then the default Statistic is assumed to reference the details of the Table itself.
This is because of the structural format of the PX file itself.
On the contrary, this situation would not happen if dealing with JSON-stat where at least a Statistic (aka Metric) is mandatory.

Example of a PX file without an expl

[2020-03-19 21:45] #104 closed

[2020-03-20 08:47] lorenzobruni commented on #91
@neilfromcork
There is a list of static entries in the Datamodel.xml to update with the XLSX type and version under the TS_FORMAT table.
Could you find it? Thanks

[2020-03-20 14:36] damienderoistecso commented on #103
This was a caching issue. As the labels come from the language dictionary and this is a JSON file, it gets cached by the browser. Can you re-test in Chrome but after doing a hard re-load of the page first.

@liamie ready for testing

[2020-03-23 09:54] #103 closed

[2020-03-23 09:57] damienderoistecso commented on #108
@lorenzobruni to investigate

[2020-03-23 11:29] liamie opened #109 "[BUG] Clicking on any breadcrumb returns you to a page breadcrumbed with home only"
**Describe the bug**
On live clicking on any breadcrumb returns to a page bread crumbed with home only.

Breadcrumb end points links return to pages that are not consistently bread-crumbed.

Should it be only clicking "Home" returns to home other points should goto/stay on those screens.

eg
Home - clicking here returns home
Census 2016 - unclickable
Profile 2 - Population Distribution and Movemen

[2020-03-23 11:53] lorenzobruni commented on #105
Apparently `app.bootstrap.guideline.css.map` is an optional file required for debugging purpose.
@damienderoistecso can you please import the .map file from the **CSOIreland/Client-API-Library** project?
https://github.com/CSOIreland/Client-API-Library/blob/master/bootstrap/4.3.1/scss/app.bootstrap.guideline.css.map

[2020-03-23 11:59] lorenzobruni commented on #106
This specific `401 (Unauthorized) ` error in the console is correct when browsing from the Web. The reason is that the systems probes the `private/api.json.rpc` end-point to check if the user is authorised (or not) to access the back office interface.

The web service returns correctly the `401 (Unauthorized) ` when the user in not authorised (i.e. outside of the Organisation Network)... I believe

[2020-03-23 12:00] lorenzobruni commented on #106
Closing

[2020-03-23 12:00] #106 closed

[2020-03-23 15:01] liamie opened #110 "[BUG] Inconsistant Share This"
When the share this section is first loaded it has 6 options including messenger and a gap between the address bar and copy button.

If the screen is resized the options drop to 5 the messenger disappears and the gap between the copy button and address but remains that way even if the screen is enlarged again.

occurring in safari and chrome

[2020-03-23 15:01] liamie opened #111 "[BUG] Inconsistant Share This"
When the share this section is first loaded it has 6 options including messenger and a gap between the address bar and copy button.

If the screen is resized the options drop to 5 the messenger disappears and the gap between the copy button and address but remains that way even if the screen is enlarged again.

occurring in safari and chrome

[2020-03-23 15:48] liamie commented on #110
Closed Duplicate

[2020-03-23 15:48] #110 closed

[2020-03-23 15:56] liamie opened #112 "[BUG]Safari "No Results" on every filter in a data table"
In Safari on Live
All the filters lists of statistic, year and classifications etc. have "No Results" at the top of the list in addition to the actual data for the filters as appears in chrome.

here's how they appear in Chrome
![image](https://user-images.githubusercontent.com/55874862/77411930-11997800-6db5-11ea-8623-13aa4402c576.png)
but in Safari "No Results" is at the top of each list also

[2020-03-23 16:12] liamie commented on #111
Similar in chrome on windows no gap between address and copy but the share button disappears once resized even if expanded again

![image](https://user-images.githubusercontent.com/55874862/77337462-d2214c00-6d20-11ea-85d8-725dbb736cc3.png)

![image](https://user-images.githubusercontent.com/55874862/77337553-f1b87480-6d20-11ea-9b1e-373baa486259.png)

[2020-03-23 21:58] lorenzobruni commented on #108
@liamie
The few synchronous  requests are needed to load upfront the configuration and language files which must be ready and available before any entity can use them.
Unfortunately we must live with this warning, but on the other hand only static files (fully cached/cache-able) are retrieved synchronously, so the impact is almost nothing.

By the way, I have refactored the code to use the JQuery

[2020-03-23 22:17] lorenzobruni commented on #105
@liamie
Ready to test, the warning message should be gone away :-)

[2020-03-24 09:01] neilfromcork opened #113 "[ENHANCEMENT] Implement new query schema for ReadDataset and ReadPreDataset"
A query schema has been created for querying and data. This must be implemented in the client and server and fully documented

[2020-03-24 09:18] neilfromcork commented on #59
Ready for retest @JohnPCarroll @liamie

[2020-03-24 09:21] neilfromcork commented on #59
The original files will (correctly) fail to update. However the validation error should be much more informative

[2020-03-24 09:49] damienderoistecso commented on #113
Updated client side to send new query schema

@JohnPCarroll @liamie ready for testing

[2020-03-24 09:53] neilfromcork commented on #113
Updated server side

[2020-03-25 10:14] damienderoistecso opened #114 "[ENHANCEMENT] Build update data validation"
**Describe the solution you'd like**
More flexibility around adding data in the update process. CSV files can contain rows that are not intended for insertion into the dataset, e.g. confidential values. If they don't have a match in the px file they are ignored.

When new periods are added to a px file in the update, all new values get assigned null before csv data is considered.

Null values are

[2020-03-26 12:35] damienderoistecso opened #115 "[BUG] Sync validation for build/create between server and client"
**Describe the bug**
Some things that were being validated on the server we not being validated on the client

STATISTIC (code) , Classification Code and Frequency code can't be the same because there are columns in the csv that only contain those as headings

These items can't be called "value" or "unit" for the same reason as above.

Above rules implemented on the client side.

Classification va

[2020-03-26 13:14] liamie opened #116 "[BUG] Code Toggle cannot be tabbed to or adjusted with Keyboard"
Tabbing seems to skip by this element in general and even after using it with mouse doesn't seem to be functional with keyboard

![image](https://user-images.githubusercontent.com/55874862/77649958-9d043c00-6f62-11ea-9a5f-a38f780e6917.png)

**Additional context**
This keyboard functionality is a requirement for Accessibility

[2020-03-26 15:04] liamie commented on #101
This seems correct now. list items flow to next line down.

[2020-03-26 15:25] liamie commented on #59
Validation error much clearer.
No variables found for item Classifications:Age Group 12
However this seems to repeat for each occurrence I believe and so the error box is quite long and presumably would be longer if more lines had missing classifications or multiple classifications missing.
![image](https://user-images.githubusercontent.com/55874862/77663854-6e439100-6f75-11ea-9d39-06675786423a.pn

[2020-03-26 15:31] liamie commented on #116
Similar for official statistics toggle in build
![image](https://user-images.githubusercontent.com/55874862/77664911-c75ff480-6f76-11ea-95cb-6aa77bdb768e.png)

[2020-03-27 08:49] liamie commented on #105
@lorenzobruni tested with chrome Yup message cleared from Dev now.

Still on live but I take it will change with next release.
![image](https://user-images.githubusercontent.com/55874862/77738524-e65a9700-7007-11ea-8619-55159e4aae3f.png)

[2020-03-27 09:04] liamie commented on #116
Similar in release workflow
![image](https://user-images.githubusercontent.com/55874862/77739732-ee1b3b00-7009-11ea-8a4f-0c96d722926c.png)

[2020-03-27 10:09] liamie commented on #108
@lorenzobruni Can't delete Groups. Can Create and Edit fine but cannot delete.

![image](https://user-images.githubusercontent.com/55874862/77745161-b5cc2a80-7012-11ea-9cfb-c1ae9a603603.png)

[2020-03-27 15:16] liamie commented on #115
@damienderoistecso In build when entering classification code of "UNIT", "unit", "CODE", "code", "VALUE" or "value" they can be entered in the add classifications section the validation test only seems to be done when the "Create" button is pressed further down, is this correct?

[2020-03-30 08:46] liamie commented on #115
@damienderoistecso
![image](https://user-images.githubusercontent.com/55874862/77890588-a2fe6380-7267-11ea-9fa6-5464be61d0be.png)

Classification Code seems to be detecting against STATISTIC LABEL in properties of build not STATISTIC CODE in Statistic section is this correct.

[2020-03-30 09:13] liamie commented on #115
@damienderoistecso
Allows different order for variables no error created for below.
english
![image](https://user-images.githubusercontent.com/55874862/77895212-58ccb080-726e-11ea-89c8-90b5165d48f3.png)
irish
![image](https://user-images.githubusercontent.com/55874862/77895506-cd075400-726e-11ea-98bf-b75e90d47129.png)

[2020-03-30 16:07] neilfromcork commented on #115
Classification / variable order should be ok now - retest

[2020-03-30 16:08] neilfromcork commented on #94
Should be ok now - ready for retest

[2020-03-30 16:11] neilfromcork commented on #114
Ready for test

[2020-03-30 16:12] neilfromcork opened #117 "[ENHANCEMENT] Validation to limit the number of datapoints in build (create/update) and upload"
Allow the system to configure a maximum number of datapoints allowed in a dataset

[2020-03-31 09:06] liamie commented on #94
This seems correct now

[2020-03-31 13:39] neilfromcork commented on #117
Ready for test. Limit set to 1000 for test purposes only

[2020-03-31 14:09] colmanflynn opened #118 "[BUG] The Update feature of Build times-out if I try to add any large files."
The Update feature of Build times-out if I try to add any large files. @lorenzobruni

As the files are large, they take some time, but the system times-out after three minutes.
I brought the px file into update. I then selected Update > PX 2013.
After three minutes I received a Network Error pop-up message.

[2020-03-31 15:11] neilfromcork commented on #91
Done, check when convenient. XLSX entry added to datamodel.sql also.

[2020-03-31 15:21] neilfromcork commented on #114
Language specific validation messages added for matrix validation. Ready for test

[2020-04-01 08:33] lorenzobruni commented on #118
@colmanflynn this is now fixed.
The default timeout of 3 minutes was incorrectly applied instead of the `app.config.upload.timeout`.
It will be available across all environments form next release.

[2020-04-01 08:33] lorenzobruni commented on #118
Test passed with @colmanflynn

[2020-04-02 09:48] neilfromcork opened #119 "[ENHANCEMENT] XLSX default display settings"
Amend XLSX output as follows:
1. Sheets are defaulted to landscape view
2. Data sheet column widths are preset to fit the length of the text in the cell

[2020-04-02 13:04] damienderoistecso commented on #114
Client will now return a report to the user if they have attempted to add data, detailing whether each cell has been ignored or updated.

[2020-04-02 13:10] damienderoistecso commented on #73
Duplicate of #117

[2020-04-02 13:10] #73 closed

[2020-04-02 13:48] damienderoistecso commented on #117
Applied to client side for both create and update

[2020-04-02 13:54] damienderoistecso commented on #114
@JohnPCarroll @liamie committed and ready for testing

[2020-04-02 13:55] damienderoistecso commented on #117
@liamie @JohnPCarroll committed and ready for testing

[2020-04-02 13:56] damienderoistecso commented on #115
@JohnPCarroll @liamie committed and ready for testing

[2020-04-02 15:19] neilfromcork commented on #117
Message adjusted to return (a) the number of cells the user is trying to upload and (b) the current maximum number of cells allowed. @damienderoistecso

[2020-04-03 08:53] liamie commented on #117
![image](https://user-images.githubusercontent.com/55874862/78342246-e111c500-7590-11ea-81c2-3883cf23b8bc.png)

is the error I get on build>create when trying to add a file with over 1000 data points

[2020-04-03 11:17] damienderoistecso opened #120 "[ENHANCEMENT] Rename "Upload" entity to "Import""
**Describe the solution you'd like**
Rename "Upload" to "Import" to give more clarity to the end user

[2020-04-03 11:18] damienderoistecso commented on #120
Client code update and committed

@JohnPCarroll @liamie ready for testing

[2020-04-03 12:36] liamie commented on #120
Buttons and Menu now have import.
Success message also states file has been successfully imported
however confirm message still has upload not import
![image](https://user-images.githubusercontent.com/55874862/78361333-272a5100-75b0-11ea-9936-9d7f7daa8b02.png)

[2020-04-06 09:05] liamie commented on #115
Variable order now detecting correctly

[2020-04-06 09:15] liamie commented on #115
@damienderoistecso Classification Code seems to be detecting against STATISTIC LABEL in properties of build not STATISTIC CODE in Statistic section is this correct?
Currently you can still have a Classification Code equal to Statistic Code. eg matrix

Also you can still create a classification with "CODE" should this not produce error like "VALUE" and "UNIT"

[2020-04-06 09:44] neilfromcork commented on #115
@liamie, @damienderoistecso   So, if you have, for example two statistics - S01 and S02,  it should not be a problem for either of those to be the same as a classification code because they exist at different levels. It would be a problem if any of the dimension codes or values were the same, or if any of the item values/codes were the same in a given dimension. Also, the VALUE/UNIT thing is to av

[2020-04-06 10:06] liamie commented on #115
@damienderoistecso, @neilfromcork Then in light of neils clarification build/create seems to be correct.

[2020-04-07 09:26] lorenzobruni commented on #119
@JohnPCarroll I take this testing

[2020-04-07 09:59] damienderoistecso commented on #91
@lorenzobruni ready for testing

[2020-04-07 10:00] damienderoistecso commented on #80
@JohnPCarroll @liamie ready for testing.

[2020-04-07 10:01] damienderoistecso commented on #59
Duplicate of #114

[2020-04-07 10:01] #59 closed

[2020-04-07 11:35] liamie commented on #116
also seems to lead to ambiguity and obfuscation when trying to print this type of toggle
![image](https://user-images.githubusercontent.com/55874862/78664554-29502080-78cc-11ea-974f-6fe6301485cd.png)

[2020-04-07 11:47] liamie commented on #80
@damienderoistecso error and confirmation messages appear as blank sheet only not the contents of modal

[2020-04-07 12:59] damienderoistecso commented on #120
This message is coming as part of the response from the server. As part of a future enhancement, we will re-factor this so that the message comes from the client only. For now, we will leave it as is

[2020-04-07 13:52] damienderoistecso opened #121 "[ENHANCEMENT] Move API result messaging from server to client"
**Describe the solution you'd like**
Results from the server that contain a message are not displayed by the client. Instead, a result keyword is agreed and the messaging is defined in the client and is language specific

Example of this is response from "PxStat.Data.Matrix_API.Create"

[2020-04-08 09:07] damienderoistecso commented on #117
@liamie can you do a final check on this from your side and mark tested if it is OK. Thanks

[2020-04-08 09:09] damienderoistecso opened #122 "[ENHANCEMENT] Allow power users and admins to have a 1 step workflow"
**Describe the solution you'd like**
Give power users and admins the ability to have a one step workflow where a WIP matrix and be signed off without the need for a request and response.

[2020-04-08 09:11] damienderoistecso opened #123 "[ENHANCEMENT] Add Manage - Configuration interface"
**Describe the solution you'd like**
Build a client side interface to allow admins to update the config file which will be stored on the server.

[2020-04-08 09:22] damienderoistecso commented on #80
@liamie code update so now if api modals are launched, the page prints as normal. If app modals are launched, they are printed in isolation as if they were a separate page

[2020-04-08 09:23] liamie commented on #117
This seems correct now.

[2020-04-08 10:28] liamie commented on #114
@damienderoistecso @neilfromcork There seems to be something amiss with this. When csv data is generated from an existing file for existing periods the order seems to be swapped

[2020-04-08 10:50] neilfromcork commented on #114
@liamie - I can't duplicate this issue. Can you email me the PX file in question? Thanks!

[2020-04-08 15:25] neilfromcork commented on #114
@liamie - Issue found and rectified in DEV. Can you retest please, with specific reference to the values in downloaded csv file?

[2020-04-09 11:51] lorenzobruni commented on #91
script 2.2.0 and datamodel updated.
To be tested during deployment

[2020-04-09 12:01] lorenzobruni commented on #119
[FAA01.20200409T120431.xlsx](https://github.com/CSOIreland/PxStat/files/4455987/FAA01.20200409T120431.xlsx)
XLSX file for reference.
No borders for any cell except the headings.
No referencing extra cells outside of the context.

[2020-04-09 12:04] neilfromcork opened #171 "[ENHANCEMENT] Normalize Excel library for handling XLSX file creation"
Create API library for Excel creation

[2020-04-09 12:06] lorenzobruni commented on #113
@liamie and @JohnPCarroll please test liaising with @damienderoistecso .

[2020-04-09 12:13] lorenzobruni commented on #123
This issue covers the implementation of the required Server side APIs

[2020-04-09 12:13] lorenzobruni commented on #96
Following internal PM this issue has been escalated to be implemented under the configuration change.
This would allow to set the access to the Build (Create, Update, Import) by Privilege via the configuration settings.

[2020-04-09 12:14] lorenzobruni commented on #96
Duplicate of #123

[2020-04-09 12:14] #96 closed

[2020-04-09 12:15] lorenzobruni commented on #123
@damienderoistecso
Start mocking up the Manage - Configuration entity interface
@neilfromcork
Start R&D on managing JSON configuration as a static property

[2020-04-09 12:16] lorenzobruni commented on #123
**IMPORTANT**: Do not commit this under Milestone 2.2.0
Only into next iteration.

[2020-04-09 12:25] liamie commented on #113
Data locations in data and release tables seem to be correct.

[2020-04-09 12:27] lorenzobruni commented on #123
Notes about required APIs:

* Read, to return the JSON configuration
* Update, to amend the JSON configuration

By Admin privilege only

[2020-04-09 15:41] neilfromcork commented on #119
Completed in DEV - for test

[2020-04-14 08:15] lorenzobruni commented on #119
@neilfromcork the print works fine now with the non-relevant cells not set, thanks.

By the way, is it possible to apply the same heading style to the adjacent cell-column and to bold the heading to the below cell-rows?

Thanks

![image](https://user-images.githubusercontent.com/53212047/79201736-6a968200-7e30-11ea-8159-6182d40f272e.png)

[2020-04-14 09:21] neilfromcork commented on #119
Style settings as outlined in previous comment implemented

[2020-04-15 09:41] lorenzobruni commented on #108
@neilfromcork has fixed the issue. Test passed by me.

[2020-04-15 11:05] #80 closed

[2020-04-15 11:05] #91 closed

[2020-04-15 11:05] #94 closed

[2020-04-15 11:05] #97 closed

[2020-04-15 11:05] #98 closed

[2020-04-15 11:05] #101 closed

[2020-04-15 11:05] #102 closed

[2020-04-15 11:05] #105 closed

[2020-04-15 11:05] #108 closed

[2020-04-15 11:05] #113 closed

[2020-04-15 11:05] #114 closed

[2020-04-15 11:05] #115 closed

[2020-04-15 11:05] #117 closed

[2020-04-15 11:05] #118 closed

[2020-04-15 11:05] #120 closed

[2020-04-15 11:06] lorenzobruni commented on #119
Test passed

[2020-04-17 14:51] neilfromcork commented on #122
Server side work complete and tested. Will eventually move configuration to line up with #123

[2020-04-23 10:44] damienderoistecso commented on #122
@neilfromcork As discussed, can you implement the logic that if a moderator with approval access initiates a request, then this request goes straight for sign-off with auto-response. I will implement on client side

[2020-04-23 14:59] neilfromcork commented on #122
Server side changes published. Includes _:"if a moderator with approval access initiates a request, then this request goes straight for sign-off with auto-response. I will implement on client side"_ . Ready for test

[2020-04-23 15:01] damienderoistecso commented on #122
Client side changes committed

@JohnPCarroll @liamie ready for **### TESTING**

[2020-04-23 15:01] neilfromcork commented on #123
Configuration refactored on the server. New config files config.server.json and config.global.json. New Refresh API to allow changes in files to be implemented on the server.

[2020-04-24 11:47] damienderoistecso commented on #122
**Test 1: No permissions for any user type.**

Request Step
Moderator - Editor
Expected result: Move to awaiting response

- Publish
- Update properties
- Rollback
- Delete

Moderator - Approver
Expected result: Move to awaiting sign-off

- Publish
- Update properties
- Rollback
- Delete

Power User
Expected result: Move to awaiting response

- Publish
- Update properties
- Rollback
- Delete

Admi

[2020-04-27 08:24] liamie commented on #122
As Admin user the request publish step is going straight to approved signoff and publishing
![image](https://user-images.githubusercontent.com/55874862/80350462-aab22780-8868-11ea-9542-f386d47950ee.png)
under current configuration this is incorrect I believe

[2020-04-27 08:41] damienderoistecso commented on #122
@liamie Changes to global config got overwritten by server publish. I have updated the global config again and ran the reload method so you should be able to run test 1 again now.

[2020-04-27 09:02] liamie commented on #122
Have run test one again for admin after updating client again.
https://dev-data.cso.ie/millarl/2.3.0/#

Still forcing one step publishing not going through the steps as implied by current expected results

[2020-04-27 09:05] JohnPCarroll commented on #122
I imported a PX File and updated the navigation as required. I went to Publish and approved. This step goes directly to sign off and the table is Pending Live E1002.  As an Administrator Test 1 should not have let me do this. Am i correct or not ? Please note the First message the sentence is duplicated.

[2020-04-27 09:16] damienderoistecso commented on #122
Removed duplicate auto response warning

[2020-04-27 09:44] CHanamy57 commented on #123
Reload button added. Config API Refresh integrated. Successful reload modal added.

[2020-04-27 09:51] liamie commented on #122
Same occurring as power user straight to publish/pending publish
![image](https://user-images.githubusercontent.com/55874862/80358801-de934a00-8874-11ea-8c54-09a1fa9608ed.png)

[2020-04-27 11:12] neilfromcork commented on #122
Fix put in place - config files need to exist independently of IIS while still being readable by IIS. Ready for retest @damienderoistecso @JohnPCarroll @liamie

[2020-04-27 14:42] JohnPCarroll commented on #122
loaded new table E1003 as administrator and selected publish. Selected Add Button and the following error occurred -->An unexpected error has occurred. Please seek technical support.

[2020-04-27 14:47] damienderoistecso commented on #123
Updated search dropdown to translate client. global & server strings

@JohnPCarroll @liamie ready for test

[2020-04-27 14:51] liamie commented on #122
![image](https://user-images.githubusercontent.com/55874862/80385985-aef93780-889e-11ea-9fcc-d4fa1714dc9e.png)
 occurs now after updating.
Also message still said it would bypass response and sign-off in the request window surely it should only say this if in deed it is going to be bypassed and so not for current scenario.

[2020-04-27 15:06] neilfromcork commented on #122
Unexpected error problem fixed. Ready for test. @JohnPCarroll

[2020-04-28 08:06] liamie opened #124 "[BUG] [uploaded-by] looks out of place"
In Release> Source section the "uploaded-by" is appearing with square brackets around it [ ] as per image
![image](https://user-images.githubusercontent.com/55874862/80462323-7143ef80-892e-11ea-9f07-367748b890fd.png)

Should this be appearing as a more readable string like the rest of the emboldened keywords?

[2020-04-28 08:39] JohnPCarroll commented on #122
Power user issue. Table E1002 live version. Added another version and proceeded testing the delete option. At sign off stage it deleted the new version but made the live version historical.

[2020-04-28 08:48] neilfromcork commented on #122
@JohnPCarroll - As far as I understand, that is what is supposed to happen with a delete. Otherwise you would use a rollback.

[2020-04-28 09:04] JohnPCarroll commented on #122
this is what happens with power user.. Version 1.1 is deleted correctly and version 1.0 is made historical incorrectly. It should remain live
![image](https://user-images.githubusercontent.com/44975474/80468741-7f4a3e00-8937-11ea-9e9b-1dc7e69fa767.png)

[2020-04-28 09:10] liamie commented on #122
I found the steps went through correctly for power user response sign off etc. Should any Issues with how rollback/live etc. is handled as a result not be a separate issue otherwise we are going to snowball.

[2020-04-28 09:48] liamie opened #125 "[BUG] Rollback creates orphaned work in progress file"
if there is a version 1.0 and 2.0 and work in progress 2.1 of a live table

then 2.0 is rollback to version 1.0

the work in progress 2.1 becomes 1.1 but cannot be deleted or published no request option available

Subsequent imports do not overwrite the work in progress 1.1 instead they start an additional 1.2 and these can be progressed but 1.1 remains

![image](https://user-images.githubusercont

[2020-04-28 10:01] neilfromcork commented on #122
Problem with DELETE resolved. Ready for retest. @JohnPCarroll

[2020-04-28 10:25] JohnPCarroll commented on #122
Power user issue with rollback. I had version 2.0. live and 1.0 historical.  Rollback 2.0 and 1.0 is now live correctly. But version 2.0 is now 1.1 Work in progress and you cannot select any workflow request. It is not on the Work in Progress to the right. Should it be displayed as per screen shot ?
![image](https://user-images.githubusercontent.com/44975474/80476890-f1745000-8942-11ea-9efd-ff31ec

[2020-04-28 10:32] liamie commented on #122
this is the same as I raised  issue #125 so if when resolved can be closed

[2020-04-28 11:14] JohnPCarroll commented on #122
We appear to have reverted to auto response and sign off options for power user. Plese revert
![image](https://user-images.githubusercontent.com/44975474/80481174-dbb65900-8949-11ea-92a7-2032defd0c52.png)

[2020-04-28 13:30] JohnPCarroll commented on #122
Power user. All Delete and Rollback issues resolved. Others options work correctly

[2020-04-28 15:30] damienderoistecso commented on #122
- [ ] test

[2020-04-29 09:28] JohnPCarroll commented on #122
Moderator - Editor  and approver both work for Relevant options - Publish, Delete, Update Properties and Rollback

[2020-04-29 09:40] liamie commented on #122
Moderator - Editor and approver seem correct for - Publish, Delete, Update Properties and Rollback at both stages.

[2020-04-29 12:04] damienderoistecso commented on #122
Test 1 passed

[2020-04-29 13:55] damienderoistecso commented on #122
[Test2ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4552036/Test2ModeratorApproverGrainne.docx)
[Test2ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4552037/Test2ModeratorEditorConal.docx)
[Test2PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4552038/Test2PowerUserLiam.docx)
[Test2AdministratorJohn.docx](https://github.com/CSOIrelan

[2020-04-29 14:27] CHanamy57 commented on #122
@neilfromcork Moderator Editor request for publish received the following error
"Invalid authentication. Access denied."

[2020-04-29 14:49] damienderoistecso commented on #122
This only happens for Moderator Editor. Moderator approver works as expected

[2020-04-29 15:11] JohnPCarroll commented on #122
Administrator Passed. Question  - Once a Live Release is deleted it becomes Historical ?

[2020-04-29 15:20] liamie commented on #122
Power user steps passed correctly
I too am a bit confused about rollback being a revert rather than republish

[2020-04-29 15:48] neilfromcork commented on #122
[Signoff Business rules.txt](https://github.com/CSOIreland/PxStat/files/4552744/Signoff.Business.rules.txt)

[2020-04-30 11:12] damienderoistecso commented on #122
Following initial testing, new configuration rules required. Server and client both re-factored and deployed now. Will re-start testing at new Test 1. Will create Test 1 soon and make available.

[2020-04-30 11:44] damienderoistecso commented on #122
New Test 1: No fast tracking of workflow

Moderators can no longer be allowed fast track beyond the response step.

[Test1PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4557963/Test1PowerUserLiam.docx)
[Test1AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4557964/Test1AdministratorJohn.docx)
[Test1ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxSta

[2020-04-30 12:18] liamie commented on #122
![image](https://user-images.githubusercontent.com/55874862/80709325-04268a80-8ae5-11ea-937a-2bc1600239a8.png)

getting this when try to publish

[2020-04-30 12:44] neilfromcork commented on #122
@liamie - problem found and fixed. Can you try again?

[2020-04-30 12:44] liamie commented on #122
when try to publish or delete after clicking add on the request screen

[2020-04-30 12:48] neilfromcork commented on #122
@liamie - problem found and fixed. Can you try again?

[2020-04-30 13:41] JohnPCarroll commented on #122
Administrator Passed for Test 1
[Test1AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4558631/Test1AdministratorJohn.docx)

[2020-04-30 13:55] liamie commented on #122
Power User Passed for Test 1
[Test1PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4558732/Test1PowerUserLiam.docx)

[2020-04-30 14:14] grainnemooney commented on #122
Moderator Approver passed for Test 1
Typo in Rollback request message
[Test1ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4558826/Test1ModeratorApproverGrainne.docx)

[2020-05-01 09:16] CHanamy57 commented on #122
Moderator Editor passed for Test 1
[Test1ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4563155/Test1ModeratorEditorConal.docx)

[2020-05-01 09:16] damienderoistecso commented on #122
Test 2

All users given permission for fastrack response, except moderator-editor who is Conal

[Test2PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4563150/Test2PowerUserLiam.docx)
[Test2AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4563151/Test2AdministratorJohn.docx)
[Test2ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4563152/Test

[2020-05-01 10:20] liamie commented on #122
Power user getting this message at request all actions
![image](https://user-images.githubusercontent.com/55874862/80799007-9db17300-8b9d-11ea-8594-a5927c33afae.png)
should be the response auto approve message. Action occurs correctly though still goes to awaiting sign off

[2020-05-01 10:55] grainnemooney commented on #122
moderator getting same message
![image](https://user-images.githubusercontent.com/51713130/80800877-9476d500-8ba2-11ea-9b2c-bf00e80a7ca3.png)

[2020-05-01 13:18] grainnemooney commented on #122
I found the error damien
![image](https://user-images.githubusercontent.com/51713130/80808055-95196680-8bb6-11ea-97bd-d1c07fc8786c.png)

[2020-05-01 13:23] CHanamy57 commented on #122
Moderator Editor passed for Test 2
- no modal error
[Test2ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4564313/Test2ModeratorEditorConal.docx)

[2020-05-01 13:24] damienderoistecso commented on #122
Updated in client now and committed

[2020-05-01 13:24] damienderoistecso commented on #122
Fixed in client and committed

[2020-05-01 14:55] grainnemooney commented on #122
Moderator Approver passed for test 2
[Test2ModeratorApproverGrainne (1).docx](https://github.com/CSOIreland/PxStat/files/4564798/Test2ModeratorApproverGrainne.1.docx)

[2020-05-01 14:56] liamie commented on #122
Power user tests passed correctly test 2
[Test2PowerUserLiam (1).docx](https://github.com/CSOIreland/PxStat/files/4564809/Test2PowerUserLiam.1.docx)

[2020-05-01 15:29] liamie commented on #122
Admin tests passed correctly test 2

[2020-05-05 08:37] damienderoistecso commented on #122
All Test 2 completed successfully. Will prepare Test 3 next

[2020-05-05 08:57] damienderoistecso commented on #122
Test 3
[Test3PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4579769/Test3PowerUserLiam.docx)
[Test3AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4579770/Test3AdministratorJohn.docx)
[Test2ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4579771/Test2ModeratorApproverGrainne.docx)
[Test3ModeratorEditorConal.docx](https://github.com/CSOIr

[2020-05-05 09:25] JohnPCarroll commented on #122
Went to approve response for B0105GM and the following message appeared
![image](https://user-images.githubusercontent.com/44975474/81052105-ca75cb00-8eba-11ea-9687-fb27a3a59cdd.png)

[2020-05-05 13:17] CHanamy57 commented on #122
Moderator Editor passed for test 3
[Test3ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4580903/Test3ModeratorEditorConal.docx)

[2020-05-05 14:13] JohnPCarroll commented on #122
Administrator test 3. Part 1 loaded up table  A0201 and set navigation. Auto sign off failed
![image](https://user-images.githubusercontent.com/44975474/81075931-e8efbc80-8ee2-11ea-9382-a77fac499ac4.png)

[2020-05-05 14:33] grainnemooney commented on #122
Moderator Approver Test 3
Published workflow request successfully approved by administrator however bypassed Awaiting Sign Off/Reject step straight to live

[2020-05-05 15:13] neilfromcork commented on #122
@JohnPCarroll - Issue found. Please retest.

[2020-05-06 08:21] JohnPCarroll opened #126 "[BUG] Issue displaying with Pending live Tables - Multiple entries exist if many changes made"
**Describe the bug**
When I made a number of changes to the Update properties the pending live shows the sme table a number of times on the RHS of the Releases page.

**Expected behavior**
The table code should only appear once

**Screenshots**
![image](https://user-images.githubusercontent.com/44975474/81153482-e0e35b80-8f7a-11ea-8a55-ad987c1497fd.png)

![image](https://user-images.githubusercont

[2020-05-06 08:50] liamie opened #127 "Self remove all Admins"
Hi quick question. As Admin I'm able to put my permission down to power user with no problem but unable to return up to Admin from power user due to permissions which is fair enough but does that mean that all admins could be effectively removed this way or is there a restriction on the last admin?

[2020-05-06 09:10] liamie commented on #122
Test 3 When a Power User does a request the message is
![image](https://user-images.githubusercontent.com/55874862/81159546-f8bdde00-8f80-11ea-8b42-a9b6c5f4993d.png)
I think there should be no message at the request step as we do not know if the same user is going to be doing the response and so we don't know if whoever is doing it will have auto sign off privilege. I think this message should onl

[2020-05-06 09:29] grainnemooney commented on #122
Test 3 When Moderator Approver adds a publishing request message says
![image](https://user-images.githubusercontent.com/51713130/81162013-6ddee280-8f84-11ea-83dd-44b1ca11bd9b.png)

[2020-05-06 09:46] neilfromcork commented on #126
Issue fixed. Only displays the workflow data for the actual pending live request (though this change makes the Request heading in the Pending live table a bit pointless - it will always be PUBLISH) @JohnPCarroll  for retest

[2020-05-06 09:47] neilfromcork commented on #127
Yes, there's a restriction to forbid that.

[2020-05-06 10:38] liamie commented on #122
Delete of a pending live causes loading hang after sign off step.
![image](https://user-images.githubusercontent.com/55874862/81167792-bea70900-8f8d-11ea-9ea9-2b9b9290fd15.png)
When I delete a pending live the screen switches and stays on loading as if it doesn't know where to default back to.

[2020-05-06 10:51] neilfromcork opened #128 "[ENHANCEMENT] Create generic version of Excel functionality to allow re-use on other projects etc"
Currently the XLSX functionality is embedded in the PxStat code. This enhancement separates Excel into its own classes, to allow a small but simple list of core excel functions, e.g. creating worksheets, adding data, images, serializing etc.

[2020-05-06 10:58] grainnemooney commented on #122
Moderator Approver passed for test 3
[Test3ModeratorApproverGrainne (3).docx](https://github.com/CSOIreland/PxStat/files/4586290/Test3ModeratorApproverGrainne.3.docx)

[2020-05-06 11:27] #127 closed

[2020-05-06 11:27] liamie commented on #127
Answered

[2020-05-06 12:10] JohnPCarroll commented on #122
Administrator restarted but still not correct based on messages. I loaded tables and tested the Publish and delete options.
1. Publish
![image](https://user-images.githubusercontent.com/44975474/81174978-af7a8800-8f9a-11ea-89bb-52586b3470a6.png)

The message on screen for Add Request is not reflected in the process as it goes to awaiting response

2. Delete

![image](https://user-images.githubuser

[2020-05-06 13:58] JohnPCarroll commented on #122
Administrator restarted but still not correct based on messages. I loaded tables and tested the Update Properties and Rollback options. The same issues exist as with the Publish and delete options
![image](https://user-images.githubusercontent.com/44975474/81185662-c5dc1000-8fa9-11ea-8618-8583b670a0f9.png)

Rollback Option
Workflow request -  goes to awaiting response

![image](https://user-images

[2020-05-06 14:02] JohnPCarroll commented on #122
Test 3 for the Administrator is a failure. The process and the messages on the pages do not match. Please see attached completed test plan
[Test3AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4587212/Test3AdministratorJohn.docx)

[2020-05-07 09:51] liamie commented on #122
Power User  Test 3 Failed completed test plan attached
[Test3PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4592170/Test3PowerUserLiam.docx)

[2020-05-07 11:20] damienderoistecso commented on #122
Updated client to sort messages. Re-test of test 3 required by all user types

[2020-05-07 13:11] JohnPCarroll commented on #122
Administrator Testing. An issue exists when you delete or rollback. The Application hangs.
[Test3AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4593100/Test3AdministratorJohn.docx)

[2020-05-07 13:23] grainnemooney commented on #122
Moderator Approver passed Test 3 retest
[Test3ModeratorApproverGrainne (3).docx](https://github.com/CSOIreland/PxStat/files/4593165/Test3ModeratorApproverGrainne.3.docx)

[2020-05-07 13:47] neilfromcork commented on #122
I can't replicate the hang issue on Delete, either on the back-end or the client.

[2020-05-07 13:51] CHanamy57 commented on #122
Moderator Editor passed for Test 3 Retest
[Test3ModeratorEditorConal - retest.docx](https://github.com/CSOIreland/PxStat/files/4593318/Test3ModeratorEditorConal.-.retest.docx)

[2020-05-07 14:16] JohnPCarroll commented on #122
Administrator test 3 Delete  hanging.
This is what happens
1. Select Approve in Workflow Response
2, Success message appears. Close message
3. Now the screen hangs as it is unable to refresh
Sorry about any confusion.

The same happens for rollback

[2020-05-07 14:53] liamie commented on #122
Trying to rollback hangs in a similar manner.

Also when try a rollback of a live with a pending live in the queue the roll back request goes through but the option is still available to make a request not response however this second request if try again produces the following error
![image](https://user-images.githubusercontent.com/55874862/81309377-c8f30100-907a-11ea-9cbc-00a37f71b33d.png)
[Tes

[2020-05-08 13:05] damienderoistecso commented on #122
[Test4ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4599061/Test4ModeratorApproverGrainne.docx)
[Test4ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4599062/Test4ModeratorEditorConal.docx)
[Test4PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4599063/Test4PowerUserLiam.docx)
[Test4AdministratorJohn.docx](https://github.com/CSOIrelan

[2020-05-08 13:48] liamie commented on #122
Still hangs on Rollback in general and Delete of pending live but ignored as per instructed previous test 3.
The other test 3 issue of rollback of current live with a Pending live in queue is eliminated in this test by both the pending live and the current live seeming to be rolledback/removed automatically

Power User Test 4 Fail in scenarios listed above
[Test4PowerUserLiam.docx](https://github.

[2020-05-08 14:22] grainnemooney commented on #122
Moderator Approver passed for Test 4
[Test4ModeratorApproverGrainne.docx](https://github.com/CSOIreland/PxStat/files/4599493/Test4ModeratorApproverGrainne.docx)

[2020-05-08 14:37] CHanamy57 commented on #122
Moderator Editor passed for Test  4
[Test4ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4599627/Test4ModeratorEditorConal.docx)

[2020-05-11 12:06] liamie commented on #122
Return to Test 3
The main rollback and delete issues that were resulting in hanging now return
![image](https://user-images.githubusercontent.com/55874862/81559677-be40b080-9387-11ea-9510-2c6a5b94382d.png)
which seems appropriate
However the other error of the workflow being disrupted if try to rollback a live with a pending live queued is still occurring. Not going to response and if try to redo

[2020-05-11 15:21] liamie commented on #122
Test 3 PowerUser All passed correct now issues cleared.

[2020-05-11 16:12] damienderoistecso commented on #123
I have added another property to the global config to control access to the build for moderators

[code]

@neilfromcork for the following API's can you first check if the user has access based on the above settings

"PxStat.Build.Build_API.Create"
"PxStat.Build.Build_API.Update"
"PxStat.Data.Matrix_API.Create"

[2020-05-12 08:41] neilfromcork commented on #123
Global config change complete - ready for test @damienderoistecso

[2020-05-12 09:20] JohnPCarroll commented on #122
Administrator Tests 4. Tested Response step. Other steps not requested for testing but are available as tables exist in awaiting response and sign off areas.
Only one issue in relation to deletion and rollback. The following message appears. is this correct ?
![image](https://user-images.githubusercontent.com/44975474/81666474-fd2f3e80-9439-11ea-9adc-bfd12e452e48.png)

Test results
[Test4Administr

[2020-05-12 09:23] damienderoistecso commented on #122
Yes, this is correct as the release has been deleted as it was a WIP

[2020-05-12 09:41] damienderoistecso commented on #122
Test 5 ready

[Test5ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4614688/Test5ModeratorEditorConal.docx)
[Test5PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4614689/Test5PowerUserLiam.docx)
[Test5AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4614690/Test5AdministratorJohn.docx)
[Test5ModeratorApproverGrainne.docx](https://github.com/CS

[2020-05-12 10:29] liamie commented on #122
Test 5 passed for PowerUser no issues
[Test5PowerUserLiam.docx](https://github.com/CSOIreland/PxStat/files/4614938/Test5PowerUserLiam.docx)

[2020-05-12 10:56] grainnemooney commented on #122
Test 5 passed for Moderator Approver
[Test5ModeratorApproverGrainne (1).docx](https://github.com/CSOIreland/PxStat/files/4615067/Test5ModeratorApproverGrainne.1.docx)

[2020-05-12 11:07] CHanamy57 commented on #122
Test 5 passed for Moderator Editor.
[Test5ModeratorEditorConal.docx](https://github.com/CSOIreland/PxStat/files/4615141/Test5ModeratorEditorConal.docx)

[2020-05-12 11:53] JohnPCarroll commented on #122
Test 5 passed for Administrator
[Test5AdministratorJohn.docx](https://github.com/CSOIreland/PxStat/files/4615324/Test5AdministratorJohn.docx)

[2020-05-12 13:42] JohnPCarroll commented on #126
Test successful

[2020-05-12 13:42] damienderoistecso opened #129 "[BUG] No text wrap on browse subject text"
**Describe the bug**
Long subjects in the browse navigation do not wrap
![image](https://user-images.githubusercontent.com/53211688/81698977-a6882b80-945e-11ea-9ec6-dd2ac2c01ec9.png)

[2020-05-12 13:45] damienderoistecso commented on #129
Fixed in dev

@JohnPCarroll ready for testing

[2020-05-12 13:56] JohnPCarroll commented on #129
Test passed.

[2020-05-12 14:52] damienderoistecso commented on #123
@grainnemooney @CHanamy57 @liamie @JohnPCarroll
Ready for testing

[2020-05-13 08:55] damienderoistecso commented on #123
@CHanamy57 Can you make some small changes to this entity.

In the search modal, put source before type in the order of rows

For the reload button, use the confirm method to ask the user to confirm that they wish to reload the config. If they confirm, call the reload API and then re-load the entire application in the browser to get the latest config

[2020-05-13 11:44] colmanflynn opened #130 "Data page Navigation tree overlaying Latest Releases[BUG]"
I had PXstat open in Chrome on the Data page. I shrunk the Chrome window and the Navigation tree on the right under Browse didn't resize and overlayed the Latest Releases.
Screenshot attached
![PXStat Bug](https://user-images.githubusercontent.com/59689411/81808235-5325e400-9517-11ea-951c-7f1c59f71b47.PNG)

[2020-05-14 10:46] CHanamy57 commented on #123
Source put before Type in Search modal.
Confirm method & modal added to reload button.
Reload API call on Confirm & application reload added to Hide event on reload Success modal.

[2020-05-15 11:29] damienderoistecso opened #131 "[ENHANCEMENT] Replace our custom extra large modal with bootstrap extra large modal"
*Describe the solution you'd like**
Extra large modal now available in Bootstrap 4.3. We no longer need our custom extra large modal and can use native bootstrap one instead

Search everywhere for "modal-full" to find where we use it. Then re-factor these modals to use bootstrap extra large modal option https://getbootstrap.com/docs/4.3/components/modal/#optional-sizes

Remove custom css from app.

[2020-05-15 14:47] CHanamy57 commented on #131
Custom CSS extra large Modals replaced with native Bootstrap Extra Large Modals

[2020-05-18 07:42] neilfromcork opened #132 "[BUG] Possibility of silent failure during data load"
Because the loading of data tables from px runs on an independent thread, any failure during this process could occur without the main application being aware of it.

[2020-05-18 07:46] neilfromcork commented on #132
@JohnPCarroll - fix in place for this. To test this fix, just do a load of both a small and a large dataset

[2020-05-18 08:32] neilfromcork commented on #132
@JohnPCarroll  - when testing this, make sure to check if the data has loaded actual values and not blanks

[2020-05-18 09:21] JohnPCarroll commented on #132
Test passed. Tested Tables A0603, TEA16 and CPM13. Data appears to be correct for all. No blanks exist

[2020-05-19 08:16] damienderoistecso commented on #130
Duplicate of #129

[2020-05-19 08:16] #130 closed

[2020-05-19 08:24] damienderoistecso opened #133 "[BUG] Scroll to not working on some screens"
**Describe the bug**
Scroll to does not work correctly in some environments. e.g. mobile

Investigate alternatives to $('html, body').animate({ scrollTop:

Maybe a jQuery library

https://github.com/flesler/jquery.scrollTo

[2020-05-19 11:30] liamie opened #134 "[BUG] PREVIOUS/NEXT expands beyond bounds with additional pages"
Discovered on release screen but maybe other locations also.
In the panels on the right-hand side. if the number of pages expand the Previous/Next can be pushed outside the bounds of the panel.
![image](https://user-images.githubusercontent.com/55874862/82320893-e8b7ec80-99cb-11ea-85f1-abed26069f55.png)

[2020-05-19 15:59] CHanamy57 commented on #133
**Bug Identified**
Issue with scrollTop on mobile devices - mobile ios cannot read $('html, body') as 'html' is not treated as a DOM node in mobile browsers.

ScrollTo jQuery library seems to work well on initial tests.

[2020-05-20 09:34] JohnPCarroll opened #135 "[BUG] Issue in release page view data option - page not fully shown only part of"
**Describe the bug**
When you enter the Releases page for the first time, select a px file. You then select the view data option and an incorrect page heading only is displayed, The correct heading and data is then displayed. If you repeat without leaving the Releases page , the correct heading is displayed only and then the data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Release

[2020-05-21 09:14] neilfromcork opened #136 "[BUG] ReadCollection failing to write to cache"
The Read Collection API isn't writing to the cache and causing slow performance when a large number of tables are stored.

[2020-05-21 09:14] neilfromcork commented on #136
Bug fixed - ready for test.

[2020-05-21 09:28] damienderoistecso opened #137 "[BUG] Update report hanging"
**Describe the bug**
When you have no records in the 'Records to be updated', the table doesn't render correctly and the page hangs for the user.

**Expected behavior**
Empty datatable for 'Records to be updated' is displayed

[2020-05-21 10:32] damienderoistecso commented on #137
Ready for testing. Test by trying to update a px file with a csv file where every record is incorrect

[2020-05-21 11:28] JohnPCarroll commented on #137
I tried to B0103 using the CSV file from A0101 and the following error was displayed
![image](https://user-images.githubusercontent.com/44975474/82554785-7fb4ae00-9b5e-11ea-9588-dd28042ae0fb.png)
I am taking this as correct

[2020-05-21 11:33] liamie commented on #137
It appeared correct for me when I downloaded the csv of a file changed all the entries in statistic column to something different and tried update a full table in Records to be Ignored and an empty table in 'Records to be updated'

[2020-05-21 11:44] JohnPCarroll commented on #137
I tried to update SFA09 and it appeared to have updated incorrectly. See csv file used
I added a new time period for 2011 and then amended the csv file for loading as attached
[SFA09.20200521T120551.data.txt](https://github.com/CSOIreland/PxStat/files/4662246/SFA09.20200521T120551.data.txt)

[2020-05-21 13:04] JohnPCarroll commented on #137
My reflection test passed

[2020-05-26 10:07] liamie commented on #123
Seems correct as described

[2020-05-26 12:10] damienderoistecso opened #138 "[BUG] Latest Releases performance issues"
**Describe the bug**
Depending on the date span, retrieving and rendering the latest releases can take a long time.

**To Reproduce**
Extend latest releases data range to 365 days

**Additional context**
Restrict latest releases date span to 30 days and default date picker to last 7 days.

[2020-05-26 12:19] damienderoistecso commented on #138
@JohnPCarroll ready for testing

[2020-05-26 13:02] JohnPCarroll commented on #138
Test passed. Only last 30 days available

[2020-05-26 14:50] damienderoistecso opened #139 "[ENHANCEMENT] Add "Daily" as a frequency option"
*Describe the solution you'd like**
Ability to create, update and import datasets with a frequency of "Daily"

[2020-05-26 14:52] damienderoistecso commented on #139
@JohnPCarroll ready for test

[2020-05-27 07:25] neilfromcork opened #140 "[BUG] Px file with duplicate dimension items validating but failing to load"
A px file with duplicate dimension items (i.e. VALUES) is validating. Load failure occurs when you try to load it.

[2020-05-27 07:26] neilfromcork commented on #140
Fixed -  file with duplicate dimension items is now failing validation

[2020-05-27 08:02] JohnPCarroll commented on #139
Issues with Create
TList Should be in capitals like the other Frequency Codes
![image](https://user-images.githubusercontent.com/44975474/82993112-00a8f500-9ff8-11ea-86be-5e1bf97077db.png)

When I try to create a px file the following error occurs
![image](https://user-images.githubusercontent.com/44975474/82993428-70b77b00-9ff8-11ea-9e94-89fa7bd4ba44.png)

[2020-05-27 08:53] damienderoistecso commented on #139
Both issues fixed

@JohnPCarroll ready for testing again

[2020-05-27 09:13] JohnPCarroll commented on #139
Test passed. For Build Create. Update and Import options

[2020-05-28 15:30] damienderoistecso commented on #138
If I pick today's date and there were no releases today, I get an error from server.

[code]

[2020-05-28 15:34] damienderoistecso commented on #136
Duplicate of #138

[2020-05-28 15:34] #136 closed

[2020-05-28 15:47] damienderoistecso commented on #125
@neilfromcork Can you see if this is still the case

[2020-05-28 15:51] damienderoistecso commented on #125
@liamie ready for re-testing

[2020-05-28 16:03] damienderoistecso commented on #124
Updated to 'Imported by'

[2020-05-28 16:07] neilfromcork commented on #138
@damienderoistecso - fix in place for previous issue, ready for test

[2020-05-29 07:24] JohnPCarroll commented on #131
Tested. Everything appears to be ok

[2020-05-29 07:42] damienderoistecso commented on #138
@neilfromcork No results returns null. Can an empty array be returned instead?

[2020-05-29 07:59] neilfromcork commented on #138
@damienderoistecso - Updated. No results returning an empty json object now.

[2020-05-29 08:01] neilfromcork commented on #138
@damienderoistecso - or, more correctly, a json object with an empty array!

[2020-05-29 08:19] damienderoistecso commented on #138
Fixed and tested

[2020-05-29 08:23] liamie commented on #125
The work in progress is now also deleted as part of the rollback this has resolved the orphan situation so test passed.

[2020-05-29 09:18] JohnPCarroll commented on #123
Appears to do as described

[2020-06-01 10:16] #119 closed

[2020-06-01 12:03] lorenzobruni commented on #138
SERVER SIDE ERRROR:
[code]

CLIENT SIDE ERROR: API out of synch
![image](https://user-images.githubusercontent.com/53212047/83407224-2d9a4500-a408-11ea-8487-cf658197fe14.png)

Please look at this with top priority as it's blocking the release. Thanks.

[2020-06-01 14:01] neilfromcork commented on #138
Fixed -ready for test @lorenzobruni @damienderoistecso

[2020-06-02 07:49] damienderoistecso commented on #138
Client side error resolved. Drawing API params in datatable draw callback
Latest Releases performance issues #138

[2020-06-02 07:49] damienderoistecso commented on #138
@JohnPCarroll ready for test

[2020-06-02 08:00] JohnPCarroll commented on #138
Test passed. Used today's date and no error occurred

[2020-06-02 13:32] #122 closed

[2020-06-02 13:32] #123 closed

[2020-06-02 13:32] #124 closed

[2020-06-02 13:32] #125 closed

[2020-06-02 13:32] #126 closed

[2020-06-02 13:32] #129 closed

[2020-06-02 13:32] #131 closed

[2020-06-02 13:32] #132 closed

[2020-06-02 13:32] #137 closed

[2020-06-02 13:32] #138 closed

[2020-06-02 13:32] #139 closed

[2020-06-02 13:32] #140 closed

[2020-06-02 15:20] liamie opened #141 "[ENHANCEMENT] Match breadcrumbs and menus"
In general the breadcrumbs match the menu options but a few of the manage and system/configuration breadcrumbs are now at odds with their menu location. For clarity and navigation I think these should match.
Ones at odds
In Menu : Manage> Reasons
Breadcrumb: Configuration/Reasons

In Menu : Build> Import
Breadcrumb: Import
(other build options have build in the breadcrumb)

In Menu : System>Langua

[2020-06-03 16:37] neilfromcork opened #142 "[ENHANCEMENT] Investigate speeding up search"
Currently  one subquery is currently taking 80% of the time. Investigate speeding up the search.

[2020-06-03 16:42] neilfromcork opened #143 "[BUG] Table notes are missing to in Excel"
The notes are missing to render in Excel

[2020-06-03 16:43] neilfromcork opened #144 "[BUG] Fadas are incorrectly displaying in CSV files"
Fadas are incorrectly displaying in CSV files... but I can see they are correctly working everywhere else. (Check EY004 from Live)

[2020-06-04 09:35] JohnPCarroll commented on #144
Test passed

[2020-06-04 09:39] JohnPCarroll commented on #142
Test passed. Search on data page much quicker to return results

[2020-06-04 10:35] neilfromcork commented on #144
Fixed in DEV - ready for test. EY004 has been replicated in DEV.

[2020-06-04 10:38] neilfromcork commented on #144
Can I warn everybody that this was a significant rewrite of the search stored procedure? We probably need to test all cases, not just speed of response. Also, when testing, watch out for cached data, so try to ensure that all searches are new.

[2020-06-04 10:39] neilfromcork commented on #144
Last comment deleted - wrong issue!

[2020-06-04 10:39] neilfromcork commented on #142
Can I warn everybody that this was a significant rewrite of the search stored procedure? We probably need to test all cases, not just speed of response. Also, when testing, watch out for cached data, so try to ensure that all searches are new.

[2020-06-04 14:05] JohnPCarroll commented on #143
Test passed. Note now included.

[2020-06-05 14:12] liamie commented on #142
If it is not to taxing on the system I think there should be some form of weighting to place exact matches on the search higher than the synonyms. Currently 'capital' has a synonym 'great' so when you search for 'capital' you get any table with 'Great Britain' also, These tables not mentioning capital just 'Great Britain' can be ranked higher than any of the financial tables that mention capital.

[2020-06-08 10:52] JohnPCarroll opened #145 "[BUG] Table gone live today on data.cso.ie is not on latest updated tables or on theme"
**Describe the bug**
Table MSA02 went live today at 11 am. It does not appear on the Latest Update Tables list or the theme it is associated with that is Services/Services Index. The total number on the Services Index is 4 but yet only details for 3 tables appear.

**Expected behavior**
Once a table goes live it should appear on all relevant pages

[2020-06-09 12:54] neilfromcork commented on #145
This is caused by a mismatch between the Collection/Navigation and the relevant caches. Currently under review.

[2020-06-09 14:31] neilfromcork opened #146 "[ENHANCEMENT] Search enhancements for empty search string and cache key"
[ENHANCEMENT] Amend search to (a) ensure an empty search string brings back nothing and (b) ensure the search terms are ordered and lowercase before being used as a cache identifier.

[2020-06-09 15:15] neilfromcork commented on #146
Completed - ready for test

[2020-06-10 07:35] lorenzobruni opened #147 "[ENHANCEMENT] Inherit Public Comment in Releases"
**Is your feature request related to a problem? Please describe.**
Make the **Public Comment** under Releases `RLS_CMM_ID` inheritable on upload of a new Work In Progress release.
Logged on behalf of _Digital Communication @ CSO . ie_

**Describe the solution you'd like**
DO NOT use the same `RLS_CMM_ID `because otherwise the same reference will be shared with the previous release(s) creating issu

[2020-06-10 08:31] damienderoistecso commented on #146
Client side updated to handle empty search input

@JohnPCarroll ready for test

[2020-06-10 13:10] carolfinlay opened #148 "[BUG] Datatable warning when trying to read users when one of the Users doesn't have an "Name " or "Email" value"
Datatable warning when trying to read users when one of the Users doesn't have an "Name " or "Email" value

[2020-06-11 07:54] damienderoistecso commented on #148
Server side: Always return fully formed object for each user in "PxStat.Security.Account_API.Read". If no user found in active directory, return null for "CcnEmail" and "CcnName".

Client side: In Users table, add a column called "Valid". For each user, check if either "CcnEmail" or "CcnName" is null and display relevant icon in column.

[2020-06-11 09:46] damienderoistecso commented on #148
Client side updated. New column called "Valid" added to users table. Any user without email or name will be displayed as invalid and an appropriate action can be taken.

[2020-06-11 10:28] neilfromcork commented on #148
Fixed in DEV - ready for test @damienderoistecso

[2020-06-11 10:51] damienderoistecso commented on #148
@JohnPCarroll ready for test. If you open manage users in test you will see the problem. New column in Dev to highlight users no longer in active directory

[2020-06-11 13:15] JohnPCarroll commented on #148
Test passed. Removed invalid user. Unable to locate another user to add on

[2020-06-11 14:11] JohnPCarroll commented on #147
Used A0201 for testing.
Released live with comment version 1.0  and Released live version 2.0. Comment was included. OK
Updated comment on version 2.0 and appeared on data page. No approval required.
Deleted comment on version 2.0 and it still appears on data page. No approval required. Incorrect

[2020-06-11 14:55] damienderoistecso opened #149 "[ENHANCEMENT] Implement widgets charts to data entity"
**Describe the solution you'd like**
Allow users to render data on a chart and provide embed code to allow them embed the chart in their own environment.

Also allow users to embed data results in a datatable in their own environment by providing embed code.

Re-factor data entity code to be modular for data, charts and maps

[2020-06-12 09:19] liamie commented on #147
Update only seems to work on current live. If the new work in progress version has its comment updated to something different before going live it still does not supersede the public note of the previous live until update button is clicked again after going live. I understand work in progress shouldn't update the current live but on publish should the new versions public note not be published also

[2020-06-12 09:28] liamie commented on #146
Empty search seems to retain the search of previous term. Not bring back nothing the search doesn't update.

[2020-06-12 14:51] neilfromcork commented on #147
Fixed in DEV- for test @JohnPCarroll

[2020-06-12 14:55] neilfromcork commented on #146
@damienderoistecso - front end issue, I think..

[2020-06-15 08:52] JohnPCarroll commented on #147
Failed updated comment test' used A0108
Steps followed
1. Added comment and went live.
2. Loaded table again and updated comment.
3. Released live but old comment displayed. This is incorrect

[2020-06-15 08:54] JohnPCarroll commented on #146
Search failing on data page. Table E0109 is not found but is a live table

[2020-06-15 09:11] neilfromcork commented on #147
@JohnPCarroll @lorenzobruni - This requirement needs more detail as to how it should behave across releases. Can you explain please?

[2020-06-15 09:24] neilfromcork commented on #146
There is no E0109 table in DEV @JohnPCarroll

[2020-06-15 09:36] JohnPCarroll commented on #146
Should be A0109. It looks like this table was a test table in Late April that should be gone but is not.  Nothing to worry about

[2020-06-15 10:25] damienderoistecso commented on #146
If you have nothing in the search input, then the client doesn't call the search API method. Whatever was on the screen previous to attempting a search remains there until a valid action is performed.

[2020-06-15 13:10] neilfromcork commented on #147
Fixed in DEV. Currently cloning comments on the same basis that releases are cloned. Cloning only occurs when we create a new release i.e. when we  create a WIP after a current live release.

[2020-06-15 13:29] neilfromcork opened #150 "[ENHANCEMENT] Change href in JSON-stat output to point to RESTful APIs as data resources"
Currently the JSON-stat output shows hrefs as follows:
{
                    "type": "application/json",
                    "href": "https://dev-data.cso.ie/release/45"
                },
                {
                    "type": "plain/px",
                    "href": "https://dev-data.cso.ie/release/45"
                },
                {
                    "type": "text/csv",

[2020-06-16 10:16] liamie opened #151 "[BUG] imported by appearing in correct on dashboard for work in progress"
On the dashboard page, work in progress panel : imported by is appearing with brackets
![image](https://user-images.githubusercontent.com/55874862/84762175-63235e80-afc2-11ea-9107-dfc1ea1e57b0.png)

[2020-06-16 10:20] damienderoistecso commented on #151
Fixed typo

@liamie ready for test

[2020-06-16 10:24] liamie commented on #151
Tested, looks correct now.

[2020-06-16 14:14] neilfromcork commented on #150
Completed in DEV. RESTful APIs now available for ReadDataset, ReadCollection and ReadMetadata. Ready for test. @JohnPCarroll

[2020-06-19 14:48] colmanflynn commented on #147
Comment added but not appearing on -
PEH12
QEA01
LFBA5
PSQ01
LRM05
I can't see any reason for them not to appear. They were added in exactly the same manner as all of the others.
Copy in the text "For more information, please go to the statistical release page on our website." and add a link to the words "...statistical release page...".
![LRM05](https://user-images.githubusercontent.com/59689411/

[2020-06-24 14:38] liamie opened #152 "Unexpected Error occurs when uploading 2 language file[BUG]"
Unexpected error occurs importing a file with 2 languages
Validated correctly but error appeared when import button pressed.
Had prompted for frequency also.
![image](https://user-images.githubusercontent.com/55874862/85575460-7ae88b80-b62f-11ea-8824-0de6aaf07807.png)

[2020-06-25 08:19] neilfromcork commented on #152
Fixed in DEV - ready for test

[2020-06-25 10:05] liamie commented on #152
Front page not loading for me now. Tried clear cache, updated the client. Restarted browser and pc. Hangs on greyed out front screen with the load bars cyclying.

[2020-06-25 11:00] liamie opened #153 "Has Copyright Configuration moved"
I cannot seem to locate how to change, create or delete a copyright on the current version. Has the location been altered or removed?

[2020-06-25 11:41] damienderoistecso commented on #152
This is an unrelated issue to this bug. It is a side affect of #149 which we are still developing so it can be ignored for now.

[2020-06-25 11:49] damienderoistecso commented on #152
@liamie Application should load eventually if you refresh a few times

[2020-06-26 12:41] neilfromcork opened #154 "[BUG] Build update doesn't progress with a very big file"
Very large NISRA census file fails to update. API hangs.

[2020-06-26 15:20] liamie commented on #147
Public comment is appearing the same for multiple language versions. If the public comment is updated in either language release it is applied to both. Should this not be updated separately for each language the same as a footnotes as the message could have different text for Irish and English.

[2020-06-30 10:21] damienderoistecso commented on #153
Copyright got accidentally removed from the navigation. Restored now.

[2020-06-30 10:30] liamie commented on #153
This appears to be correct now

[2020-06-30 14:27] neilfromcork commented on #154
Fixed. Comprehensive re-write of the Build Update. Note rules:
- Any invalid data supplied for update will be ignored
- Duplicate values will be ignored.
- Values that are and are not updated will be listed as usual on the client before the PX file is downloaded.

[2020-06-30 15:04] neilfromcork commented on #147
Currently, the comment is cloned when we change the version, i.e. at the same time as the release is cloned.
Releases are not language specific and, since comments are related to releases, it is not possible in the current data model to relate a comment to a language version of a matrix. In practice, it would be considered unlikely that a user would take the trouble to write a comment for all avai

[2020-07-01 13:46] liamie opened #155 "[BUG] Unexpected Error When trying to view data"
I'm getting an unexpected error when clicking the view data button on any live table from data in dev
![image](https://user-images.githubusercontent.com/55874862/86251259-8a288580-bba9-11ea-9d38-2fee2efcb27b.png)

![image](https://user-images.githubusercontent.com/55874862/86250956-2b630c00-bba9-11ea-88bb-3e904fa81913.png)

Also when I try view data a table in the release section it just hangs on

[2020-07-02 10:10] neilfromcork commented on #142
Higher weighting now given to the search term (plus its plurals, singulars) than the synonym @liamie

[2020-07-02 12:05] liamie commented on #152
Files uploading now

[2020-07-02 12:08] liamie commented on #155
Unexpected error cleared now from live/data view . Still hangs in releases view data will try that again in a couple of days incase just a background issue with refactoring/build

[2020-07-02 13:10] liamie commented on #142
Search coming back quickly.
If full matrix name used exact match returned correctly.
If a word is used there seems to be a direct connection with the first page results at least of matrix returned.
Without a hierarchy of importance between title, classification, period etc. it is impossible to establish which matrices should be listed higher and this would change with intent anyhow on more general

[2020-07-03 10:46] colmanflynn commented on #145
MSI02, MSA02 & MSQ02 went live at 11am today are not appearing in the Last Updated Tables on the Beta.
They do appear on the Product page in the Navigation: Services > Services Index.
Only when I select todays date from the drop-down calendar will they appear.

The same is true on the Test.
External Trade tables: TSM01 - TSM10 & TSM13 went live toady at 11am and are not appearing in Last Updated T

[2020-07-03 13:23] liamie opened #156 "[BUG] view data hanging in releases in progress screen"
when trying to view data in the releases (work in progress)
1. go to the work in progress page of a release
2. click on 'view data' button

rather than displaying data hangs on this screen

![image](https://user-images.githubusercontent.com/55874862/86473351-a9a1e880-bd38-11ea-9c9d-e2c0a8b0fc85.png)

[2020-07-03 14:05] liamie opened #157 "Validation Error Message when browsing subjects and products[BUG]"
When browsing the subject/products using the panel on left hand side of Data page
![image](https://user-images.githubusercontent.com/55874862/86476424-69ddff80-bd3e-11ea-8220-458652cf50f7.png)

When you choose a product the following error screen appears as if trying to validate

![image](https://user-images.githubusercontent.com/55874862/86476193-f9cf7980-bd3d-11ea-89d2-47b3d3627846.png)

[2020-07-03 14:45] neilfromcork commented on #156
Seems ok in 2.3 - front end needs to be checked. @damienderoistecso

[2020-07-03 14:46] neilfromcork commented on #157
Fixed in DEV -please retest.

[2020-07-03 15:00] liamie commented on #157
This is correct now

[2020-07-03 15:31] damienderoistecso commented on #156
Side affect of #149

[2020-07-07 07:44] neilfromcork opened #158 "[BUG] Analytics not recording"
Analytics not recording

[2020-07-07 13:36] liamie commented on #158
Seems to be recording analytics. Used RVA13 to test.

[2020-07-08 08:28] Elainehoward opened #159 "Build - add ability to download classification from .px file [ENHANCEMENT]"
Hi guys,

As discussed - under the build option in PxStat could we get the option to download the classification from the .px file?

Thanks,
Elaine

[2020-07-08 08:31] Elainehoward opened #160 "Build - add the ability to download all the periods from .px file [ENHANCEMENT]"
Hi,

As discussed - in the Build, could we get the ability to download all the periods from the .px file?

Thanks
Elaine

[2020-07-09 09:22] damienderoistecso commented on #159
Added "Download as CSV" to modal footer create when you click on classification to view it's variables.

[2020-07-09 10:35] liamie opened #161 "[BUG] Update Data CSV Download is changing data order"
The csv download from update data seems to be changing the order of data on some files.

If the csv is then used to reupdate  the file the figures are shifted around
Sent details to Neil

[2020-07-09 12:28] neilfromcork opened #162 "[ENHANCEMENT] Create JSON-stat version1.0 output for backward compatibility"
Statbank uses JSON-stat 1.0 for output. Therefore we need a backward-compatible version of ReadDataset for any existing JSON-stat users

[2020-07-09 14:40] neilfromcork commented on #162
Implemented in DEV- ready for test.
Notes for testing:
It's unlikely that this will ever be implemented in the PxStat client. You can test it however by reading a dataset directly from a browser, e.g. as https://dev-ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/LIAMTESTPEC18/JSON-stat/1.0/en
You may change the JSON-stat version by changing the second last item in the url, e.g. from

[2020-07-10 08:19] liamie commented on #161
Order corrected for some files but Statistic and unit seems to be omitted on CSV download for some files
when using build->update
after parsing the px file
![image](https://user-images.githubusercontent.com/55874862/87132418-bd47d480-c28d-11ea-8961-944d2717565d.png)
for existing period

The entries in the CSV columns for statistic and unit are blank and so give the following error if try to reupda

[2020-07-10 09:29] neilfromcork commented on #161
Fixed in DEV - ready for test

[2020-07-10 15:19] neilfromcork opened #163 "[BUG] A ReadDataset query containing a dimension with all its items invalid will return malformed JSON-stat"
If any dimension in a JSON-stat query has only got invalid dimension items, the dimension filtering is ignored (correctly) but the metadata will be empty for that dimension.

[2020-07-10 15:32] neilfromcork commented on #163
Fixed in DEV - ready for test.
Some testing notes:
This can't be replicated by the front-end. In order to test this you would need to either make a call to the API via Postman or else as a GET request on a browser. An example of the browser request url is shown below:
https://dev-ws.cso.ie/public/API.JSONRPC/?data={"jsonrpc":"2.0","method":"PxStat.Data.Cube_API.ReadDataset","params":{"class":"quer

[2020-07-13 13:55] liamie commented on #162
Tested and confirmed corrected format with Neil

[2020-07-13 14:06] liamie commented on #163
If all dimensions are invalid it now returns all dimensions as if no dimensions filtering.
If any dimensions are valid it is filtered to those dimensions

[2020-07-16 12:25] liamie opened #164 "[BUG] Build update generating multiple languages and failing to validate update"
Build update seems to be generating multiple English language tabs for a single language file with multiple statistics.

![image](https://user-images.githubusercontent.com/55874862/87669852-97776f80-c766-11ea-95ab-581d685a2f08.png)
![image](https://user-images.githubusercontent.com/55874862/87670012-ede4ae00-c766-11ea-82f4-5e6cc5ca8f07.png)

and then when try to update the file the following error

[2020-07-16 12:41] neilfromcork commented on #164
Doesn't replicate on Postman to server test, at least for the initial Read stage.

[2020-07-17 09:23] damienderoistecso commented on #160
Download periods button added to Build/create

[2020-07-17 09:24] damienderoistecso commented on #160
Ready for test

[2020-07-17 09:25] damienderoistecso commented on #159
ready for test

[2020-07-17 11:05] liamie commented on #161
Statistic and unit appearing correctly now

[2020-07-20 09:24] damienderoistecso opened #165 "[BUG] jQuery .once error"
Incompatibility between out jQuery .once plugin function and widget jQuery

**To Reproduce**
Intermittent occurrence at run time

**Expected behavior**
.once function loads along with widget jQuery

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/53211688/87921695-d8c39400-ca72-11ea-8059-6271e01e1fdd.png)

[2020-07-20 09:24] damienderoistecso commented on #156
Duplicate of #165

[2020-07-20 09:25] damienderoistecso commented on #156
Duplicate of #165

[2020-07-20 09:25] #156 closed

[2020-07-20 09:26] damienderoistecso commented on #155
Duplicate of #165

[2020-07-20 09:26] #155 closed

[2020-07-20 09:30] damienderoistecso commented on #150
tested. Works correctly

[2020-07-20 09:41] damienderoistecso opened #166 "[ENHANCEMENT] Implement widget tables in data entity"
Extend the widget plugin to enable embedding of table widgets

[2020-07-20 09:46] damienderoistecso opened #167 "[ENHANCEMENT] Allow pivoting of table results in the data entity"
Add pivot option for data results in data entity

![image](https://user-images.githubusercontent.com/53211688/87923858-03631c00-ca76-11ea-8b6f-7d6ee2a912dc.png)

[2020-07-20 09:47] damienderoistecso opened #168 "[ENHANCEMENT] Refactor of data entity"
Full regression testing of data entity required following multiple enhancements

[2020-07-20 09:59] damienderoistecso commented on #128
@neilfromcork Can you confirm if this is completed.

[2020-07-20 10:27] neilfromcork commented on #128
This is complete - ready for test

[2020-07-20 10:32] damienderoistecso commented on #164
@liamie cannot reproduce. Can you see if you can generate this again?

[2020-07-20 11:08] damienderoistecso commented on #164
Issue occurs when you drop multiple px files into "Upload Source File" in sequence.

[2020-07-20 11:08] damienderoistecso commented on #164
Reset language array each time a new file is dropped uploaded

[2020-07-20 11:09] damienderoistecso commented on #164
@liamie ready for test

[2020-07-20 12:39] liamie commented on #164
This problem is still occurring. As re-framed it seems to be occurring as multiple files can be parsed in sequence. The newly parsed file is amended to the stored copy of previously parsed files until the reset button is pressed.
I think it may be resolved by disabling the upload file box as well as the parse button after the first successful file is parsed until the reset is pressed again. Simila

[2020-07-20 13:01] damienderoistecso commented on #164
@liamie can you re-test please. Now emptying any previous JSONstat data

[2020-07-20 13:20] liamie commented on #164
This seems to be corrected now

[2020-07-21 10:44] liamie commented on #168
Pie charts popup info for section seems to be based on left to right movement rather than section selected/highlighted or clicked.
![image](https://user-images.githubusercontent.com/55874862/88046178-9455f800-cb47-11ea-99a2-283a7d901be2.png)

[2020-07-21 11:39] damienderoistecso commented on #149
@liamie @JohnPCarroll ready for test

[2020-07-21 11:41] liamie commented on #149
Pie charts popup info for section seems to be based on left to right movement rather than section selected/highlighted or clicked.
image

[2020-07-21 11:46] damienderoistecso commented on #149
Updated config to remove tooltips.intersect = false

@liamie ready for re-test

[2020-07-21 12:36] liamie commented on #149
Pie and Doughnut section selection seems to be correct now

[2020-07-21 13:17] damienderoistecso commented on #149
Fixed, disabled filter input for non selected xAxis dimensions
@liamie ready for re-test

[2020-07-21 14:16] liamie commented on #149
@damienderoistecso Filter on other options for X-Axis locking correctly now

[2020-07-21 14:16] JohnPCarroll commented on #149
Issue with Column type table
Table VSA50. Selected Years 2016 to 2019.
Selected Jack and Sean as the 2 series
![image](https://user-images.githubusercontent.com/44975474/88065620-be69e300-cb64-11ea-9a00-f7b77ad0981e.png)

Chart with 2 series
![image](https://user-images.githubusercontent.com/44975474/88065760-ebb69100-cb64-11ea-9708-246c62e05ab3.png)

Removed Sean and Jacks last value is not seen

[2020-07-21 14:53] liamie commented on #149
In charts with the dual axis option the drop down for the Y-Axis has two options for left and two for right. Should only be one of each.

![image](https://user-images.githubusercontent.com/55874862/88070046-22db7100-cb6a-11ea-8299-8e77ea10c689.png)

[2020-07-21 15:34] damienderoistecso commented on #149
Should be fixed now.
@liamie ready for re-test

[2020-07-21 15:39] damienderoistecso commented on #149
This is because auto-scale is set to true. If you set auto-scale to false, it works better when removing one series

[2020-07-22 09:17] liamie commented on #149
@damienderoistecso Dual-Axis toggle incrementing instance of Left/Right seems corrected now

[2020-07-22 09:32] JohnPCarroll commented on #149
Table VSA50: Omer has no value for 2019 by the letters NaN appear in 2019
Issue with no values in item
![image](https://user-images.githubusercontent.com/44975474/88160402-7d2a0f80-cc06-11ea-8298-bcc11823527a.png)

[2020-07-22 10:01] JohnPCarroll commented on #149
Legend issue on column chart
1. You change the Legend to None and no chart is available. This is correct.
2. You switch the Legend to another option and the chart is still not available. This is incorrect

[2020-07-22 10:03] JohnPCarroll commented on #149
Table VSA50 : In Bar Chart years are displayed incorrectly

![image](https://user-images.githubusercontent.com/44975474/88163643-e744b380-cc0a-11ea-8e4e-c9944b921dd3.png)

[2020-07-22 10:09] liamie commented on #167
Unusual behavior in pivot VSA50
I choose one statistic and one year with 603 names due to volume messages if picking very high numbers
 when I pivoted by name in addition to the one correct line expected multiple lines with blank info appeared
![image](https://user-images.githubusercontent.com/55874862/88163969-591cfd00-cc0b-11ea-848d-910745a093c5.png)

[2020-07-22 10:23] damienderoistecso commented on #149
@JohnPCarroll should be fixed now. Can you re-test

[2020-07-22 10:44] JohnPCarroll commented on #149
Issue with NaN appearing when no values exist is resolved. Double dots appear

[2020-07-22 11:36] damienderoistecso commented on #149
Should be fixed now
@JohnPCarroll can you re-test

[2020-07-22 12:45] damienderoistecso commented on #149
Should be fixed. Every time you change the legend position, you need to click the 'View' button again
@JohnPCarroll ready for test

[2020-07-22 13:02] damienderoistecso commented on #154
@neilfromcork do you still have the NISRA file? Can you send to @liamie so he can test and we can get this signed off? Thanks

[2020-07-22 13:07] JohnPCarroll commented on #149
Legend Issue Resolved. You can remove the Legend and Click on 'View' Button you see the rest of the table. Once another option for the legend is selected and you Click 'View' all is correct.

The years are still incorrectly displayed on the bar chart

[2020-07-22 13:18] damienderoistecso commented on #149
Years should be fixed now
@JohnPCarroll ready for re-test

[2020-07-22 13:51] JohnPCarroll commented on #149
Years now correct.

[2020-07-22 13:52] liamie commented on #154
when tried download csv the progress bar advanced at a consistent pace
then stayed at 99% for about 3 minutes and gave the error below
![image](https://user-images.githubusercontent.com/55874862/88184758-02bfb680-cc2b-11ea-8154-63906a2a6981.png)

[2020-07-22 13:55] damienderoistecso commented on #154
@neilfromcork is this just a case of timing out due to size?

[2020-07-22 14:00] neilfromcork commented on #154
Yes, I think so. The API has finished processing at this point.

[2020-07-22 14:01] JohnPCarroll commented on #159
Classification Download Working

[2020-07-22 14:11] JohnPCarroll commented on #160
Test successful

[2020-07-22 14:22] liamie commented on #160
Periods download successful. Note you can download a blank file if there is no periods listed. Button is not disabled.

[2020-07-22 16:05] liamie commented on #154
When try upload the csv file provided of data it gets to confirmation screen but if try to download the csv of either the ignored or rows to be updated it times out again.

[2020-07-23 07:52] neilfromcork commented on #154
According to the logs, the server will eventually create the very large csv file. However, a network error seems to occur before this happens. Possible timeout limit on IIS? Also maybe check file download size limit. @lorenzobruni

[2020-07-23 07:58] JohnPCarroll commented on #149
When you download a chart the Copyright and Source is lost in the .png file created

[2020-07-23 08:01] damienderoistecso commented on #149
The copyright and source are outside of the SVG canvas, so they cannot be included in the .png download

[2020-07-23 08:30] JohnPCarroll commented on #149
Table VSA50 : No values are appearing in the Doughnut Chart
![image](https://user-images.githubusercontent.com/44975474/88266465-2df7e380-ccc7-11ea-946d-67e0fced1d29.png)

[2020-07-23 10:52] damienderoistecso commented on #149
Should be fixed now

@JohnPCarroll can you re-test. Can you also DOUBLE CHECK the values are correct! I had to change how I read the values.

[2020-07-23 11:39] lorenzobruni commented on #167
@liamie thanks for the full report, it was very useful for me to reproduce the issue and identify the problem.
The issue is fixed by checking if the `value `property exists rather than checking it's actual content. This was causing an issue confusing between  0 (zero), NULL and non-existing.

Please run an update and test again, thanks!

[2020-07-23 11:50] JohnPCarroll commented on #149
Test passed. Data Values are correct

[2020-07-23 13:06] liamie commented on #167
This seems to be correct now

[2020-07-23 13:34] liamie commented on #167
Statistical indicator is not listed as one of the pivot options in the dropdown.
It is in StatBank.

[2020-07-23 14:02] liamie commented on #128
XLXS download appears to be unaffected by these alterations

[2020-07-24 07:13] neilfromcork commented on #154
Timeout amended. Ready for test.

[2020-07-27 08:40] lorenzobruni opened #169 "[BUG] Fix Ajax timeout for large upload/download"
**Is your feature request related to a problem? Please describe.**
Some Ajax calls are requiring more the the standard time to complete, resulting into an error.
This happens for very large files.

**Describe the solution you'd like**
Identify and increase timeout for some APIs.

[2020-07-27 08:42] lorenzobruni commented on #169
@neilfromcork can you please list below the 2 categories of APIs where they have as major processing feature either an input file or an output one.

I will then amend the client side code accordingly.

Thanks

[2020-07-27 08:45] lorenzobruni commented on #154
Timeout test with manual by-pass of client code.
This bug is FIXED, but it requires the BUG #169 to be implemented on the Client code.

[2020-07-27 08:47] lorenzobruni commented on #149
Hi @JohnPCarroll  / @liamie
I see this one is still assigned to you both with no `TESTED` label attached, but last comment was test passed.

Can you please confirm if all is good and if so reassign to me and attach the `TESTED` label?

Thanks

[2020-07-27 08:58] lorenzobruni commented on #145
@colmanflynn this hasn't been released yet.
You will see the fix once the label `RELEASED` will be attached.

Thanks

[2020-07-27 09:43] neilfromcork opened #170 "[ENHANCEMENT] Implement a PxAPIv1 interface based on Statistics Sweden"
Enable to user to view data by emulating the Statistics Sweden interface at https://www.scb.se/en/services/oppna-data/api-for-the-statistical-database/

For testing, please use the documentation at https://github.com/CSOIreland/PxStat/wiki/API-Cube-PxAPIv1

[2020-07-27 09:46] neilfromcork commented on #170
Ready for test

[2020-07-27 10:57] JohnPCarroll commented on #168
Table VSD20 used. Unable to see data valve when codes are set to True. Need to move the scroll bar at the botton of the pages to view data

Before codes set to true
![image](https://user-images.githubusercontent.com/44975474/88534524-2e161d00-d000-11ea-95db-3b0ccc3bb7bc.png)

After codes set to True
![image](https://user-images.githubusercontent.com/44975474/88534608-59990780-d000-11ea-8c54-4a6cc9

[2020-07-27 17:23] lorenzobruni commented on #171
@neilfromcork
This one was incorrectly created under the wrong repo `Server-API-Library`.
I transfer it here.

If I remember well this was already implemented and tested, correct?
Thanks

[2020-07-27 18:08] neilfromcork commented on #171
Yes. This seems to be a duplicate of #128

[2020-07-27 19:56] lorenzobruni commented on #167
Good spot Liam,  please find it fixed.

@JohnPCarroll can you please test that the Statistic is now available into the Pivot option dropdown while Liam is out of office? Thanks

See example attached below
![image](https://user-images.githubusercontent.com/53212047/88585942-ac4be100-d04b-11ea-9594-41aebc066c05.png)

[2020-07-27 20:00] lorenzobruni commented on #165
Issue resolved with @damienderoistecso via loading the **pxWidget** `ISOGRAM `on demand when the Chat tab is clicked rather than sequentially onload.

This can be tested on the long run, by verifying that the `$(...).once` error in the console won't show up.

Thanks

[2020-07-27 20:05] lorenzobruni commented on #169
On behalf of @neilfromcork

[2020-07-27 22:01] lorenzobruni opened #172 "[BUG] Build Update - SortId returned in API response"
**Describe the bug**
The `SortId` is incorrectly returned in the **Build Update** report.

**To Reproduce**
1. Go to Build Update
2. Import a PX file and add some CSV data'
3. Click on Update
4. See issue as per screenshot

**Expected behavior**
Is it possible to strip the SortId before returning the API response to the client?

**Screenshots**
![image](https://user-images.githubusercontent.com/53

[2020-07-28 07:51] neilfromcork commented on #172
Fixed. Ready for test

[2020-07-28 19:21] lorenzobruni commented on #171
Perfect, thanks!
Duplicate of #128

[2020-07-28 19:21] #171 closed

[2020-07-28 19:52] lorenzobruni commented on #172
Test passed, brilliant! :-)

[2020-07-28 19:58] lorenzobruni commented on #169
`app.config.transfer.timeout` added to the **config.json** to handle large transfers.

[2020-07-28 19:58] lorenzobruni commented on #169
Test passed

[2020-07-28 20:03] lorenzobruni commented on #166
Implemented.
@JohnPCarroll can you please test as following:

1. Make a Table selection and view the results.
2. Scroll to the **Widget** accordion.
3. Copy the Snippet code and paste it into a brand new `index.html` file anywhere on your computer.
4. Open the index.html file with a browser (i.e. Chrome)

Repeat steps 3 and 4 by changing the Options in the Widget

![image](https://user-images.gith

[2020-07-28 21:31] lorenzobruni commented on #168
This issue is caused because when the **Codes** are appended, then the table should resize accordingly but it does not.
I fixed the issue by invoking the resize window.

If the screen/window is too small for the table, then the responsiveness will kick in, see below.
Source of fix: https://datatables.net/forums/discussion/44766/responsive-doesnt-immediately-resize-the-table

@JohnPCarroll ready fo

[2020-07-29 07:38] JohnPCarroll commented on #168
Test Passed

[2020-07-29 10:43] neilfromcork opened #173 "[BUG] Can't see new periods in new version update"
Table RSM05

1. Imported RSM05_1_0... and published.
2. Then I selected data for month 2020M02  for 3 nace groups and all indicators. and widget code
3. Imported RSM05_2_0... and published
4. This px file contains data to 2020M05 but you can only select to 2020M02 ?
5. If you select no months 2020M03 to 2020M05 are displayed in the Results

Table RSM07

1. Imported RSM07_1_0.. and published
2. Imp

[2020-07-29 10:44] neilfromcork commented on #173
Fixed - ready for test

[2020-07-29 11:04] JohnPCarroll commented on #173
Test Passed

[2020-07-29 11:28] JohnPCarroll commented on #166
Test Passed

[2020-07-31 16:50] lorenzobruni commented on #133
Unfortunately the `window.scrollto` does not provide any animation, jumping instead to the target element. This may confuse the user experience/interaction especially following the Accessibility directives.
In this case is preferable to avoid any "hard-jump" in the page for those devices not supporting the `$('html, body')` selector.

[2020-07-31 16:54] lorenzobruni commented on #133
The scrolling was anyway behaving incorrectly when in **Modal**.

This has been fixed by using the relative scrolling `+=` rather then scrolling to a fixed position.
Example below:

[code]

@damienderoistecso please catch up on this one :-)

[2020-07-31 16:54] lorenzobruni commented on #133
Test passed

[2020-07-31 17:03] lorenzobruni commented on #133
P.S. Apparently https://github.com/flesler/jquery.scrollTo has the same issue... https://github.com/flesler/jquery.scrollTo/issues/178

[2020-07-31 19:52] lorenzobruni commented on #165
Closing this bug as it did not occurred again over the past days.

[2020-07-31 22:19] #128 closed

[2020-07-31 22:19] #133 closed

[2020-07-31 22:19] #142 closed

[2020-07-31 22:19] #143 closed

[2020-07-31 22:19] #144 closed

[2020-07-31 22:19] #145 closed

[2020-07-31 22:19] #146 closed

[2020-07-31 22:19] #147 closed

[2020-07-31 22:19] #148 closed

[2020-07-31 22:19] #149 closed

[2020-07-31 22:19] #150 closed

[2020-07-31 22:19] #151 closed

[2020-07-31 22:19] #152 closed

[2020-07-31 22:19] #153 closed

[2020-07-31 22:19] #154 closed

[2020-07-31 22:19] #157 closed

[2020-07-31 22:19] #158 closed

[2020-07-31 22:19] #159 closed

[2020-07-31 22:19] #160 closed

[2020-07-31 22:19] #161 closed

[2020-07-31 22:19] #162 closed

[2020-07-31 22:19] #163 closed

[2020-07-31 22:19] #164 closed

[2020-07-31 22:19] #165 closed

[2020-07-31 22:19] #166 closed

[2020-07-31 22:19] #167 closed

[2020-07-31 22:19] #168 closed

[2020-07-31 22:19] #169 closed

[2020-07-31 22:19] #172 closed

[2020-07-31 22:19] #173 closed

[2020-08-04 10:54] JohnPCarroll opened #174 "[BUG] Chart Link incorrect"
**Describe the bug**
Accessed date.cso.ie
The link on the chart refers to dev-data.cso.ie and not data.cso.ie

**To Reproduce**
Create a bar chart using any table

**Expected behavior**
link should be to correct environment not https://dev-data.cso.ie/table/CBM03

**Screenshots**
![image](https://user-images.githubusercontent.com/44975474/89285881-1581b480-d649-11ea-89d4-a04559441365.png)

[2020-08-04 14:19] JohnPCarroll opened #175 "[BUG] Build/Update option. Title updated but not fully reflected in updated Px file"
**Describe the bug**
The CONTENTS details are not updated in the px file but the DESCRIPTION and TITLE are.

**To Reproduce**
Steps to reproduce the behavior:
1. Uploaded the PX file E9010.
2. Amended title
3. Downloaded updated version
4. Imported the updated PX file and the Title was not changed on screen. It Appears to use the CONTENTS from the PX file

**Expected behavior**
The DESCRIPTION, TI

[2020-08-05 09:18] liamie commented on #116
These toggles are prolific in the charts section also. This makes keyboard tabbing for options in charts impossible, mouse only access for options.
![image](https://user-images.githubusercontent.com/55874862/89395310-0fe9a480-d705-11ea-9142-b991a1aa933d.png)

[2020-08-05 10:05] liamie commented on #174
This incorrect link issue also applicable to the share this link section for email and social media
![image](https://user-images.githubusercontent.com/55874862/89400276-943f2600-d70b-11ea-9e95-b8fd4c88fc0e.png)

[2020-08-11 07:54] lorenzobruni opened #176 "[BUG] title in config.json duplicated on Client side"
**Describe the bug**
the `title `property of the config.json is correctly placed on the config.global.json on the Server side but is duplicated inclorrectly also on the client side.

Please remove the `title `property form the Client side **config.json**

[2020-08-11 08:00] lorenzobruni opened #177 "[BUG] JSON-stat 1.0 missing"
**Describe the bug**
JSON-stat version 1.0 is missing.
Probably is because the script to add the relative DOWNLOAD format in the DB was missing during the last release.
Please post here the SQL script and I will create a **hot live fix** under **2.4.1** version.

Thanks

[2020-08-11 08:02] lorenzobruni commented on #177
@neilfromcork can you please handover the fix to @liamie as part of the training?
Take it as an opportunity to explain why & how doing it.

Thanks

[2020-08-11 08:06] lorenzobruni opened #178 "[ENHANCEMENT] remove redundant range is 1 time point only is present"
**Is your feature request related to a problem? Please describe.**
Some tables have only 1 timepoint but the pill shows a range with the same value.

**Describe the solution you'd like**
If only 1 timepoint exists, can the range be replaced by the single timepoint value?
It is a bit confusing otherwise, thanks

![image](https://user-images.githubusercontent.com/53212047/89872984-a8729f80-dbb1-11ea

[2020-08-11 11:43] neilfromcork commented on #177
Assigned to Liam

[2020-08-11 13:00] liamie commented on #177
Script required

INSERT [dbo].[TS_FORMAT] ([FRM_ID], [FRM_TYPE], [FRM_VERSION], [FRM_DIRECTION]) VALUES (6, N'JSON-stat', N'1.0', 'DOWNLOAD')

[2020-08-12 13:32] neilfromcork commented on #175
Fixed - ready for test

[2020-08-12 14:44] liamie commented on #170
The Read Collection for Product is not being limited by the subject and therefore you can use a product code with a subject that it is not a member off which gives a collection that has no relevance to the subject

[2020-08-13 11:01] neilfromcork commented on #170
This issue is now fixed in DEV. I've also applied the rule to the data and metadata RESTful queries, i.e. even if the matrix code is valid, you will not get a result unless the subject and product codes are correct.

[2020-08-13 13:38] damienderoistecso opened #179 "[BUG] Update px file with map url not working"
**Describe the bug**
Update a px file and attach a map url to a classification

**To Reproduce**
Try and update a px file and add a map url to a classification. Updated px file contains no reference to the map url.

**Expected behavior**
Map value gets inserted into px file

[2020-08-13 14:09] neilfromcork opened #180 "[ENHANCEMENT] Allow dimension variables to have the same name as another dimension title"
A restriction currently exists where you can't have a dimension variable name the same as the name of another dimension. This restriction is not asserted by the PX standard and it means that some Statbank PX files can't be loaded without changing variable or dimension values. This enhancement proposes to drop that restriction.

[2020-08-13 14:25] neilfromcork commented on #180
Implemented in DEV. Ready for test. Example file attached.
[B1122.PX.txt](https://github.com/CSOIreland/PxStat/files/5069580/B1122.PX.txt)

[2020-08-13 14:25] neilfromcork commented on #180
Fix in place @damienderoistecso @JohnPCarroll

[2020-08-13 14:58] neilfromcork commented on #179
Fixed in DEV - ready for test @damienderoistecso

[2020-08-14 07:53] damienderoistecso commented on #178
Removed span if only one variable in time dimension. Also removed redundant square brackets.

Last updated tables changed, search results changes and view data changed.

@JohnPCarroll ready for test

[2020-08-14 07:56] damienderoistecso opened #181 "[ENHANCEMENT] Remove highcharts and google charts from analytics entity and replace with chart js"
**Describe the solution you'd like**
Remove highcharts as this is a licenced product. Use chart js which is full open source and free to use

**Additional context**
Also remove google chart and no need for two free charting libraries.

[2020-08-14 08:01] damienderoistecso commented on #176
removed title in client config

@JohnPCarroll ready for test. To test, check that the title is appearing correctly in the header

[2020-08-14 12:06] JohnPCarroll commented on #178
One variable now displayed for time dimension. But the Last updated page now displays incorrectly. The title now runs over many more lines than before. as the Language and Last Updated have moved left.

[2020-08-14 14:26] damienderoistecso opened #182 "[BUG] Dimension pills not displaying in view data sceen"
**Describe the bug**
Dimension pills are not displaying in view data screen

**Screenshots**
![image](https://user-images.githubusercontent.com/53211688/90259741-7035c000-de42-11ea-9f4e-63f4fa5ef68a.png)

[2020-08-14 14:27] damienderoistecso commented on #182
Fixed in dev

@JohnPCarroll ready for test

[2020-08-17 08:28] JohnPCarroll commented on #182
Test passed

[2020-08-17 11:22] neilfromcork opened #183 "[ENHANCEMENT] Allow the Matrix to be cached in Build."
Allow the Matrix to be cached in Build.

The Matrix will be cached on the Validate method for 48 hours using the validation code as a key. For subsequent actions (e.g. Read, Update, ReadDatasetByAllPeriods, etc, if the matrix corresponding to the validation code exists in cache, then it will be read, otherwise create the matrix as before.

[2020-08-17 11:41] damienderoistecso commented on #181
Updated, chartjs now the only library for used for analytics.

@JohnPCarroll ready for test. Analytics should be more or less the same as it was when using highcharts/gogole charts as it is now using chartJs except for some minor aesthetical differences

[2020-08-17 14:22] JohnPCarroll commented on #181
Test Failed.
To do this select subject and submit. The Referrer hits loses some columns and then they reappear depending where you are on the chart.

[2020-08-17 16:29] damienderoistecso commented on #181
@JohnPCarroll ready for re-test

[2020-08-18 08:07] JohnPCarroll commented on #181
Test failed. Individual hits for a table not shown when selected

[2020-08-18 08:10] neilfromcork commented on #183
Ready for test. This affects all build functions.

[2020-08-19 12:44] damienderoistecso commented on #181
@JohnPCarroll fixed ready for re-test

[2020-08-19 15:13] JohnPCarroll commented on #181
Test failed. on the individual hits for a table the hits over time appears to be correct but all remaining charts show the overall values for all tables combined

[2020-08-20 08:31] damienderoistecso opened #184 "[ENHANCEMENT] Data chart widget enhancements"
**Describe the solution you'd like**
A number of features to enhance the chart widgets

- Allow user to insert optional axis labels

- Allow users to include optional max number of steps for the xAxis

- Remove vertical grid lines

[2020-08-20 08:47] damienderoistecso commented on #178
Should be fixed now

@JohnPCarroll ready for test

[2020-08-20 09:26] damienderoistecso commented on #181
@neilfromcork Can you take a look at this. It appears that the same result is coming back whether or not you pass the parameter "MtrCode" or not. Method I tested is "PxStat.Security.Analytic_API.ReadBrowser" but I think it is happening for other analytic methods also.

[2020-08-20 11:09] damienderoistecso commented on #184
@JohnPCarroll @liamie ready for testing.

[2020-08-20 12:22] neilfromcork commented on #181
Issue with MtrCode fixed for all Analytics. Ready for test

[2020-08-20 13:04] JohnPCarroll commented on #181
Test Failed. Formats chart for an individual still contains an overall total

[2020-08-20 13:19] JohnPCarroll commented on #178
Test passed

[2020-08-20 13:27] JohnPCarroll opened #185 "[BUG] Invalid daily time range displayed in pill when Search or listing page used"
**Describe the bug**
The incorrect daily time range is displayed for a table when the listing page or search option is used

**To Reproduce**
Searched for table CBM03 or selected from BERD Region listing

**Expected behavior**
Correct date should appear in the pill

**Screenshots**
Correct details taken form Last Updated page
![image](https://user-images.githubusercontent.com/44975474/90775698-0ce

[2020-08-20 13:33] liamie commented on #184
max number of steps for x-axis allows negative number you can use -20

[2020-08-20 13:35] neilfromcork commented on #181
@JohnPCarroll  - can you advise, which analytic item and which matrix code were used in the test?

[2020-08-20 13:43] JohnPCarroll commented on #181
If you use CBM03, A0103 or any Matrix the formats chart appears to be an overall total

[2020-08-20 14:16] damienderoistecso commented on #181
@JohnPCarroll format pie chart fixed

@neilfromcork can you check that we don't have any issue with what's returned i.e. Formats. Seems to always only be JSONstat 2.0 and csv

[2020-08-20 14:58] damienderoistecso commented on #184
Negative values no longer accepted

[2020-08-20 15:03] liamie commented on #184
xAxis Label and yAxis Label not reset with reset button
these labels still remain filled in even if bar chart type changed.

[2020-08-20 15:10] damienderoistecso commented on #184
@liamie should be resolved now

[2020-08-20 15:26] damienderoistecso commented on #184
If type is "Bar", change the description of the axes labels

[2020-08-20 16:21] damienderoistecso commented on #184
@liamie should be resolved now

[2020-08-21 08:37] JohnPCarroll commented on #181
Test passed for individual format pie chart

[2020-08-21 09:31] damienderoistecso opened #186 "[ENHANCEMENT] Analytics enhancements"
**Describe the solution you'd like**

- Review thresholds on read methods e.g. Increase thresholds on number of referrers and browsers. Review all methods for these thresholds

- Create a new method for User language to read the culture of the end user. Create new column chart on front end to display results

- Pass language in all methods so description can be translated where necessary e.g, "Oth

[2020-08-21 09:32] neilfromcork opened #187 "[ENHANCEMENT] Ensure all urls are blank for pre-release datasets"
Any format that contains a url to the dataset should be blank if the datset is pre-release (JSON-stat, XLSX)

[2020-08-21 09:56] neilfromcork opened #188 "[ENHANCEMENT] Create API to manage cache"
Create an API to:

- Flush the cache
- Return cache details

[2020-08-24 07:26] damienderoistecso commented on #188
@CHanamy57 We need to create a new front end entity for these API's. It will be at system/cache and me very similar to system/configuration in terms of access

[2020-08-24 13:27] damienderoistecso commented on #188
@neilfromcork @liamie Some changes required on the server side following front end review

- Rename "PxStat.Security.Cache_API.Refresh" to "PxStat.Security.Cache_API.FlushAll"

- Create a new API for flushing CAS caches called "PxStat.Security.Cache_API.FlushCAS" This will take an input parameter of CAS type

- Create a new API for returning the CAS types called "PxStat.Security.Cache_API.ReadCAS"

[2020-08-25 08:21] carolfinlay opened #189 "[BUG] Table widget shows codes instead of labels."
I brought a table from PxStat into T4 using the table widget, however the table didn't have any labels it only had codes

Thanks

Carol

[2020-08-25 08:33] damienderoistecso commented on #189
Fixed, table now displays labels instead of codes

[2020-08-25 08:45] damienderoistecso commented on #189
Tested in T4 environment. Works correctly now.

[2020-08-25 10:13] neilfromcork opened #190 "[ENHANCEMENT] Replace JSON-stat version 1.0 with version 1.1"
Replace JSON-stat version 1.0 with v1.1

[2020-08-25 14:35] damienderoistecso opened #191 "[ENHANCEMENT] Remove update property from "PxStat.Data.Cube_API.ReadPreMetadata" and "PxStat.Data.Cube_API.ReadPreDataset""
**Is your feature request related to a problem? Please describe.**
Remove "updated" from JSON-stat response for pre-release data

In px files, remove "CREATION-DATE" in all cases, and use "LAST-UPDATED" for live data. Use same logic for Excel

Update widgets that if no updated property, don't display any date

[2020-08-25 15:30] neilfromcork commented on #186
Server side complete. To read data for the language environment, see example API call below:
{
	"jsonrpc": "2.0",
	"method": "PxStat.Security.Analytic_API.ReadEnvironmentLanguage",
	"params": {
    "DateFrom":"2020-07-27",
    "DateTo":"2020-08-25",
	"LngIsoCode":"en"
}

}

[2020-08-26 08:55] neilfromcork commented on #191
Implemented for in API for PX, XLSX, JSON-stat 1.1, JSON-stat 2.0. If this is a live dataset and there is a Release start date, display the date as "updated" in JSON-stat, "Last Updated" in XLSX and LAST-UPDATED in PX.  Ready for test. @damienderoistecso

[2020-08-26 10:49] neilfromcork commented on #185
Fixed in DEV - ready for test. Please note that the periods may still be out of sync if (a) the search has already been cached or (b) the periods were inserted in non ascending order to begin with (e.g. SAPTHM4TBL6)

[2020-08-26 11:28] liamie commented on #188
Rename "PxStat.Security.Cache_API.Refresh" to "PxStat.Security.Cache_API.FlushAll"
done ready for testing

[2020-08-26 14:35] liamie commented on #190
Version change appears correctly in the front end and in the api format queries

[2020-08-27 08:04] damienderoistecso commented on #185
@JohnPCarroll ready for test

[2020-08-27 08:15] damienderoistecso commented on #186
@JohnPCarroll @liamie ready for test

[2020-08-27 08:35] damienderoistecso opened #192 "[BUG] Pivot table widget table not working"
**Describe the bug**
Pivoted table does not render when snippet is used

[2020-08-27 08:37] damienderoistecso commented on #192
Updated table.library.js

Pivot headings were using incorrect label

[2020-08-27 08:37] damienderoistecso commented on #192
Tested in T4, works correctly now

[2020-08-27 08:39] damienderoistecso commented on #191
Fixed in widget. Date is now not rendered for snippets for pre-release data

[2020-08-27 08:39] damienderoistecso commented on #191
Tested in T4, works correctly

[2020-08-27 10:01] liamie commented on #186
If the number of a language is very small its impossible to find out its figure by hovering over. as per example below there are two English also (found out by using api) this may also apply to other charts with disproportionate figures. Is there anyway to use the label also as a means of showing the figure?

![image](https://user-images.githubusercontent.com/55874862/91426084-ed563180-e853-11ea-9

[2020-08-27 10:25] liamie commented on #184
In charts if there is a large disproportion between figures it can be difficult to hover over to display the exact figure of small amounts. Is there alternative ways to display these amounts by tabbing between columns/bars, using the label or toggling values on/off.
![image](https://user-images.githubusercontent.com/55874862/91431141-de717e00-e857-11ea-9f1d-7569f6c16ecf.png)

[2020-08-27 10:36] damienderoistecso commented on #184
@liamie if you toggle the auto-scale in the options for this selection does it improve the chart?

[2020-08-27 10:48] damienderoistecso commented on #186
Tooltip now displays even if you hover above the column
@liamie ready for test

[2020-08-27 11:53] liamie commented on #184
@damienderoistecso toggle auto-scale offers little to no difference in this case as high and low numbers are far apart but in others where numbers are closer together it would improve a bit. A similar solution to Analytics enhancements
#186 with tooltip may partially address for bar/column charts.

[2020-08-28 09:04] damienderoistecso opened #193 "[ENHANCEMENT] Add download as CSV for table widgets"
**Describe the solution you'd like**
Include a link under the table to allow the user download the data as csv

[2020-08-28 11:27] neilfromcork opened #194 "[ENHANCEMENT] Extend the matrix cache to the upload process"
Extend the matrix cache to the upload process

Because a matrix is created when we validate, we have the opportunity to save time by cacheing it at validation time and using this cache when we upload, rather than creating the matrix all over again.

[2020-08-28 15:17] damienderoistecso commented on #193
CSV and print buttons now available for table widgets. Using datatables export extension.

[2020-08-28 15:44] damienderoistecso opened #195 "[ENHANCEMENT] Stop confirm modal and update report modals closing when you click outside the modal"
**Describe the solution you'd like**
When you click outside confirm modal and update report modals, the modal does not close

[2020-08-28 15:45] damienderoistecso commented on #195
Added data-backdrop="static" to modals

[2020-08-28 15:48] damienderoistecso opened #196 "[BUG] Data map joinBy hardcoded instead read from config"
**Describe the bug**
"AREA_ID" was hardcoded into map rendering code instead of being read from config

[2020-08-28 15:49] damienderoistecso commented on #196
Updated code to read from config

@JohnPCarroll @liamie ready for test

[2020-08-31 11:48] liamie commented on #195
@damienderoistecso This is still occurring for add language
![image](https://user-images.githubusercontent.com/55874862/91716792-35dd5a00-eb88-11ea-91d0-b72720950337.png)

[2020-08-31 13:55] JohnPCarroll commented on #185
Test passed. Latest matrix for CBM03 is correct

[2020-08-31 14:08] JohnPCarroll opened #197 "View data not working in Keyword\ Releases option[BUG]"
**Describe the bug**
When you select the View Data button the page goes into an endless loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the KeyWords\ Releases option
2. Select a table
3. Select any release number and the select the View Data Button

**Expected behavior**
The data should appear allowing you to select the relevant details required.

**Screenshots**
If applicable, a

[2020-08-31 15:01] neilfromcork commented on #194
Ready for test

[2020-09-01 07:29] neilfromcork commented on #197
No obvious problem on the server side or server side logs. Need to test with client side - @damienderoistecso

[2020-09-02 08:02] neilfromcork opened #198 "[BUG] Error on validation with multilingual px files with no timeval"
Error occurs when you try to validate a multilingual px file with no timeval

[2020-09-02 08:03] neilfromcork commented on #198
Fix complete - ready for test

[2020-09-02 08:07] neilfromcork opened #199 "[BUG] Error during Build parse for file with no timeval"
If you try to parse a px file with no timeval in BUILD, an error occurs.
The client calls 2 APIs for this - PxStat.Build.Build_API.Validate and PxStat.Build.Build_API.Read.

The Validate sends back a list of dimensions for the user to choose from as time dimensions. However it looks like the Read goes ahead before this choice can be made. This leads to an error due to there being no time dimension

[2020-09-02 14:24] Chriz-ONeill opened #200 "[ENHANCEMENT] Auto update of the spinner colours"
Update the Spinner to use the Bootstrap colours rather than custom one allowing the spinner colours to match the organisational colours requited.

[2020-09-03 08:12] damienderoistecso commented on #195
@liamie We only want this new action for the update report and confirm modals.

[2020-09-03 09:18] neilfromcork commented on #199
Fixed- ready for test @damienderoistecso

[2020-09-03 10:03] damienderoistecso commented on #197
@JohnPCarroll fixed in dev, ready for test

[2020-09-03 10:07] damienderoistecso commented on #199
This issue arose from #183

[2020-09-03 10:13] lorenzobruni commented on #200
Hi, I'm taking this request in for the next milestone possibly.

Things to do:
1. Amend the **Spinner Plugin** in the [Client-API-Library](https://github.com/CSOIreland/Client-API-Library) to support the Bootstrap background colors
2. Synch the changes in the PxStat project.

[2020-09-03 10:15] lorenzobruni commented on #188
@CHanamy57, once testing has passed, can you please raise an enhancement for building the relative Client interface?
Thanks

[2020-09-03 10:16] Chriz-ONeill commented on #200
Hi Lorenzo,

Thanks for that. Just glad I posted that OK!

Chris

From: Lorenzo Bruni [mailto:notifications@github.com]
Sent: 03 September 2020 11:13
To: CSOIreland/PxStat <PxStat@noreply.github.com>
Cc: O'Neill, Christopher <Christopher.O'Neill@nisra.gov.uk>; Author <author@noreply.github.com>
Subject: Re: [CSOIreland/PxStat] [ENHANCEMENT] Auto update of the spinner colours (#200)

Hi, I'm taking

[2020-09-03 10:21] lorenzobruni opened #201 "[BUG] Static label [upload-frequency-detected] went lost"
The static label `[upload-frequency-detected]` went lost somehow.
It was there previously, please diff the internationalization files and restore the missing entry.

![image](https://user-images.githubusercontent.com/53212047/92103093-61a24f00-edd7-11ea-84d0-a776fc1134d4.png)

[2020-09-03 10:40] JohnPCarroll commented on #197
Test passed

[2020-09-03 11:06] JohnPCarroll opened #202 "View Data - Charts not working in Keyword/Release option[BUG]"
**Describe the bug**
Development environment. The first time in  the chart is displayed but if you hover no information is provided. The link is missing the Matrix Code. the second time no chart appears

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Keyword/Releases and select Matrix A0102.
2. Click on View Data within this and select chart tab
3. Select Bar chart and create 2 series

[2020-09-03 11:52] damienderoistecso commented on #202
Issue with incorrect link fixed

[2020-09-03 12:12] JohnPCarroll commented on #202
Line charts look correct. The BAR and Column charts fail.  The following steps will create an error using Matrix A0102
First run
1. Selected Year 1996 and 1991
2. Series 1 contains Both sexes and State
3. Series 2 Contains Both sexes and Leinster
4. Chart is displayed
5. Select Reset button and the BAR chart
Second Run
1. Selected Year 1986 and 1981
2. Series 1 contains Both sexes and State
3. Ser

[2020-09-03 13:05] damienderoistecso commented on #199
Duplicate of #183

@JohnPCarroll @liamie can you test to make sure we can now upload a px file without a timeval in import, create/import and update

[2020-09-03 13:24] liamie commented on #199
This worked correctly for me in create, update and build with file EQQ02.px

[2020-09-03 13:42] liamie commented on #198
This seems to be correct now tested with E4081.px

[2020-09-03 13:45] #199 closed

[2020-09-03 14:09] damienderoistecso commented on #202
This was because @JohnPCarroll was pointing to the live widget library instead of dev. When pointing to dev widget code, chart rendered correctly

[2020-09-03 14:17] liamie opened #203 "[BUG] Other language options for Frequency appearing in Update and Create"
**Describe the bug**
Other language options for Frequency appearing in Update and Create
![image](https://user-images.githubusercontent.com/55874862/92125524-097b4500-edf7-11ea-998a-30d0e3bfe922.png)

**To Reproduce**
1. Go to 'Build > Create
2. Click on Import
Import a multi language file
or
1. Go to 'Build > Update
2. Upload a multi language file
2. Click on Parse

**Expected behavior**
Expect s

[2020-09-03 14:28] damienderoistecso commented on #203
@neilfromcork I suspect this might be a server side issue.

[2020-09-03 14:34] damienderoistecso commented on #202
I have also fixed an issue with the formatting of the axis for years

[2020-09-03 14:36] damienderoistecso commented on #202
@JohnPCarroll ready for test. Please do a hard re-load

[2020-09-03 14:50] JohnPCarroll commented on #202
Test passed for Bar and charts following hard reload.

[2020-09-03 16:13] damienderoistecso opened #204 "[ENHANCEMENT] Build/Update Allow users download custom csv data based on time dimension"
**Describe the solution you'd like**
When a user uploads a px file and then requests the csv template for this file, allow them to make a selection of data based on one or more timepoints. This is to accommodate extra large files.

Client side: Remove existing dropdown of options and replace with a button which opens a modal. This modal will present the user with a multiselect of timepoints which

[2020-09-03 17:18] neilfromcork opened #205 "[ENHANCEMENT] Replace Read CSV APIs in Build with one API"
Allow users to view CSV Build data based on:
- One period
- Several periods
- All periods

Also allow users to choose whether or not labels are to  be shown in the CSV output

[2020-09-04 07:35] neilfromcork commented on #203
Fixed - ready for test

[2020-09-04 09:22] damienderoistecso commented on #205
Duplicate of #204

[2020-09-04 09:22] #205 closed

[2020-09-04 10:36] liamie commented on #201
This is now appearing correctly on build options

[2020-09-04 10:39] liamie commented on #203
This is now appearing correctly on build options

[2020-09-04 14:06] damienderoistecso commented on #196
Test passed

[2020-09-04 14:10] damienderoistecso commented on #193
Committed against #184
Test passed

[2020-09-04 14:12] damienderoistecso commented on #187
@liamie Can you test this in John's absence

[2020-09-04 14:14] damienderoistecso commented on #186
@liamie Can you confirm that there are no further issue with this and mark as tested plaese. Assign to Lorenxo then please

[2020-09-04 14:15] damienderoistecso commented on #184
@liamie can you confirm that there are no further issues with this and mark as tested please. Thanks

[2020-09-04 14:18] damienderoistecso commented on #179
Test passecd

[2020-09-04 14:20] damienderoistecso commented on #176
Test passed

[2020-09-04 14:24] damienderoistecso commented on #112
Tested by @lorenzobruni on safari. Test passed.

[2020-09-04 14:34] liamie commented on #186
Yes this displays values when hover over now even on small numbers

[2020-09-04 14:39] damienderoistecso commented on #194
@liamie When testing this can you try and import px files using the following scenarios

- A regular import of a new px file

- An import of a matrix that is already a work in progress. You should receive a confirm modal.

- An import of a px file without a timeval. You should be prompted to confirm which dimension is frequency